<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
         <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co zde nalezneme?
      </h2>
      <p>V současnosti roste počet žen, které musí v období gravidity pravidelně užívat psychofarmaka z důvodu duševního onemocnění. Užívání psychofarmak pak bývá často nutné i v&nbsp;období po porodu a během laktace. Psychická pohoda ženy je nutným předpokladem pro navázání a následné prohlubování citové vazby matka-dítě, která je důležitá pro plnohodnotný vývoj dítěte. Neléčené duševní poruchy v&nbsp;poporodním období negativně ovlivňují kapacitu matky ke tvoření této citové vazby, což má dlouhodobé dopady na její dítě.  </p>
      <p>Kojení je všeobecně uznáváno jako nejpřirozenější metoda výživy novorozeného dítěte a také hraje roli při budování emočních vazeb mezi matkou a jejím dítětem. Většina léčiv přechází do mateřského mléka, a může tak negativně ovlivňovat organismus dítěte. Při volbě farmakologické intervence v&nbsp;tomto období musíme tedy zohledňovat bezpečnostní profil daných farmak, benefity kojení i to, zda matka chce své dítě kojit či nikoliv, a&nbsp;naši volbu tomuto rozhodnutí přizpůsobit.</p>
      <p>V&nbsp;otázkách psychofarmakologie při laktaci tedy musíme vyhodnotit všechna přítomná potenciální rizika u našich pacientek individuálně. Přinášíme proto: </p>
      <ol>
        <li>informace o specificích vybraných duševních poruch v&nbsp;poporodním období </li>
        <li>Informace o  psychofarmacích v laktaci</li>
      </ol>
      <h2>
         <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Pro koho je obsah určen?
      </h2>
      <p>Pro lékaře a lékařky, kteří mají v&nbsp;péči těhotné ženy a starají se o jejich duševní zdraví a chtějí svou péči poskytovat dle aktuálního stavu poznání. </p>
      <h2>
         <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak Vám můžeme pomoci?
      </h2>
      <p>Perinatální ambulance Národního ústavu duševního zdraví v&nbsp;Klecanech poskytuje konziliární vyšetření v&nbsp;oblasti psychofarmakologie v&nbsp;laktaci (pro informace kontaktujte <a href="mailto:ambulance@nudz.cz">ambulance@nudz.cz</a>).</p>
      <h2>
         <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Připravená témata
      </h2>
      <ul>
        <li>Obecná psychofarmakologie při kojení</li>
        <li>Antidepresiva a kojení</li>
        <li>Antipsychotika a kojení</li>
        <li>Benzodiazepiny a z-hypnotika a kojení</li>
        <li>Stabilizátory nálady a kojení</li>
        <li>Poporodní deprese</li>
        <li>Úzkostné poruchy po porodu</li>
        <li>Bipolární afektivní porucha po porodu</li>
        <li>Poporodní psychóza</li>
        <li>Schizofrenie po porodu </li>
      </ul>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
    </div>
  </div>
</section>
