<section class="main-box main-box--alone">
  <div class="container">
    <div class="main-box--wrapper">
      <div class="main-box--box">
        <img src="{{ asset('build/img/bg-3.svg') }}" alt="" class="main-box--bg">
        <span class="main-box--star-1 icon icon--icon-star-4-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-4-color"></use></svg>
      </span>
        <span class="main-box--star-2 icon icon--icon-star-5-2-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-5-2-color"></use></svg>
      </span>
        <div class="main-box--inner">
          <h3>O svých pocitech se nemusíte stydět mluvit. Naopak, sdílet to, co vás trápí, a vyhledat odbornou pomoc je velmi důležité a odvážné. Ve vyhledání odborné pomoci vám může kromě vašeho praktického lékaře nebo lékařky či gynekologa a gynekoložky pomoci také organizace
            <a href="https://www.usmevmamy.cz/" target="_blank">Úsměv Mámy</a>.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
