<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
{#      <img src="{{ asset('build/img/mother-8.svg') }}" alt="" class="hero-subpage--img">#}
      <div class="breadcrumb">
        <a href="{{ path('app_default_pageAction', {'slug':'pro-odborniky'}) }}" class="breadcrumb--text">Pro odborníky</a>
        <span class="breadcrumb--text">Těhotenství</span>
      </div>
      <h1>Důležitá témata spojená s&nbsp;duševními poruchami v&nbsp;těhotenství a jejich léčbou</h1>
    </div>
  </div>
</section>
