<section class="blog-detail-other-articles">
  <div class="container">
    <div class="blog-detail-other-articles--wrapper">
      <h2 class="h3">Další témata</h2>
      <div class="main-article--box">
        <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-deprese'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Poporodní deprese</span>
          <span class="main-article--box--text">Délka: 20min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
        <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-psychoza'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Poporodní psychóza</span>
          <span class="main-article--box--text">Délka: 20min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
        <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'zotaveni-z-tezkeho-porodu'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Zotavení z těžkého porodu</span>
          <span class="main-article--box--text">Délka: 25min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
      </div>
    </div>
  </div>
</section>
