<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh Paní Elišky V.</h3>
        <p>“Chtěla bych s vámi sdílet můj příběh těhotenských depresí. Zalovím proto v hlubokých vodách detailů, protože je to již 5 let zpátky a jak známo, paměť umí vytěsňovat. Nuže. Byla jsem poprvé těhotná, miminko bylo plánované, chtěné a moc jsme se na celé období těšili. Zajímal mě celý průběh i profesně, protože jsem byla v závěru několika let, co jsem se jako hobby zajímala o porody a končila jsem kurz na porodní dulu. V životě jsem žádné psychické problémy do té doby nezakusila, a tak mě překvapilo, co se mi to v tom “šťastném období ženy” začíná dít.</p>
        <p>Pocity, které jsem během těhotenské deprese zakusila, by se daly popsat jako surová osamocenost, totální zmar, absence jakékoliv naděje a neschopnost víry, že někdy bude zase lépe. Cítila jsem se úplně vykořeněná, nevnímala jsem žádné napojení na svou rodinu ani na dítě v břiše (bylo děsivé si toto sama sobě přiznat), cítila jsem nezměrnou lítost, že si těhotenství neužívám se vším, co k tomu patří. Ve fakt blbých chvílích jsem si přála, aby se mi něco stalo a nemusela jsem už nic řešit. Pak jsem se cítila neodvážná, že si něco neudělám sama. Po takových myšlenkách se ale dostavil pocit lítosti z empatie vůči mým blízkým a taky strach a hlavně to, že to takhle přece vůbec nechci! Že to chci zvládnout. Takže jsem si vždycky nějak pomohla sama, chytla jsem se i sebetenčího stébla a držela se ho. Také jsem cítila až nenávist ke kamarádkám, které těhotenstvím celé zářily, a vůbec jsem se s nimi nechtěla družit, protože to jen prohlubovalo mé sebeobviňování a pocity frustrace. Myslím, že podobné stavy zažívají i ženy v poporodních depresích a ty, které mají náročné děti. Že je ty přešťastné a zamilované matky s hodnými dětmi serou. Je to o to těžší, že miminko už je na světě a je třeba se o něj postarat…”</p>
        <p>Eliška V.</p>
        <p>
          <a href="https://www.usmevmamy.cz/2020/11/11/kvetnovy-pribeh-23-citila-jsem-az-nenavist-ke-kamaradkam-ktere-tehotenstvim-cele-zarily/" target="_blank" class="button">Přečíst celý příběh</a>
        </p>
      </div>
    </div>
  </div>
</section>
