<section class="main-box main-box--alone">
  <div class="container">
    <div class="main-box--wrapper">
      <div class="main-box--box">
        <img src="{{ asset('build/img/bg-3.svg') }}" alt="" class="main-box--bg">
        <span class="main-box--star-1 icon icon--icon-star-4-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-4-color"></use></svg>
      </span>
        <span class="main-box--star-2 icon icon--icon-star-5-2-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-5-2-color"></use></svg>
      </span>
        <div class="main-box--inner">
          <h3>Je možné, že se kromě těch relativně častých perinatálních psychických obtíží jako je deprese nebo úzkostné poruchy, sama potýkáte s jinými stavy, jako je například bipolární afektivní porucha nebo obsedantně kompulzivní porucha. Je také možné, že znáte někoho takového ve svém okolí.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
