<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Období po porodu je samo o sobě plné velkých změn hormonálních, emocionálních i sociálních, které mají vliv na kvalitu spánku. Jednou z velkých výzev období těsně po porodu je sžívání se s novým členem rodiny a sladit potřebu spánku miminka s tou Vaší. V praxi to znamená dát dohromady přibližně 17 hod. polyfázického spánku dítěte, a potřebu 7-9 hodin nepřerušovaného spánku dospělého.</p>
      <p>Novorozenci stráví spánkem až 2/3 času, přičemž většina dětí v období před nástupem do školy stráví více hodin spánkem než v bdělosti. Spánek je aktivní stav, který je pro děti důležitý z hlediska fyzického i psychického vývoje, učení, ukládání vzpomínek a emočního zrání. Bohužel pro rodiče, patří k tomuto období také časté noční probouzení a potíže s usínáním. Podle rozsáhlého průzkumu americké Národní nadace pro spánek (National Sleep Foundation) by si až 76 % rodičů přálo změnit spánek svého dítěte. Především se jedná právě o noční probouzení a potíže s usnutím. Pokud se proto sami sebe občas ptáte, zda je problém se spánkem dítěte Vaše vina, nevěste hlavu. Tyto potíže jsou opravdu velmi časté. Na druhou stranu má na spánek dítěte vliv i denní a noční režim rodičů. I proto se většina problému se spánkem u malých dětí dá vyřešit behaviorálními technikami, kterými můžete ulevit svému dítěti, a tím i sobě.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Spánek dítěte
      </h2>
      <h3>1.	Vytvořte pravidelný denní režim</h3>
      <p>Děti velmi dobře reagují na pravidelnost během dne i večera a dokáží se podle ní orientovat. Pravidelný režim pomáhá seřídit jejich vnitřní hodiny (cirkadiánní rytmus) s okolím, což je velmi důležité i z hlediska spánku. Pokud má dítě pravidelný čas uléhání a vstávání každý den, postupně si na tento režim zvykne a bude lépe usínat.</p>
      <p>Během prvního roku, a především na jeho začátku, je třeba přizpůsobit se potřebám dítěte. Nicméně již od 6 – 8. týdne je možné postupně zavádět pravidelnou dobu uléhání, vstávání i denního spánku. Začít můžete s pravidelným ranním vstáváním a večerním uléháním. Pokud bude mít Vaše dítě dostatečné množství spánku, klidně jej můžete ráno vzbudit, abyste dodrželi pravidelný režim.</p>
      <p>Během dne zahrňte činnosti, které Vaše dítě dělá či potřebuje přirozeně, a snažte se konzistentně držet jejich stejné pořadí. Pro velmi malé děti může být potřeba denního spánku každé dvě hodiny od posledního probuzení, zatímco batolatům se dá určit konkrétní čas pro spánek během dne. Stejně tak podpoří pravidelný režim plánové časy krmení. U batolat je také nápomocné určit pravidelnou dobu pro hraní během dne.</p>
      <p>Pamatujte, že pro výsledky je potřeba dodržovat tato doporučení konzistentně delší dobu. Je tedy možné, že první efekt se dostaví až po několika týdnech. Pokud však vytrváte, stane se z těchto změn běžná denní a večerní rutina, která se dodržuje snáze.</p>
      <h3>2.	Dodržujte rutinu před spaním</h3>
      <p>Ukolébavka, koupel, čtení pohádek, oblíbená hračka v postýlce…, to vše může patřit do každodenní „usínací“ rutiny dítěte. Může se to jevit jako banální věc, nicméně i výzkumy ukazují, že vytvoření rituálů před spaním pomáhá dítěti spát déle a méně se v noci budit. Tento efekt je patrný především u dětí, u kterých se pravidelný rituál před spaním zavedl co nejdříve po narození a často se opakuje (ideálně většinu dní v týdnu). Opakováním stejného rituálu si totiž dítě vytvoří asociaci mezi danou činností, např. koupelí, a spánkem. Tento rituál se tedy časem stane signálem pro dítě, že je čas uložit se ke spánku a usnout.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co udělat pro sebe
      </h2>
      <p>Nekvalitní spánek k období těsně po porodu neodmyslitelně patří a je třeba s ním do jisté míry počítat (a myslet na to, že to není na pořád). Neznamená to však, že byste museli akceptovat několik bezesných nocí za sebou jako normu, obzvlášť pokud se k nim přidává výrazná úzkost či pokleslá nálada. Níže jsou uvedena doporučení, která Vám mohou pomoci toto období zvládnout.</p>
      <h3>1.	Slaďte spánek se svým miminkem</h3>
      <p>Snažte se během dne spát v čase, kdy spí Vaše miminko. Obzvlášť v období kojení je důležité využít každou volnou chvíli pro spánek, nebo alespoň odpočinek. I 20 minut relaxace pomůže zregenerovat organismus a načerpat energii, pokud se Vám zrovna nedaří usnout.</p>
      <h3>2.	Myslete na svůj pravidelný režim</h3>
      <p>Pravidelný režim je velmi důležitý pro kvalitní spánek. V období po porodu jistě není snadné držet stejný rytmus jako před ním. Pokuste se dodržovat alespoň částečně pravidelnost. Choďte spát každý den ve stejnou dobu a pokuste se zavést i pravidelnou dobu vstávání.</p>
      <h3>3.	Nastavte si svou „ukolébavku“</h3>
      <p>Stejně jako má Vaše miminko rutinu před spaním v podobě ukolébavky či jiné příjemné činnosti, vyčleňte si i Vy chvilku pro sebe. Myslete na svůj zklidňující rituál, který Vám večer pomůže naladit se ke spánku. Pomoci může horká koupel, poslech příjemné hudby, relaxační cvičení, čtení knížky. To špinavé nádobí ve dřezu (nebo alespoň jeho část) jistě vydrží do druhého dne. Nezapomínejte na sebe.</p>
      <h3>4.	Řekněte si o pomoc a odpočiňte si</h3>
      <p>Poproste partnera, prarodiče, příbuzné o občasné pohlídání dítěte a udělejte si chvilku volného času pro sebe. Spousta maminek má pocit, že musí být s dítětem 24 hodin 7 dní v týdnu bez přestávky, aby bylo spokojené. Pokud se ale podíváme na spokojenost maminky, je stejně důležitá pro zdraví dítěte jako čas strávený s ním. Pokud se cítíte spánkově deprivovaní či vyčerpaní, určitě je dobrý nápad vyčlenit si alespoň pár hodin pro odpočinek a poprosit o hlídání dítěte někoho jiného. Tento čas můžete věnovat spánku či jakékoliv jiné formě odpočinku.</p>
      <h3>5.	Světlo a pohyb</h3>
      <p>Zařaďte do každého dne pohyb, ideálně venku na denním světle. Pravidelná ranní procházka s kočárkem Vám může pomoci dobít baterky po probdělé noci a denní světlo podpoří cirkadiánní rytmus, naše vnitřní hodiny, které řídí střídání spánku a bdění. Pravidelný spánkový režim a pobyt na světle co nejdříve po ranním probuzení pomáhá tyto hodiny seřídit a tím zlepšit kvalitu spánku.</p>
      <h3>6.	Práce s obavami kolem spánku</h3>
      <p>Pokud máte nadměrné obavy o svůj spánek, zkuste na svou situaci pohlížet s větším odstupem. Toto období nebude trvat věčně. Myslete na to, že jde o určitou fázi vývoje dítěte, ke které patří také změny spánku. Postupně by se měl spánek Vašeho dítěte upravovat, a tím i ten Váš. Pokud však máte pocit, že už nevíte, jak dál, máte silné úzkosti či dlouhodobě skleslou náladu, neváhejte kontaktovat odbornou pomoc.</p>
    </div>
  </div>
</section>
