<section class="main-box main-box--alone">
  <div class="container">
    <div class="main-box--wrapper">
      <div class="main-box--box">
        <img src="{{ asset('build/img/bg-3.svg') }}" alt="" class="main-box--bg">
        <span class="main-box--star-1 icon icon--icon-star-4-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-4-color"></use></svg>
      </span>
        <span class="main-box--star-2 icon icon--icon-star-5-2-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-5-2-color"></use></svg>
      </span>
        <div class="main-box--inner">
          <h3>Po porodu je velmi obvyklé, že se u maminky objeví tzv. „baby blues,“ tedy emoční přecitlivost, obavy a úzkosti ohledně miminka. Tento stav je způsoben hormonálními změnami v&nbsp;těle a zpravidla do dvou týdnů od porodu odezní. Pokud však u vás po většinu času převažuje smutná nálada, ztráta radosti a zájmů či pocity viny, může se jednat o depresi.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
