<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jaké mohou být symptomy poporodní deprese?
      </h2>
      <ul>
        <li>Skleslá nálada</li>
        <li>Převažující pocity smutku</li>
        <li>Pokleslá nálada se během dne výrazně nemění</li>
        <li>Málo energie a snížená aktivita</li>
        <li>Zvýšená únavnost</li>
        <li>Apatie</li>
        <li>Zhoršená schopnost radovat se</li>
        <li>Ztráta zájmu o aktivity, které dříve byly vnímány jako příjemné</li>
        <li>Snížené sebevědomí a sebedůvěra</li>
        <li>Pocity viny i z drobných událostí až pocity bezcennosti</li>
        <li>Myšlenky na sebevraždu</li>
        <li>Citelné zpomalení v pohybu, mimice, gestikulaci i v myšlení (pocit, jako by svět byl „za mlhou“)</li>
        <li>Agitovanost, neklid, nepokoj, podrážděnost</li>
        <li>Problémy se spánkem: nespavost a časné ranní probouzení, nebo naopak nadměrná spavost, ale bez pocitu odpočinutí</li>
        <li>Změna chuti k jídlu</li>
        <li>Ztráta libida</li>
        <li>Změny nálady nejsou výrazně ovlivnitelné vnějšími událostmi</li>
      </ul>
      <p>Příznaky přetrvávají alespoň 2 týdny. Nemusí se objevit všechny a zároveň mohou být různé intenzity. Bez pomoci však mají tendenci se prohlubovat.</p>
      {#      <p><b>Pokud myslíte na to, že byste si mohla ublížit nebo ukončit svůj život, je důležité o svých pocitech někomu říct. Obraťte se na svého partnera, rodinného příslušníka, kamarádku, lékaře nebo zavolejte na jednu z krizových linek, které fungují celorepublikově a nonstop:</b></p>#}
      {#      <h4>#}
      {#        Pražská linka důvěry: <a href="tel:222 580 697">222 580 697</a>#}
      {#      </h4>#}
      {#      <h4>#}
      {#        Linka první psychické pomoci: <a href="tel:116 123">116 123</a>#}
      {#      </h4>#}
      <div class="blog-detail--call-box">
        <p>Pokud myslíte na to, že byste si mohla ublížit nebo ukončit svůj život, je důležité o svých pocitech někomu říct. Obraťte se na svého partnera, rodinného příslušníka, kamarádku, lékaře nebo zavolejte na jednu z krizových linek, které fungují celorepublikově a nonstop:</p>
        <div>
          <div class="blog-detail--call-box--row">
            <h3>Pražská linka důvěry:</h3>
            <a href="tel:222 580 697">222 580 697</a>
          </div>
          <div class="blog-detail--call-box--row">
            <h3>Linka první psychické pomoci:</h3>
            <a href="tel:116 123">116 123</a>
          </div>
        </div>
      </div>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak častá je poporodní deprese?
      </h2>
      <p>I když vám to tak nyní možná připadá, se svými pocity nejste sama. Více než jedna z deseti maminek zažije do jednoho roku po porodu svého dítěte depresivní epizodu. Také
        <a href="{{ path('app_default_pageAction_forLovedOnes', {'slug':'dusevni-zdravi-otcu'}) }}">otcové</a> mohou s depresí po narození potomka bojovat. Je důležité uvědomit si, že za své pocity nemůžete a že deprese není vaším selháním. Dá se účinně léčit. Nebojte se říct si o pomoc.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co depresi způsobuje?
      </h2>
      <p>Za své pocity byste se neměla obviňovat. Deprese se může rozvinout u kohokoliv, není to vaše chyba.</p>
      <p>Zvýšené riziko rozvinutí deprese po porodu však mají ženy, které</p>
      <ul>
        <li>V minulosti trpěly psychickými obtížemi, především se již potýkaly s depresí</li>
        <li>Měli psychické potíže během těhotenství</li>
        <li>Nemají oporu v blízkých vztazích</li>
        <li>Mají problémy ve vztahu se svým partnerem</li>
        <li>Se v nedávné době potýkaly s náročnými stresujícími životními událostmi</li>
        <li>Zažily <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'smisene-pocity-po-porodu'}) }}">baby blues</a></li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Kam se obrátit pro pomoc?
      </h2>
      <p>I když to může být těžké, je důležité si o svých pocitech promluvit s někým, komu důvěřujete. Možná vám teď připadá, že vám okolí nemůže porozumět, nevyznáte se sama v sobě, nechápete, odkud se špatné pocity berou. Říct si o pomoc je nicméně důležitým a odvážným krokem, který začíná úspěšnou léčbu.</p>
      <ul>
        <li>Promluvte si se svým partnerem, rodinným příslušníkem, kamarádkou nebo kamarádem</li>
        <li>Obraťte se na svého gynekologa či praktického lékaře</li>
        <li>Zavolejte na jednu z celorepublikových nonstop krizových linek (Pražská linka důvěry: <a href="tel:222 580 697">222 580 697</a>; Linka první psychické pomoci:
          <a href="tel:116 123">116 123</a>)</li>
        <li>Obraťte se na organizaci <a href="https://www.usmevmamy.cz/" target="_blank">Úsměv mámy</a>, kde se můžete spojit s maminkami, které během těhotenství bojovaly se stejnými pocity</li>
      </ul>
      <p>Dále patrně budete odkázána na odborníka v oblasti duševního zdraví v těhotenství, který vám pomůže nastavit vhodnou léčbu deprese a pomůže vám projít tímto náročným obdobím.</p>
      <h2>
        <span class="icon icon--icon-medical-hospital-color">
          <svg class="icon__svg"><use xlink:href="#icon-medical-hospital-color"></use></svg>
        </span>
        Léčba deprese
      </h2>
      <p>Léčba deprese se zpravidla skládá z kombinace technik, které můžete provádět sama, psychoterapie a případně farmakologické léčby. Přístup ke klientovi je vždy zcela individuální. Záleží na jeho aktuální situaci a možnostech na vážnosti symptomů nebo na předchozí historii duševního onemocnění. Co vyhovuje a pomůže jedné ženě, nemusí vyhovovat a pomoct druhé. Nebojte se daného odborníka na cokoliv ptát a vyslovit jakékoliv své obavy či znepokojení. Pro jaký typ léčby deprese se rozhodnete bude vždy vaše rozhodnutí. Odborník vám postup může doporučit, vysvětlí jeho principy, výhody a případná rizika a zodpoví všechny vaše otázky.</p>
      <p>U užívání psychofarmak po porodu a při kojení si můžete přečíst <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'leky-v-tehotenstvi'}) }}">více zde.</a></p>
      <h2>
        <span class="icon icon--icon-medical-brain-color">
          <svg class="icon__svg"><use xlink:href="#icon-medical-brain-color"></use></svg>
        </span>
        Jak můžete s depresí už nyní bojovat?
      </h2>
      <ul>
        <li>Promluvte si s někým, komu důvěřujete, o svých pocitech, např. s partnerem, rodinným příslušníkem, blízkým kamarádem</li>
        <li>Identifikujte, jaké situace vám působí největší stres, a zkuste je co nejvíc minimalizovat. I když to ne vždy lze a někdy je to velmi těžké</li>
        <li>Zařaďte do každého dne pravidelný pohyb, procházky a pobyt na čerstvém vzduchu – pokud to jde</li>
        <li>Vyzkoušejte těhotenskou jógu, techniky mindfulness, meditaci a relaxační cvičení</li>
        <li>Jezte pravidelně a zdravě alespoň třikrát denně, i když nemáte chuť k jídlu</li>
        <li>Vyhněte se alkoholu, cigaretám a kofeinu. Mohou špatné pocity ještě zhoršit a ublížit vašemu děťátku</li>
        <li>Další informace, jak o sebe pečovat, naleznete na webu <a href="https://www.opatruj.se/" target="_blank">Opatruj.se</a></li>
        <li>Zkuste pracovat s naší aplikací <a href="https://www.kogito.cz/" target="_blank">Kogito</a></li>
      </ul>
    </div>
  </div>
</section>
