<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/hands-2.svg') }}" alt="" class="hero-subpage--img">
      <h1>
        Důležitá témata spojená s&nbsp;psychikou po porodu
        <small>Pro blízké</small>
      </h1>
    </div>
  </div>
</section>
