<section class="blog-detail-other-articles">
  <div class="container">
    <div class="blog-detail-other-articles--wrapper">
      <h2 class="h3">Další témata</h2>
      <div class="main-article--box">
        <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'strach-z-porodu'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Strach z porodu (tokofobia)</span>
          <span class="main-article--box--text">Délka: 13min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
        <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'deprese-v-tehotenstvi'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Deprese v těhotenství</span>
          <span class="main-article--box--text">Délka: 15min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
        <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'dalsi-dusevni-potize-v-tehotenstvi'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Další duševní potíže v těhotenství</span>
          <span class="main-article--box--text">Délka: 16min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
      </div>
    </div>
  </div>
</section>
