<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh Paní V. maminky</h3>
        <p>„Moje cesta za mateřstvím byla provázena doslova duněním biologických hodin. Ne snad, že bych ho nějak extrémně odkládala, alespoň ne na dnešní poměry, ale vhodné podmínky prostě nenastaly hned. Samotná snaha o početí také neprobíhala zrovna dvakrát hladce, takže v okamžiku, kdy jsem konečně otěhotněla, mě sice zaplavil pocit štěstí, ale ten byl brzy vystřídán pocity poněkud odlišnými.</p>
        <p>Zmocnil se mě totiž strach, který postupně narůstal. Nechtěla jsem o svůj požehnaný stav za žádnou cenu přijít a nedokázala jsem se postavit nepříjemným myšlenkám, které se mi tu a tam vkrádaly do hlavy. Toužila jsem mít pod kontrolou veškeré okolnosti a asi nemusím zdůrazňovat, že to prostě nejde. A jak to vypadalo konkrétně?</p>
        <p>No nejdřív celkem nevinně, prostě jsem neustále studovala, co těhotné mohou a nemohou. Je opravdu s podivem, kolik nesmyslným informací se můžeme dočíst na některých stránkách i v některých časopisech. Racionální uvažování však u mě tehdy ustupovalo do pozadí, takže jsem se preventivně řídila všemi radami. Člověk by řekl, že jsem pak měla konečně klid, ovšem tak to bohužel v reálu nefunguje. Jakmile se nějaké své obavě podřídíte, mysl to bere jako signál k vytvoření další. A ty byly čím dál víc absurdní, čehož jsem si byla plně vědoma, ale přesto jsem se jich nebyla schopná zbavit.</p>
        <p>Už tehdy se ve mně rozsvítila červená kontrolka a rozhodla jsem se vyhledat pomoc psycholožky. Možná tomu nikdo neuvěří, ale já jsem sice vždycky byla poněkud labilní, ale rozhodně ne přehnaně úzkostlivá a bojácná. Nové pocity mě tak celkem vyděsily.”</p>
        <p>
          <a href="https://www.usmevmamy.cz/2020/07/26/uplne-nejvic-me-desily-ruzne-nemoci/" target="_blank" class="button">Přečíst celý příběh</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
