<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Duševní pohoda
      </h2>
      <p>Je naprosto normální, že během těhotenství cítíte určité obavy – o sebe, o miminko, o rodinu, o to, jak budete všechno zvládat. Stejně tak jsou normální změny nálad nebo větší citlivost. Pokud vám však tyto pocity komplikují každodenní fungování, strach a/nebo smutná nálada u vás po většinu dne převládají a máte pocit, že je nemůžete kontrolovat, možná se potýkáte s vážnějšími duševními problémy, jako jsou <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'uzkosti-a-panické-poruchy'}) }}">úzkosti</a> a <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'deprese-v-tehotenstvi'}) }}">deprese</a>. V takovém případě se obraťte na svého partnera či na své blízké, na gynekologa či praktického lékaře, na odborníka v oblasti duševního zdraví nebo třeba na organizaci <a href="https://www.usmevmamy.cz/" target="_blank">Úsměv mámy</a>. Pokud si chcete udržovat duševní pohodu, tak si také můžete třeba stáhnout aplikaci <a href="https://www.kogito.cz/" target="_blank">Kogito</a>.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Zvládání starostí a stresu během těhotenství
      </h2>
      <p>Co můžete udělat, abyste pomohla svému duševnímu zdraví v těhotenství?</p>
      <ul>
        <li>Nebojte se o svých pocitech mluvit. Pro některé ženy je těžké sdílet své obavy či negativní myšlenky, protože se od nich očekává, že těhotenství bez problémů zvládnou. Ve skutečnosti se jedná o fyzicky i duševně náročné období. Promluvte si s partnerem, s kamarádkou nebo využijte diskusních online fór. Nebojte se oslovit také svého lékaře nebo odborníka v oblasti duševního zdraví.</li>
        <li>Zkuste identifikovat věci či situace, které vám působí největší stres. Je možné je odstranit nebo alespoň minimalizovat? Pokud se jedná o úkoly, kterým se nelze vyhnout, nastavte jim prioritu a postupně se jim věnujte od nejdůležitějších po ty nejméně důležité.</li>
        <li>Někdy se obáváme věcí, o kterých toho moc nevíme. Zjistit si relevantní a vědecky podložené informace vám může pomoct získat zpět pocit kontroly nad situací.</li>
        <li>Najděte si čas na sebe a na své koníčky. Vyzkoušejte relaxační techniky, meditaci nebo těhotenskou jógu.</li>
        <li>Zkuste trávit dostatek času venku na čerstvém vzduchu a prioritizujte zdravé jídlo pravidelně alespoň 3x denně.</li>
        <li>Vyhněte se alkoholu, cigaretám a kofeinu.</li>
        <li>Další informace, jak pečovat o svou duševní pohodu, najdete třeba na webu <a href="https://www.opatruj.se/pece-o-sebe" target="_blank">Opatruj.se</a></li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Partnerský vztah
      </h2>
      <p>Příchod potomka přinese do vašeho života plno změn. Už samotné těhotenství může do partnerství přinést zcela nové výzvy. Během komunikace se svým partnerem zkuste:</p>
      <ul>
        <li>Mluvit o tom, jak se cítíte nyní i ohledně budoucnosti po příchodu miminka. O tom dobrém, i o tom špatném. Zkuste vysvětlit svůj úhel pohledu a být co nejvíc konkrétní ve svých potřebách. Hledejte společné řešení bez obviňování toho druhého.</li>
        <li>Mluvit o rituálech, které považujete za důležité.</li>
        <li>Mluvit o tom, jak budete vychovávat svého potomka.</li>
        <li>Být upřímní ohledně svých sexuálních potřeb.</li>
      </ul>
      <p>Je normální, že během těhotenství se váš zájem o sexuální život bude měnit. Některé ženy mají během těhotenství o sex zájem, jiné ne. Je řada důvodů, proč může docházet ke změnám libida během těhotenství: např. ranní nevolnosti a únava, nejistota ohledně fyzických změn Vašeho těla nebo i obava o miminko. O všech pocitech je v pořádku s partnerem mluvit. Sex během těhotenství je naprosto bezpečný (pokud vám lékař ve vašem případě neřekl něco jiného). Zároveň ale existuje řada jiných způsobů intimního sblížení s partnerem.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Vztah s rodinou a s přáteli
      </h2>
      <p>Rodina a přátelé mohou být během těhotenství skvělou oporou. Můžete se na ně obrátit, když potřebujete vyslechnout nebo když potřebujete poradit od přátel, kteří už miminko májí. Někdy ale naši blízcí mohou být zainteresovaní až příliš. Některé rady jsou zkrátka nevyžádané. Může se stát, že vaši blízcí budou kritizovat rozhodnutí, která ohledně sebe a svého těhotenství učiníte. Takové situace můžou být velmi náročné a stresující. Pokud k tomu dojde, zkuste jim klidně vysvětlit, že o některých věcech můžete rozhodovat jenom vy se svým partnerem a přála byste si, aby vám nechali prostor. V takových případech je také výhodou, když je partner na Vaší straně a tyto pocity s ním komunikujete.</p>
      <p>Důležité je uvědomit si, že jde o vaše těhotenství a vaše miminko a tento fakt by mělo respektovat i vaše okolí. Nebojte se rozhodnout se tak, jak sama cítíte, že je to správné.</p>
    </div>
  </div>
</section>
