<section class="blog-detail-other-articles">
  <div class="container">
    <div class="blog-detail-other-articles--wrapper">
      <h2 class="h3">Další témata</h2>
      <div class="main-article--box">
        <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'leky-v-tehotenstvi'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Léky v těhotenství</span>
          <span class="main-article--box--text">Délka: 8min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
        <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'jak-vyhledat-pomoc'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Jak vyhledat pomoc</span>
          <span class="main-article--box--text">Délka: 6min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
      </div>
    </div>
  </div>
</section>
