<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh anonymní maminky</h3>
        <p>„Popisy poporodní deprese na mě docela seděly, ale zase ne úplně, taky jsem si uvědomovala, že mám už z dřívějška obsedantně kompulzivní poruchu, ale spíš jen přehnaný kontrolování, jestli jsem pořádně zavřela dveře nebo vypla vařič, neuvědomovala jsem si, že přehnaný strach ze špíny a drhnutí různých skvrn funguje stejně.</p>
        <p>Byly dny, kdy jsem se bála cokoliv udělat nebo to musela opakovat, aby se někomu něco nestalo. Furt dokola si mýt ruce, natáčet vodu do skleničky, když se chci napít, přepisovat slova, který napíšu, zhasínat a rozsvícet a plno dalších každodenních věcí. A k tomu furt ten strach, že venku do něčeho hnusnýho šlápnu, na něco šáhnu nebo na mě šáhne někdo cizí.“</p>
        <p>
          <a href="https://www.usmevmamy.cz/2020/11/11/kvetnovy-pribeh-18-preskakuju-divny-skvrny-na-ulici-bojim-se-myt-ovoce-a-nejsem-schopna-jit-sama-nakoupit/" target="_blank" class="button">Přečíst celý příběh</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
