<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
    <p>Přibližně u jedné čtvrtiny těhotných žen se stabilizovanou BAP dojde během těhotenství k relapsu onemocnění. Nejčastěji kvůli samovolnému vysazení medikace <a href="#literatura1">(2)</a>. Těhotenství samotné však není považováno za rizikový faktor pro nový rozvoj BAP <a href="#literatura3">(3)</a>.  </p>
    <p>Zvýšené riziko předčasného porodu (před 37. gestačním týdnem) u žen s BAP bylo prokázáno ve čtyřech velkých populačních studiích. McCabe et al. (2007) popsali nárůst šance výskytu předčasného porodu (odds ratio, OR = 1,4; 95% CI = 1,2–1,6) ve skupině 5 618 žen s&nbsp;afektivní psychózou v&nbsp;porovnání s&nbsp;46 246 kontrolami. Riziko zůstalo statisticky signifikantně zvýšené i po započtení vlivu kouření, věku matky a komorbidní hypertenzní nemoci. Riziko se téměř zdvojnásobilo (OR = 2,7; 95% CI  = 1,7–4,2) v&nbsp;případě, že u ženy došlo k&nbsp;relapsu afektivní epizody během těhotenství. Limitací této studie je však absence informací o případné farmakoterapii během těhotenství a heterogenita souboru, který zahrnul i ženy s&nbsp;jinou diagnózou než BAP <a href="#literatura4">(4)</a>.  </p>
    <p>Ve studii založené na datech z&nbsp;taiwanského zdravotnického registru, studující 337 těhotných s&nbsp;BAP a více než 50 000 kontrol, bylo předčasně narozeno 14,6 % vs. 6,9 % dětí (kontrolované OR = 2,1; 95% CI = 1,5–2,8), avšak i v&nbsp;této studii chybí data o konzumaci farmakologické léčby <a href="#literatura5">(5)</a>. </p>
    <p>Nárůst relativního rizika předčasného porodu (kontrolované OR = 1,9; 95% CI = 1,7–2,3) byl popsán i u skupiny 1 859 žen, které byly 5 let před sledovaným těhotenstvím hospitalizovány pro BAP, v&nbsp;porovnání s&nbsp;432 358 žen bez duševního onemocnění. Síla této studie spočívá&nbsp;ve velkém počtu kontrolovaných faktorů, mezi něž patřil například diabetes mellitus, hypertenze, trombo-embolická nemoc a kouření v&nbsp;těhotenství <a href="#literatura10">(10)</a>.  </p>
    <p>Zatím jedinou studií zkoumající efekt léčené a neléčené BAP na těhotenství a vývoj plodu je práce Bodéna et al. z roku 2012 <a href="#literatura7">(7)</a>. Studie zahrnovala 320 žen léčených psychofarmaky (stabilizátory nálady, antipsychotiky), 554 neléčených žen a kontrolní soubor 331 263 žen bez BAP. Autoři zaznamenali u obou skupin s BAP vyšší riziko předčasného porodu (kontrolované OR = 1,5; CI 95% = 1,01–2, 2 a OR = 1,5; CI 95% = 1,1–2,0). Mezi sledované známé rizikové faktory patřilo např. kouření v&nbsp;těhotenství a užívání návykových látek.  </p>
    <p>Jablensky et al. (2005) ve studii pozorující 1 301 těhotných žen s&nbsp;BAP a 1 831 kontrol jako jediní nenalezli zvýšené riziko předčasného porodu (OR = 0,8; 95% CI = 0,6–1,1) <a href="#literatura8">(8)</a>. </p>
    <p>Souvislost mezi BAP v&nbsp;těhotenství a nízkou porodní váhou novorozence (< 2 500 g) zkoumaly tři z&nbsp;výše uvedených studií. Zvýšené riziko bylo nalezeno ve dvou z&nbsp;nich <a href="#literatura4">(4, 5)</a>. McCabe et al. (2007) popsali kontrolované OR u stabilizovaného psychiatrického onemocnění v těhotenství 1,2 (95% CI = 1,0–1,4) a OR u relapsu afektivní poruchy v&nbsp;těhotenství 2,2 (95% CI = 1,3–3,8); Lee a Lin (2012) nalezli kontrolované OR 1,7 (95% CI = 1,2–2,4). Ve&nbsp;třetí práci nebyla asociace mezi BAP v&nbsp;těhotenství a nízkou porodní váhou novorozence potvrzena <a href="#literatura8">(8)</a>. </p>
    <p>Vyšší riziko narození hypotrofického dítěte (porodní váha nižší než 10. percentil) matce s&nbsp;BAP bylo prokázáno u dvou z&nbsp;pěti výše popisovaných výzkumů <a href="#literatura4">(4, 5)</a>. V&nbsp;práci McCabe et al. (2007) byla asociace signifikantní jen u skupiny s&nbsp;relapsem onemocnění (OR = 2,4; 95% CI = 1,3–4,2); Lee and Lin (2012) popsali OR 1,5 (95% CI = 1,1–1,9).  </p>
    <p>Mezi nejčastěji užívané <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'stabilizatory-nalady-a-tehotenstvi'}) }}">stabilizátory nálady</a> v&nbsp;léčbě BAP patří lithium a dále některá antiepileptika. V poslední době se také využívá náladu stabilizující <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'antipsychotika-a-tehotenstvi'}) }}">efekt antipsychotik druhé generace </a>(atypických).</p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Merikangas KR, Jin R, He JP, et al. Prevalence and correla-tes of bipolar spectrum disorder in the world mental heal-th survey initiative. Arch Gen Psychiatry. 2011; 68(3): 241–251.
        </li>
        <li id="literatura2">
          Viguera AC, Whitfi eld T, Baldessarini RJ, et al. Risk of recu-rrence in woman with bipolar disorder during pregnancy: prospective study of mood stabilizer discontinuation. Am J Psychiatry. 2007; 164(12): 1817–1824
        </li>
        <li id="literatura3">
          Mota N, Cox BJ, Enns MW, et al. The relationship between mental disorders, quality of life, and pregnancy: findings from a nationally representative sample. J Affect Disord. 2008; 109(3): 300–304
        </li>
        <li id="literatura4">
          McCabe JH, Martinsson L, Lichtenstein P, et al. Adverse pregnancy outcomes in mothers with aff ective psychosis. Bipolar Disord. 2007; 9(3): 305–309
        </li>
        <li id="literatura5">
          Lee  HC,  Lin  HC.  Maternal  bipolar  disorder  increased  low  birthweight and preterm births: a nationwide population-ba-sed study. J Aff ect Disord. 2010; 121(1–2): 100–105.
        </li>
        <li id="literatura6">
          Mei-Dan E, Ray JG, Vigod SN. Perinatal outcomes among women  with  bipolar  disorder:  a  population-based  cohort  study. Am J Obstet Gynecol. 2015; 212(3): 367.e1–8.
        </li>
        <li id="literatura7">
          Bodén R, Lundgren M, Brandt L, et al. Risk s of adverse preg-nancy and birth outcomes in women treated or not treated with mood stabilisers for bipolar disorder: population based cohort study. BMJ. 2012; 8;345: e7085
        </li>
        <li id="literatura8">
          Jablensky AV, Morgan V, Zubrick SR, et al. Pregnancy, de-livery,  and  neonatal  complications  in  a  population  cohort  of women with schizophrenia and major aff ective disorde-rs. Am J Psychiatry. 2005; 162(1): 79–91.
        </li>
      </ol>
    </div>
  </div>
</section>
