<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper hero-subpage--wrapper--bigger">
      <img src="{{ asset('build/img/mother-8.svg') }}" alt="" class="hero-subpage--img">
      <div class="breadcrumb">
        <a href="{{ path('app_default_pageAction', {'slug':'pro-odborniky'}) }}" class="breadcrumb--text">Pro odborníky</a>
        <a href="{{ path('app_default_pageAction_forProfessionals', {'slug':'po-porodu'}) }}" class="breadcrumb--text">Po porodu</a>
        <span class="breadcrumb--text">Obecná psychofarmakologie v&nbsp;laktaci </span>
      </div>
      <h1>Obecná psychofarmakologie v&nbsp;laktaci </h1>
    </div>
  </div>
</section>
