<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Kojení a&nbsp;duševní zdraví
      </h2>
      <p>Pozitivní efekt kojení na snížení stresu, míry anxiety a&nbsp;depresivních symptomů u matky byl opakovaně popsán v&nbsp;experimentálních i&nbsp;observačních studiích <a href="#literatura1">(1, 3)</a>. Během kojení se prohlubuje psychologická vazba mezi matkou a&nbsp; dítětem.  Upevňování raných vztahů matka­dítě je nejsilněji zprostředkováno oxytocinem, který se masivně uvolňuje při stimulaci bradavky sáním dítěte <a href="#literatura3">(3)</a>. </p>
      <p>Laktace a&nbsp;kojení s&nbsp;sebou nesou řadu dalších benefitů pro matku a&nbsp;kojené dítě. Na straně dítěte se jedná například o&nbsp;snížení rizika infekčních onemocnění či diabetu 2. typu <a href="#literatura4">(4)</a>. Kojící ženy mají nižší riziko rozvoje rakoviny ovaria (redukce rizika o&nbsp;18&nbsp;%, 95% interval spolehlivosti, CI&nbsp;= 14–42&nbsp;%) a&nbsp;prsu (redukce rizika o&nbsp;7&nbsp;%, 95% CI = 3–11&nbsp;%) než ženy, které sice rodily, ale nikdy nekojily <a href="#literatura4">(4)</a>.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Obecné zásady přechodu léků do mateřského mléka
      </h2>
      <p>Epitel alveolárních buněk mléčné žlázy tvoří semipermeabilní membránu oddělující plazmu matky od mateřského mléka. Během kolostrální fáze (3. – 4. den po porodu,
        tvorba mleziva) je tato membrána relativně propustná i&nbsp;pro větší molekuly. Po kolostrální fázi, kdy se tvoří již zralé mléko, je propustnost membrány menší a&nbsp;samovolně procházejí jen malé molekuly (<200 daltonů), větší molekuly procházejí z&nbsp;plazmy do mléka difuzí <a href="#literatura5">(5)</a>. Nejsilnějším ukazatelem, zda lék ve vysoké koncentraci přechází do mateřského mléka, je jeho vazebná afinita k&nbsp;proteinům. Léky s&nbsp;vysokou vazbou na proteiny zůstávají v&nbsp;mateřské plazmě a&nbsp;ukazuje se, že u&nbsp;léků s&nbsp;vazebnou afinitou více než 85&nbsp;% je hladina v&nbsp;plazmě kojence neměřitelná <a href="#literatura6">(6)</a>.  Dalším důležitým prediktorem, zda lék bude v&nbsp;mateřském mléce obsažen ve vyšších koncentracích, je míra jeho rozpustnosti v&nbsp;tucích. Lipofilní molekuly do mléka přecházejí snáze než lipofobní.  Je důležité uvést, že obsah tuku v&nbsp;mateřském mléce je vyšší během dne a&nbsp;večer než v&nbsp;noci a&nbsp;ráno, a&nbsp;proto jsou jiné i&nbsp;koncentrace farmak v&nbsp;mléce v&nbsp;průběhu dne <a href="#literatura7">(7)</a>.  Molekuly psychofarmak jsou tvořeny tak, aby byly lipofilní a&nbsp;mohly lehce procházet přes hematoencefalickou bariéru.
        Neméně důležitým faktorem je farmakokinetika daného léku. Čím delší poločas rozpadu daného preparátu, tím snáze se v&nbsp;organismu kojence může kumulovat.
      </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Metabolismus léčiv u&nbsp;novorozence
      </h2>
      <p>Novorozenec absorbuje, metabolizuje a&nbsp;eliminuje léčiva odlišným způsobem než dospělý člověk <a href="#literatura8">(8)</a>. Tyto rozdíly jsou způsobeny vyšším procentem tělesné vody a&nbsp;extracelulárního objemu, menší vazebnou kapacitou proteinů, nezralostí enzymatických systémů v&nbsp;játrech a&nbsp;nižší renální funkcí <a href="#literatura9">(9)</a>.  </p>
      <p>Výše uvedené faktory přispívají k&nbsp;tomu, že léčiva mají delší poločas rozpadu a&nbsp;mohou se v&nbsp;těle novorozence akumulovat. Hematoencefalická bariéra novorozence má zvýšenou propustnost, což vede k&nbsp; lehčímu přestupu léčiv do  CNS.  U&nbsp;předčasně narozených dětí jsou výše uvedené fyziologické rozdíly novorozenců markantnější.  </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Figueiredo B, Canário C, Field T.Breastfeeding is negative­ly affected by prenatal depression and reduces postpartum depression.  Psychological  Medicine.  2014;  44(5),  927–936.
        </li>
        <li id="literatura2">
          Mezzacappa, ES, Katlin ES. Breast ­feeding is associated with reduced  perceived  stress  and negative  mood  in  mothers.  Health  Psychology.  2002; 21(2), 187­193.
        </li>
        <li id="literatura3">
          Holman DJ, Grimes MA. Patterns for the initiation of bre­astfeeding in humans. Am J Hum Biol. 2003; 15: 765–780.11. Anderson PO. Drugs in lactation. Pharm Res. 2018; 35: 45.
        </li>
        <li id="literatura4">
          Victora CG, Bahl R, Barros AJ,&nbsp;et&nbsp;al. Breastfeeding in the 21st century: epidemiology, mechanisms, and lifelong effect. Lan­cet. 2016 Jan 30; 387(10017): 475–490
        </li>
        <li id="literatura5">
          Anderson PO. Drugs in lactation. Pharm Res. 2018; 35: 45.
        </li>
        <li id="literatura6">
          Anderson GD.  Using  pharmacokinetics  to  predict  the  effects of pregnancy and maternal ­infant transfer of drugs during lactation. Expert Opin Drug Metab Toxicol. 2006; 2: 947–960
        </li>
        <li id="literatura7">
          Kent JC, Mitoulas LR, Cregan MD, Ramsay DT, Doherty DA, Hartmann PE. Volume and frequency of breastfeedings and fat content  of  breast  milk  throughout  the  day.  Pedia­trics. 2006; 117: e387–95.
        </li>
        <li id="literatura8">
          Alcorn J, McNamara PJ. Pharmacokinetics in the newborn. Adv Drug Deliv Rev. 2003; 55: 667–686.
        </li>
        <li id="literatura9">
          Matalova P, Urbanek K, Anzenbacher P. Specific features of pharmacokinetics in children. Drug Metab Rev. 2016; 48: 70 –79.
        </li>
      </ol>
    </div>
  </div>
</section>
