<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak to chodí u psychologa
      </h2>
      <p>Úzkostné příznaky navíc často doprovází i další psychiatrická a somatická onemocnění. Dle metaanalýzy z&nbsp;roku
        2014 zahrnující 12 prospektivních kohortových studií existuje vztah mezi dlouhodobou prenatální úzkostí u matky
        a nárůstem rizika předčasného porodu (relative risk, RR = 1,50; 95% CI&nbsp;=&nbsp;1,33-1,70) <a href="#literatura2">(2)</a>. Dále prenatální úzkost zvyšuje riziko narození dítěte s&nbsp;nízkou porodní hmotností
        (RR&nbsp;=&nbsp;1,76; 95%&nbsp;CI&nbsp;= 1,32-2,33). Novorozenci úzkostných matek mají v&nbsp;průměru nižší APGAR skóre a jsou častěji
        přijati na novorozeneckou jednotku intenzivní péče <a href="#literatura3">(3)</a>. Jiná studie <a href="#literatura4">(4)</a> nicméně vztah mezi úzkostnou poruchou u žen a rizikem pro předčasný porod či nízkou porodní hmotnost
        novorozence nenalezla. </p>
      <p>Prevalence užívání anxiolytik v&nbsp;těhotenství se odhaduje mezi 1,5-3,9&nbsp;% <a href="#literatura5">(5)</a>. Pro ošetření klinické úzkosti jsou anxiolytika pro svou
        vysokou účinnost při snížení napětí, úzkosti a strachu vůbec nejčastěji předepisovaná farmaka. Nejčastěji jsou
        v&nbsp;terapii úzkostných poruch indikovány benzodiazepiny (BZD; např. alprazolam, klonazepam, diazepam, bromazepam,
        oxazepam), dále pak nebenzodiazepinová anxiolytika (antihistaminika hydroxyzin a promethazin) a pro komorbidní
        poruchy spánku i z-hypnotika (zolpidem, zopiklon a zaleplon). </p>
      <p>Anxiolytika, stejně jako ostatní psychotropní látky, přecházejí u gravidních žen přes placentární bariéru do
        oběhu plodu, kde se mohou alostericky vázat a modifikovat GABA-A receptory vyvíjejícího se plodu, a ovlivňovat
        tak jeho embryogenezi. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Vliv anxiolytik na plod a novorozence:
      </h2>
      <ol>
        <li><strong>Teratogenní efekt</strong></li>
        <p>Děti žen užívajících v prvním trimestru gravidity po celkovou dobu kratší než 90 dní
          <strong>alprazolam</strong> <a href="#literatura6">(6)</a>,
          <strong>diazepam</strong> <a href="#literatura7">(7)</a> a <strong>klonazepam</strong> <a
            href="#literatura8">(8)</a> neměly vyšší výskyt vývojových vad. <strong>Riziko stoupá při
            užívání velkých dávek BZD</strong> a také <strong>s&nbsp;delší dobou užívání</strong> <a href="#literatura9">(9)</a>. Po prenatální expozici <strong>bromazepamu</strong> byl u dětí nalezen zvýšený výskyt
          atrézie anu (OR = 6,19) a malformací gastrointestinální trubice obecně (OR = 6,15), avšak nárůst incidence
          nebyl shledán klinicky významným <a href="#literatura10">(10)</a>. Dále bylo v&nbsp;obsáhlé metaanalýze zahrnující více než milion těhotenství nalezeno dvakrát vyšší
          riziko výskytu rozštěpu patra u novorozence, pakliže matka v&nbsp;těhotenství užívala BZD <a href="#literatura11">(11)</a>. Prenatální expozice specificky <strong>pregabalinu</strong>, relativně nově
          užívanému farmaku, během prvního trimestru byla dána do vztahu s vyšším výskytem vrozených vad plodu.
          Malformace CNS činila riziko nejvyšší <a href="#literatura12">(12)</a>. Oproti tomu
          užívání <strong>antihistaminik</strong> v&nbsp;prvním trimestru těhotenství neindikuje teratogenní potenciál <a
            href="#literatura13">(13)</a>. </p>
        <li><strong>Riziko porodních komplikací </strong></li>
        <p>Užívání BZD v&nbsp;časné fázi během těhotenství zvýšilo pravděpodobnost porodu císařským řezem (OR = 2,45; 95% CI
          = 1,36-4,40) a nízké porodní hmotnosti novorozence (OR = 3,41; 95% CI = 1,61-7,26) <a href="#literatura4">(4)</a>. Oproti tomu antihistaminika nezvyšují riziko spontánních potratů, předčasných porodů a
          nevedou k&nbsp;nízké porodní hmotnosti novorozence <a href="#literatura13">(13)</a>. </p>
        <li><strong>Riziko pro novorozence </strong></li>
        <p>Pravidelné užívání BZD v&nbsp;posledním trimestru těhotenství bylo spojeno <strong>s&nbsp;vyšším rizikem dechové tísně
            novorozence</strong> vedoucí až k&nbsp;nutnosti ventilační podpory (OR = 2,85; 95% CI = 1,2-6,9) <a
            href="#literatura4">(4)</a>. Děti matek závislých na BZD mají větší šanci na rozvoj
          abstinenčních příznaků po narození a vyšší <strong>riziko poporodní sedace</strong> <a href="#literatura14">(14)</a>. BZD indukovaný „floppy infant syndrom“ je charakteristický muskulární hypotonií, nízkým
          APGAR skórem, hypotermií a neurologickou depresí u exponovaných novorozenců. <strong>Abstinenční
            příznaky</strong> se pak u novorozenců exponovaných BZD můžou dostavit v&nbsp;podobě hypertonie, hyperreflexie,
          nespavosti, iritability, záchvatů, abnormálních spánkových vzorců, neutišitelného pláče, tremoru, bradykardie,
          cyanózy, přežvykování atd. Abstinenční příznaky se u exponovaných dětí objevují bezprostředně po narození nebo
          do tří týdnů a můžou přetrvávat i několik měsíců v&nbsp;závislosti na exponované dávce a farmakokinetickém profilu
          konkrétního BZD či hypnotika. </p>
      </ol>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Závěr
      </h2>
      <p>Data nepotvrzují teratogenní vliv většiny sledovaných anxiolytik (výjimkou se zdá být pregabalin). Reporty
        těhotných žen užívajících anxiolytika jsou velmi limitované a stále nemáme dostatečné množství kvalitních
        randomizovaných kontrolních studií, abychom mohli udělat závěr o jejich relativní teratogenní bezpečnosti. Při
        vyšších dávkách můžeme u novorozenců pozorovat známky sedace (floppy infant syndrome) a abstinenční
        příznaky. </p>
      <p>Pro dlouhodobou léčbu různých úzkostných poruch jsou v&nbsp;první řadě doporučena nefarmakologická léčba (terapie,
        peer podpora atd.). Tam, kde je symptomatika úzkostných poruch těžší, je doporučeno v&nbsp;těhotenství užívat SSRI <a
          href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'antidepresiva-a-tehotenstvi'}) }}">antidepresiva</a>,
        která se k&nbsp;léčbě úzkostných poruch často účinně předepisují, a navíc mají ověřenější bezpečností profil
        v&nbsp;těhotenství. Zároveň se zdá, že u novorozenců bezprostředně po porodu nevyvolávají sedaci a abstinenční
        příznaky. </p>
      <p>Tam, kde je ke stabilizaci ženy medikace BZD či hypnotiky nezbytně nutná, je doporučeno užívat medikaci
        v&nbsp;nejmenší účinné dávce po nejkratší možnou dobu. Dále je doporučeno užívat látky s&nbsp;kratším poločasem (např.
        oxazepam a temazepam) oproti látkám s poločasem delším (např. diazepam a klonazepam). </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Grant, K.-A., McMahon, C., & Austin, M.-P. (2008). Maternal anxiety during the transition to parenthood: A prospective study. Journal of Affective Disorders, 108(1–2), 101–111.
        </li>
        <li id="literatura2">
          Ding, X.-X., Wu, Y.-L., Xu, S.-J., Zhu, R.-P., Jia, X.-M., Zhang, S.-F., … Tao, F.-B. (2014). Maternal anxiety during pregnancy and adverse birth outcomes: A systematic review and meta-analysis of prospective cohort studies. Journal of Affective Disorders, 159, 103–110.
        </li>
        <li id="literatura3">
          Alder, J., Fink, N., Bitzer, J., Hösli, I., & Holzgreve, W. (2007). Depression and anxiety during pregnancy: A risk factor for obstetric, fetal and neonatal outcome? A critical review of the literature. The Journal of Maternal-Fetal & Neonatal Medicine, 20(3), 189–209.
        </li>
        <li id="literatura4">
          Yonkers, K. A., Gilstad-Hayden, K., Forray, A., & Lipkind, H. S. (2017). Association of Panic Disorder, Generalized Anxiety Disorder, and Benzodiazepine Treatment During Pregnancy With Risk of Adverse Birth Outcomes. JAMA Psychiatry, 74(11), 1145–1152.
        </li>
        <li id="literatura5">
          Riska, B. S., Skurtveit, S., Furu, K., Engeland, A., & Handal, M. (2014). Dispensing of benzodiazepines and benzodiazepine-related drugs to pregnant women: a population-based cohort study. European Journal of Clinical Pharmacology, 70(11), 1367–1374.
        </li>
        <li id="literatura6">
          St Clair, S. M., & Schirmer, R. G. (1992). First-trimester exposure to alprazolam. Obstet Gynecol, 80, 843-846.
        </li>
        <li id="literatura7">
          Ban, L., West, J., Gibson, J. E., Fiaschi, L., Sokal, R., Doyle, P., … Tata, L. J. (2014). First trimester exposure to anxiolytic and hypnotic drugs and the risks of major congenital anomalies: a United Kingdom population-based cohort study. PloS One, 9(6), e100996.
        </li>
        <li id="literatura8">
          Lin, A. E., Peller, A. J., Westgate, M.-N., Houde, K., Franz, A., & Holmes, L. B. (2004). Clonazepam use in pregnancy and the risk of malformations. Birth Defects Research Part A: Clinical and Molecular Teratology, 70(8), 534–536.
        </li>
        <li id="literatura9">
          Larsen, E. R., Damkier, P., Pedersen, L. H., Fenger-Gron, J., Mikkelsen, R. L., Nielsen, R. E., …Videbech, P. (2015). Use of psychotropic drugs during pregnancy and brest-feeding. Acta Psychiatr Scand Suppl, 445, 1-28.
        </li>
        <li id="literatura10">
          Bellantuono, C., Tofani, S., Di Sciascio, G., & Santone, G. (2013). Benzodiazepine exposure in pregnancy and risk of major malformations: a critical overview. General Hospital Psychiatry, 35(1), 3–8.
        </li>
        <li id="literatura11">
          Enato, E., Moretti, M., & Koren, G. (2011). Motherisk Rounds: The Fetal Safety of Benzodiazepines: An Updated Meta-analysis. Journal of Obstetrics and Gynaecology Canada, 33(1), 46–48.
        </li>
        <li id="literatura12">
          Winterfeld, U., Merlob, P., Baud, D., Rousson, V., Panchaud, A., Rothuizen, L. E., … Buclin, T. (2016). Pregnancy outcome following maternal exposure to pregabalin may call for concern. Neurology, 86(24), 2251–2257
        </li>
        <li id="literatura13">
           Etwel, F., Faught, L. H., Rieder, M. J., & Koren, G. (2017). The Risk of Adverse Pregnancy Outcome After First Trimester Exposure to H1 Antihistamines: A Systematic Review and Meta-Analysis. Drug Safety, 40(2), 121–132
        </li>
        <li id="literatura14">
          Mohr, P., Hnídek, D., Hanka, J. (2012). Psychofarmaka v&nbsp;těhotenství a laktaci. Postgrad Med, 14, 17-23.
        </li>
      </ol>
    </div>
  </div>
</section>
