<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper hero-subpage--wrapper--bigger">
      <h1>
        Zkuste si pomocí standardizovaných dotazníků vyhodnotit své pocity.
        <small>Otestuj se</small>
      </h1>
    </div>
  </div>
</section>
