<section class="simple-text">
  <div class="container">
    <div class="simple-text--wrapper">
      <h3>Co zde nalezneme?</h3>
      <p>V&nbsp;této sekci naleznete standardizované dotazníky, které se využívají ke screeningu různých duševních stavů v perinatálním období. Testování může sloužit jako pomůcka a rychlý nástin vaší aktuální situace, ve zpětné vazbě také naleznete tipy, které by vám mohly pomoci.</p>
      <p>Screeningové testy jsou jenom orientační, nejedná se o diagnostické nástroje.</p>
      <h3>Pro koho jsou testy určeny?</h3>
      <p>Pro každou ženu, která si chce otestovat své pocity v perinatálním období.</p>
      <h3>Jak Vám mohou pomoci?</h3>
      <p>Součástí dotazníku je jeho vyhodnocení a zpětná vazba k vašim odpovědím, ve které vám nabídneme možnosti, co dělat, pokud vaše výsledky naznačují, že můžete zažívat obtíže nebo psychickou nepohodu.</p>
    </div>
  </div>
</section>
