<section class="two-box">
  <div class="container">
    <div class="two-box--wrapper">
      <div class="two-box--grid">
        <div class="two-box--box">
          <h2 class="h3">Trápí vás deprese?</h2>
          <p>Edinburská škála perinatální deprese se využívá ke screeningu depresivní poruchy v&nbsp;těhotenství až jednoho roku po porodu.</p>
          <div class="two-box--button button--border--wrapper">
            <a href="#test-epds" class="button button--border js-modal-open">Zahájit test</a>
          </div>
          <img src="{{ asset('build/img/mother-6.svg') }}" alt="" class="two-box--img">
        </div>
        <div class="two-box--box">
          <h2 class="h3">Trápí vás úzkost?</h2>
          <p>Screeningová škála perinatálních úzkostí se využívá ke screeningu úzkostných příznaků v&nbsp;těhotenství až jeden rok po porodu. </p>
          <div class="two-box--button button--border--wrapper">
            <a href="#test-pass" class="button button--border js-modal-open">Zahájit test</a>
          </div>
          <img src="{{ asset('build/img/mother-7.svg') }}" alt="" class="two-box--img">
        </div>
      </div>
    </div>
  </div>
</section>
