<section class="main-box main-box--alone">
  <div class="container">
    <div class="main-box--wrapper">
      <div class="main-box--box">
        <img src="{{ asset('build/img/bg-3.svg') }}" alt="" class="main-box--bg">
        <span class="main-box--star-1 icon icon--icon-star-4-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-4-color"></use></svg>
      </span>
        <span class="main-box--star-2 icon icon--icon-star-5-2-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-5-2-color"></use></svg>
      </span>
        <div class="main-box--inner">
          <h3>I díky deinstitucionalizaci pacientů s duševním onemocněním přibývá těhotných žen diagnostikovaných s&nbsp;psychotickými poruchami či bipolární afektivní poruchou <a href="#literatura1">(1)</a>. Relaps onemocnění zvyšuje riziko výskytu různých komplikací během těhotenství a po porodu.  </h3>
        </div>
      </div>
    </div>
  </div>
</section>
