<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Antipsychotika jsou látky malé molekulární velikosti a lipofilní povahy běžně předepisovány pro léčbu širokého
        spektra duševních onemocnění. Díky těmto vlastnostem prochází bez problému placentou a jsou v&nbsp;přímé interakci
        s&nbsp;plodem. Nejsnadněji placentou prochází olanzapin, haloperidol, risperidon a kvetiapin. Situace s&nbsp;užíváním
        antipsychotik se komplikuje obavami, že některá antipsychotika mohou po průchodu přes placentu na plod působit
        toxicky. Z&nbsp;potřeby stabilizovat matku antipsychotiky během těhotenství a po porodu, a zároveň neohrozit plod a
        vývoj novorozence vystávají u zdravotníků kontroverzní debaty ohledně správného postupu při medikaci žen.
        Bohužel neexistuje žádný oficiální a univerzální vzor, jak postupovat. U všech těhotenství je nutné posoudit
        faktory ovlivňující aktuální psychický stav, ale i psychiatrickou historii ženy, a na základě toho připravit
        individuální plán léčby. Zpravidla se u žen s&nbsp;těžšími psychiatrickými symptomy a tendencemi k&nbsp;relapsu
        nedoporučuje i přes posouzení rizik pro dítě antipsychotika během těhotenství vysazovat. U jiných žen (např.
        těch, co užívají antipsychotika pro léčbu jiných než psychotických poruch) by mělo být vysazení antipsychotik
        zváženo a případně nahrazeno léčbou antidepresivy, o jejichž vlivu na plod a novorozence existuje rozsáhlejší
        databáze. V&nbsp;obou případech je důležité monitorovat jak psychický stav žen, tak vývoj a zdraví plodu. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Vliv antipsychotik na plod a novorozence:
      </h2>
      <ol>
        <li><strong>Teratogenní efekt </strong></li>
        <p>Obava z&nbsp;teratogenního efektu psychotropních látek je jeden z&nbsp;nejsilnějších faktorů pro zvážení užívání
          medikace během těhotenství. Při léčbě antipsychotiky je třeba, zejména během prvního trimestru, monitorovat
          případnou strukturální a funkční dysgenezi fetálních orgánů a skeletálních struktur. U antipsychotik první
          generace nebylo dle studie<a href="#literatura2">(2)</a> nalezeno žádné teratogenní
          riziko asociované s&nbsp;promethazinem, chlorpromazinem, prochlorperazinem, haloperidolem, perphenazinem,
          trifluoperazinem, loxapinem, thioridazinem, flupenthixolem či fluphenazinem. Rovněž nebyla nalezena žádná
          asociace s&nbsp;teratogenitou u několika antipsychotik druhé generace, jmenovitě: klozapinu, risperidonu,
          olanzapinu, quetiapinu, ziprasidonu a aripiprazolu. Jiná studie <a href="#literatura3">(3)</a> v&nbsp;kontrastu s předchozí uvádí, že užívání antipsychotik je spojeno s&nbsp;malým, ale statisticky
          signifikantním rizikem pro deformaci síně a defekt komorového septa. Tyto defekty nebyly blíže specifikovány
          pro konkrétní typ antipsychotik. Metodologické nedostatky ve výzkumech a nedostatek dat nám nicméně stále
          neumožňuje posoudit riziko malformace u antipsychotik spolehlivě.</p>
        <li><strong>Riziko porodních komplikací</strong></li>
        <p>V obsáhlé švédské registrové studii byla nalezena asociace antipsychotik (první i druhé generace dohromady)
          se zvýšeným rizikem pro gestační diabetes, nízkou porodní váhu a porodem císařským řezem. Metodologické
          nedostatky ve studiích nám ale opět neumožňují očistit vliv antipsychotik na porodní komplikace od
          psychiatrických a fyzických komorbidit, zneužívání návykových látek, kouření, špatného stravování a jiného
          rizikového chování asociovaného se samotným duševním onemocněním<a href="#literatura4">(4)</a> . </p>
        <li><strong>Riziko pro novorozence </strong></li>
        <p>Americká agentura pro kontrolu potravin a léčiv (FDA) vyjádřila v&nbsp;roce 2011 obavy z expozice plodu
          antipsychotikům během těhotenství a možné manifestace extra-pyramidálního syndromu a abstinenčních příznaků u
          dítěte po narození. Toto varování bylo zveřejněno na základě záznamu o 69 případech novorozenců vykazujících
          symptomy od motorického neklidu, hypertonicity, tremoru až po parkinsonismus. U všech novorozenců symptomy
          postnatálně nicméně zpravidla rychle odezněly a následně u nich docházelo ke standartnímu motorickému vývoji
          <a href="#literatura4">(4)</a> . </p>
        <p>Ve studii <a href="#literatura5">(5) </a>sledovali různé klinicky relevantní účinky
          antipsychotik druhé generace na plod a novorozence u 14&nbsp;382 těhotných žen, <a href="#tabulka1">(viz&nbsp;Tabulka&nbsp;1&nbsp;)</a>.
        </p>
      </ol>
      <h2 id="tabulka1">
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Tabulka 1. Přehled rizik antipsychotik pro plod a novorozence
      </h2>
      <div class="table__wrapper">
        <table class="table-forWoman">
          <thead>
          <th>Antipsychotikum</th>
          <th>Kongenitální malformace</th>
          <th>Potrat</th>
          <th>Předčasné narození</th>
          <th>Neonatální adaptace</th>
          </thead>
          <tbody>
          <tr>
            <td>Amisulprid</td>
            <td>nenalezen vztah</td>
            <td>chybí data</td>
            <td>chybí data</td>
            <td>chybí data</td>
          </tr>
          <tr>
            <td>Aripiprazol</td>
            <td>81 malformací na 1860 exponovaných narozených dětí (4,4 %; normální incidence)</td>
            <td>42 potratů na 265 exponovaných těhotenství (OR 1.66)</td>
            <td>2 exponované narozené děti, obě narozené v&nbsp;termínu a s&nbsp;normální porodní váhou</td>
            <td>2 exponované děti, obě normální APGAR skóre <br><br>2 děti z&nbsp;19 exponovaných „neonatální komplikace“ po
              porodu
            </td>
          </tr>
          <tr>
            <td>Klozapin</td>
            <td>12 malformací na 264 exponovaných narozených dětí (4,5 %; normální incidence)</td>
            <td>8-12 % ze studie o 225 exponovaných těhotenství</td>
            <td>nenalezen vztah</td>
            <td>nenalezen vztah</td>
          </tr>
          <tr>
            <td>Olanzapin</td>
            <td>100 malformací na 2449 exponovaných narozených dětí (4,1 %; normální incidence)</td>
            <td>RR 1.10 ze studie o 223 exponovaných těhotenství</td>
            <td>nenalezen vztah</td>
            <td>neonatální morbidita: RR 1.19</td>
          </tr>
          <tr>
            <td>Kvetiapin</td>
            <td>196 malformací na 5382 exponovaných narozených dětí (4,3 %; normální incidence)</td>
            <td>RR 1.65 ze studie o 174 exponovaných těhotenství</td>
            <td>z 10 exponovaných dětí se narodilo předčasně 1, všechny měly normální porodní váhu</td>
            <td>neonatální morbidita: RR 1.98, zbylé děti normální APGAR skóre</td>
          </tr>
          <tr>
            <td>Risperidon a Paliperidon</td>
            <td>100 malformací na 1901 exponovaných narozených dětí (5,3 %, mírně vyšší incidence)</td>
            <td>RR 1.59 ze studie o 45 exponovaných těhotenství</td>
            <td>ze 4 exponovaných dětí se narodilo předčasně 1</td>
            <td>nižší APGAR skóre u 4 exponovaných dě</td>
          </tr>
          <tr>
            <td>Ziprasidon</td>
            <td>28 malformací na 730 exponovaných narozených dětí (3,8 %; normální incidence)</td>
            <td>RR 1.97 ze studie o 41 exponovaných těhotenství</td>
            <td>chybí data</td>
            <td>chybí data</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>
      <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Závěr
      </h2>
      <p>Studium bezpečnosti antipsychotik během těhotenství je kvůli metodologickým nedostatkům a etickým rozporům zatíženo chybami. U některých antipsychotik (risperidon a paliperidon) a rovněž, když byla brána antipsychotika dohromady, byl v&nbsp;některých studiích nalezen slabý vztah mezi užíváním v&nbsp;těhotenství a teratogenitou. Tento vztah se nicméně nepokládá průkazný a nelze ho interpretovat kauzálně, protože v&nbsp;praxi nelze rozlišit mezi rizikem, které přináší samotné duševní onemocnění, a rizikem, které vzniká v&nbsp;důsledku užívání antipsychotik. Samotné duševní onemocnění, například schizofrenie, samo o sobě signifikantně zvyšuje riziko kongenitálních malformací u plodu. Většina nalezených rizik je navíc zpravidla ze starších studií s&nbsp;nekvalitním designem. Ty novější a kvalitnější reportují menší nebo nulový efekt. Na druhou stranu lze u antipsychotik, zejména druhé generace, mluvit o rizicích metabolického syndromu u matek a jeho vlivu na růst a porodní váhu novorozence. Zejména olanzapin a klozapin jsou pak spojovány s&nbsp;gestačním diabetem. </p>
      <p>U žen, u kterých by vysazení antipsychotik mohlo interferovat s&nbsp;jejich schopností starat se o sebe a své dítě, se přerušení farmakoterapie během těhotenství nedoporučuje. V dialogu mezi ženou a zdravotníkem je důležité stanovit&nbsp;nejmenší možnou efektivní dávku, a průběžně během těhotenství monitorovat stav plodu. V&nbsp;budoucnu je potom nutné získat více dat, která nám podají informace o bezpečnostním profilu jednotlivých antipsychotik s&nbsp;cílem vyprofilovat antipsychotika nejšetrnější pro plod a novorozence tak, aby se mohly stát případnou první volbou v&nbsp;léčbě nejen psychotických onemocnění během těhotenství u žen, u kterých je léčba nezbytná. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Gentile, S. (2010). Antipsychotic therapy during early and late pregnancy. A systematic review. Schizophrenia Bulletin, 36(3), 518–544.
        </li>
        <li id="literatura2">
          Einarson, A., & Boskovic, R. (2009). Use and Safety of Antipsychotic Drugs During Pregnancy. Journal of Psychiatric Practice, 15(3), 183–192
        </li>
        <li id="literatura3">
          Reis, M., & Källén, B. (2008). Maternal Use of Antipsychotics in Early Pregnancy and Delivery Outcome. Journal of Clinical Psychopharmacology, 28(3), 279–288
        </li>
        <li id="literatura4">
          Galbally, M., Snellen, M., & Power, J. (2014). Antipsychotic drugs in pregnancy: a review of their maternal and fetal effects. Therapeutic Advances in Drug Safety, 5(2), 100–109.
        </li>
        <li id="literatura5">
          Damkier, P., & Videbech, P. (2018). The Safety of Second-Generation Antipsychotics During Pregnancy: A Clinically Focused Review. CNS Drugs, 32(4), 351–366.
        </li>
      </ol>
    </div>
  </div>
</section>
