<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/mother-8.svg') }}" alt="" class="hero-subpage--img">
      <div class="breadcrumb">
        <a href="{{ path('app_default_pageAction', {'slug':'pro-zeny'}) }}" class="breadcrumb--text">Pro ženy</a>
        <span class="breadcrumb--text">Po porodu</span>
      </div>
      <h1>Důležitá témata spojená s&nbsp;psychikou po porodu</h1>
    </div>
  </div>
</section>
