<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Ve třetím měsíci po narození dítěte byl sledován samovolný pokles anxiety (pokles závažných úzkostných
        symptomů) o&nbsp;8,3&nbsp;% u&nbsp;žen a 5,6&nbsp;% u&nbsp;mužů. Výsledky této studie naznačují, že určitá míra úzkosti je
        v&nbsp;postpartálním období běžnou reakcí. Avšak masivní úzkost rodičů, jež interferuje se schopností starat se o
        dítě a jež splňuje kritéria pro diagnózu duševního onemocnění, má krátkodobý i&nbsp;dlouhodobý negativní dopad na
        vývoj jejich dítěte <a href="#literatura2">(2)</a>. </p>
      <p>Jedním z&nbsp;dlouhodobých aspektů dekompenzovaných úzkostných poruch a&nbsp;obsedantně­kompulzivní poruchy (OCD)
        v&nbsp;poporodním období je potenciální přenos symptomů na dítě <a href="#literatura3">(3)</a>. Úzkostné poruchy
        (generalizovaná úzkostná porucha, agorafobie, panická porucha), které jsou u&nbsp;matky či otce přítomné již před
        porodem, se po narození dítěte často prohlubují. Navíc jsou rizikovým faktorem pro rozvoj deprese <a
          href="#literatura4">(4)</a>. </p>
      <p>Uvažovanou jednotkou se zdá být tzv.&nbsp;anxieta specifická pro poporodní období projevující se jen v&nbsp;situacích
        spojených s dítětem či mateřstvím obecně. Ta však nesmí splňovat kritéria OCD <a href="#literatura5">(5)</a>.
        U&nbsp;matek i&nbsp;otců se po porodu mohou objevit vtíravé myšlenky, že dítě upustí, nechtěně poraní či mu jinak ublíží.
        Na rozdíl od plně vyjádřené OCD však v&nbsp;tomto případě myšlenky nevyvolávají kompulzivní reakci. </p>
      <p>Poporodní období je rizikové i pro rozvoj samotné OCD s&nbsp;incidencí 4&nbsp;%. Zároveň již existující symptomy OCD mají
        tendenci v&nbsp;poporodním období často exacerbovat <a href="#literatura6">(6)</a>. Nejčastější obsahy obsesí u&nbsp;OCD
        se začátkem v&nbsp;poporodním období jsou kontaminace, agrese a&nbsp;symetrie <a href="#literatura7">(7)</a>. Ženy s&nbsp;OCD
        častěji odmítají novorozence kojit a&nbsp;složitěji navazují plnohodnotný vztah matka­dítě, což se projevuje ve
        snížené interakci s&nbsp;dítětem i&nbsp;narušeným fungováním celého rodinného systému. </p>
      <p>První volbou v&nbsp;terapii úzkostných poruch v&nbsp;poporodním období je kognitivně behaviorální terapie, individuální
        či skupinová (např.&nbsp;v&nbsp;denním stacionáři). V&nbsp;těžších případech připadá v&nbsp;úvahu dlouhodobá medikace <a
          href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antidepresiva-a-kojeni'}) }}">antidepresivy</a>
        , případně krátkodobé využití <a
          href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'benzodiazepiny-z-hypnotika-a-kojeni'}) }}">benzodiazepinových
          a nebenzodiazepinových anxiolytik</a>. V&nbsp;terapii OCD se uplatňují antidepresiva a augmentace <a
          href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antipsychotika-a-kojeni'}) }}">antipsychotiky
          2. generace</a>. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Figueiredo B, Conde A. Anxiety and depression in wo­men and men from early pregnancy to 3­months postpar­tum.
          Arch Womens Ment Health. 2011 Jun;14(3): 247–255.
        </li>
        <li id="literatura2">
          Fairbrother N, Young A, Janssen P, Antony M, Tucker E. Depression and anxiety during the perinatal period. BMC
          Psy­chiatry. 2015; 15: 206–213.
        </li>
        <li id="literatura3">
          Challacombe FL, Salkovskis PM, Woolgar M, Wilkinson EL, Read J, Acheson R. Parenting and mother ­infant
          interactions in the context of maternal postpartum obsessive ­compulsive disorder: Effects of obsessional
          symptoms and mood. Infant Behav Dev. 2016; 44: 11­20.
        </li>
        <li id="literatura4">
          Wenzel A, Haigen E, Jackson L, Brendle J. Anxiety symp­toms and disorders at eight weeks postpartum. J Anxiety
          Di­sord. 2005; 19(3): 295–311.
        </li>
        <li id="literatura5">
          Fallon, V., Halford, J.C.G., Bennett, K.M. et al. Arch Womens Ment Health (2018) 21: 181.
          https://doi.org/10.1007/s00737­017­0775­0
        </li>
        <li id="literatura6">
          Forray A, Focseneanu M, Pittman B, McDougle CJ, Epper­son CN. Onset and exacerbation of obsessive ­compulsive
          di­sorder in pregnancy and the postpartum period. J Clin Psy­chiatr y. 2010; 71(8): 1061–1068.
        </li>
        <li id="literatura7">
          Uguz F, Akman C, Kaya N, Cilli AS. Postpartum ­onset obsessive ­compulsive disorder: incidence, clinical
          features, and related factors. J Clin Psychiatry. 2007 Jan; 68(1): 132–138
        </li>
      </ol>
    </div>
  </div>
</section>
