<section class="blog-detail-author">
  <div class="container">
    <div class="blog-detail-author--wrapper">
      <h2>Autoři:</h2>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-sebela.jpg') }}" alt="">
        <div>
          <h3>MUDr. Antonín Šebela, Ph.D.</h3>
          <small>Národní ústav duševního zdraví, Klecany </small> <br>
          <small>3. Lékařská Fakulta Univerzity Karlovy, Praha</small>
        </div>
      </div>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/jan-hanka.jpg') }}" alt="">
        <div>
          <h3>MUDr. Jan Hanka </h3>
          <small>Národní ústav duševního zdraví, Klecany </small> <br>
          <small>3. Lékařská Fakulta Univerzity Karlovy, Praha</small>
        </div>
      </div>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-anna-horakova.jpg') }}" alt="">
        <div>
          <h3>Mgr. et Bc. Anna Horáková </h3>
          <small>Národní ústav duševního zdraví, Klecany </small> <br>
          <small>Filozofická Fakulta Univerzity Karlovy, Praha</small>
        </div>
      </div>
    </div>
    <div class="blog-detail-author--wrapper">
      <h2>Jazyková korektura: </h2>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-kristyna-hrdlickova.jpg') }}" alt="">
        <div>
          <h3>Bc. Kristýna Hrdličková</h3>
          <small>Národní ústav duševního zdraví, Klecany </small> <br>
          <small>Filozofická Fakulta Univerzity Karlovy, Praha </small>
        </div>
      </div>
    </div>
  </div>
</section>
