<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Pokud máte obavy z toho, jak bude porod probíhat a jak jej zvládnete, tak:</p>
      <ul>
        <li>Zkuste zapřemýšlet, jak byste chtěla, aby Váš porod měl probíhat, a napište si porodní plán.</li>
        <li>Svěřte se o svých obavách někomu, komu věříte. Takovou osobou může být váš partner, kamarádka, někdo z rodiny nebo i váš gynekolog nebo gynekoložka.</li>
        <li>Přihlaste se na předporodní kurzy, které pořádá porodnice, kde chcete rodit, zde můžete své obavy probrat s porodními asistentkami.</li>
        <li>Je možné, že vám ženy ve vašem okolí dávají rady, jak porod zvládnout, či popisují, jak měly porod těžký. Je úplně v pořádku jim říci, že tyto rady nechcete, zvlášť když nejsou nápomocné a spíše vás více stresují.</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Tokofobie
      </h2>
      <p>Jedná se o relativně vzácný stav, kdy jsou u ženy strachy a obavy z porodu tak silné, že je až nemožné rodit klasickou cestou. Tyto fobické úzkosti se mohou objevovat, i když se ženy na miminko hodně těší a chtěly ho. Tato fobie se nemusí vyvinout jen v těhotenství, ale některé ženy ji mají už od adolescence. Pro lidi v okolí může být složité pochopit, jak něco tak přirozeného jako porod může vyvolávat tak masivní úzkost a strach. Tokofobie je však úzkostná porucha a ženy, které ji mají, si zaslouží psychickou péči.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co způsobuje tokofobii?
      </h2>
      <p>Tokofobie se u vás může vyvinout, pokud:</p>
      <ul>
        <li>Strach z přirozeného porodu je věc, která se u Vás v rodině objevovala i u vaší matky nebo babičky</li>
        <li>Vás již od vašeho dětství okolí zahrnovalo hrozivými příběhy o průběhu porodu</li>
        <li>Máte jiné úzkosti</li>
        <li>Jste zažila sexuální zneužívání, napadení nebo znásilnění</li>
        <li>Pokud máte gynekologické obtíže</li>
      </ul>
      <p>Některé ženy mají silný strach z porodu, protože zažily traumatický průběh porodu. V těchto případech se u nich může vyvinout i <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'zotaveni-z-tezkeho-porodu'}) }}">post traumatická stresová porucha</a>. Jedná se však o rozdílnou problematiku, která vyžaduje jinou péči než tokofobie.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co mohu dělat, pokud mám strach z porodu?
      </h2>
      <p>Důležité je o svých pocitech mluvit, proto se svěřte porodní asistentce, dule nebo i vašemu gynekologovi nebo gynekoložce. Čím dříve se se svými obavami svěříte, tím dříve se s nimi dá něco dělat. Je možné, že vás dále odkážou na péči odborníka na perinatální duševní zdraví. Důležité je se ptát, abyste měla maximum informací o porodu, zvláště pokud jste prvorodička. O svých pocitech se nemusíte stydět mluvit. Naopak, sdílet to, co vás trápí, a vyhledat odbornou pomoc je velmi důležité a odvážné.</p>
      <p>Jednou z možností, jak pracovat s tokofobií, je například kognitivně behaviorální terapie, kde pracujete s myšlenkami a emocemi. Další cestou jsou i relaxačně meditační metody.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak můžete s úzkostí už nyní bojovat?
      </h2>
      <ul>
        <li>Promluvte si s někým, komu důvěřujete, o svých pocitech, např. s partnerem, rodinným příslušníkem, blízkým kamarádem </li>
        <li>Zařaďte do každého dne pravidelný pohyb o mírné zátěži, např. procházky nebo plavání, a pobyt na čerstvém vzduchu</li>
        <li>Vyzkoušejte jógu, techniky mindfulness, meditaci a relaxační cvičení</li>
        <li>Jezte pravidelně a zdravě</li>
        <li>Vyhněte se alkoholu, cigaretám. Mohou špatné pocity ještě zhoršit a ublížit vašemu děťátku</li>
        <li>Co nejvíc omezte množství kofeinu. Můžete po něm být ještě úzkostnější.</li>
        <li>Další informace, jak o sebe pečovat, naleznete na webu <a href="https://www.opatruj.se/" target="_blank">Opatruj.se</a></li>
        <li>Zkuste pracovat s naší aplikací <a href="https://www.kogito.cz/" target="_blank">Kogito</a></li>
      </ul>
    </div>
  </div>
</section>
