<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/mother-8.svg') }}" alt="" class="hero-subpage--img">
      <div class="breadcrumb">
        <a href="{{ path('app_default_pageAction', {'slug':'pro-odborniky'}) }}" class="breadcrumb--text">Pro odborníky</a>
        <a href="{{ path('app_default_pageAction_forProfessionals', {'slug':'tehotenstvi'}) }}" class="breadcrumb--text">Těhotenství</a>
        <span class="breadcrumb--text">Antipsychotika a těhotenství </span>
      </div>
      <h1>Antipsychotika a těhotenství </h1>
    </div>
  </div>
</section>
