<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jaké mohou být symptomy úzkostí v těhotenství?
      </h2>
      <ul>
        <li>Nadměrné zabývání se starostmi a stresujícími, úzkostnými myšlenkami</li>
        <li>Neschopnost zastavit a kontrolovat vlastní úzkostné myšlenky</li>
        <li>Problém relaxovat, zklidnit se</li>
        <li>Podrážděnost i kvůli drobnostem</li>
        <li>Pocity nervozity</li>
        <li>Pocit ohrožení</li>
        <li>Strach a obavy o sebe, o miminko nebo o své blízké</li>
        <li>Neschopnost soustředit se</li>
        <li>Třes, svalové napětí, pocení</li>
        <li>Pocit sevřeného žaludku</li>
        <li>Nucení na močení</li>
        <li>Světloplachost</li>
      </ul>
      <p>Příznaky se nemusí objevit všechny a zároveň mohou být různé intenzity. Bez pomoci však mají tendenci se prohlubovat.</p>
      <p>Úzkostných poruch rozlišujeme několik typů. <strong><i>Generalizovaná úzkost</i></strong> je taková, která je přetrvávající, nepříjemné pocity a myšlenky nemizí. Úzkostné pocity nejsou vztaženy ke konkrétním vnějším událostem a okolnostem, objevuje se jakoby bez důvodu.</p>
      <p>Některé ženy mohou v těhotenství zažívat <strong><i>panické ataky.</i></strong> V situaci probíhající panické ataky můžete být velmi vyděšená a bát se o své zdraví nebo o svůj život. Symptomy totiž mohou připomínat např. srdeční infarkt. Mezi symptomy panické ataky patří:</p>
      <ul>
        <li>Zrychlený tlukot srdce</li>
        <li>Strach, obava o svůj život</li>
        <li>Bolest na hrudi</li>
        <li>Problém nadechnout se</li>
        <li>Ztráta rovnováhy, motání se</li>
        <li>Pocit na omdlení</li>
        <li>Pocení</li>
        <li>Mravenčení po těle</li>
        <li>Sevřený žaludek</li>
      </ul>
      <p>Panické ataky přichází nečekaně, bez reakce na vnější podněty, a proto mohou člověka velmi vyděsit. Zpravidla však po 5-20 minutách odezní.</p>
      <p>Ženy se během těhotenství mohou potýkat také s opakovanými vtíravými myšlenkami a nutkavými činy; tedy nápady nebo představami, které se znovu a znovu vtírají do hlavy a nejde jim zabránit. Takové myšlenky pak doprovází různé rituály, kterými se člověk snaží odvrátit nějakou velmi nepravděpodobnou ohrožující událost. O <b><i>obsedantně-nutkavé poruše</i></b> si můžete přečíst <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'dalsi-dusevni-potize-v-tehotenstvi'}) }}">zde</a>.</p>
      <p>Úzkostem, které se objevují v reakci na nějakou velmi konkrétní situaci nebo předmět, říkáme fobie. Dokonce i pouhá představa daného předmětu či situace vzbuzuje v člověku velký strach, úzkost a doprovodné reakce, např. pocení, bušení srdce či sevřený žaludek. V těhotenství se mohou ženy potýkat s <b><i>tokofobií</i></b>, tedy <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'strach-z-porodu'}) }}">strachem z porodu</a>. Těhotenství může komplikovat třeba i strach z jehel nebo nemocnic, protože může u některých žen vést k vyhýbání se důležitým lékařským prohlídkám.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak častá je perinatální úzkost?
      </h2>
      <p>Možná si teď přijdete osamělá a zmatená, nevíte, jak svému okolí vysvětlit, co prožíváte. Vězte však, že s podobnými pocity nejste sama. Ve skutečnosti až každá desátá žena bojuje v těhotenství s úzkostmi.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co úzkost způsobuje?
      </h2>
      <p>Za své pocity byste se neměla obviňovat. Úzkost se může rozvinout u kohokoliv, není to vaše chyba.</p>
      <p>Zvýšené riziko rozvinutí úzkostí však mají ženy, které</p>
      <ul>
        <li>Mají historii úzkostných poruch v rodině</li>
        <li>Trpěly úzkostmi v minulosti</li>
        <li>Zažily traumatickou událost či velmi vysokou míru stresu</li>
        <li>Trpí depresí</li>
        <li>Trpí dlouhodobou nebo bolestivou nemocí</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Kam se obrátit pro pomoc?
      </h2>
      <p>Některé budoucí maminky mohou cítit pocity viny, protože pro ně těhotenství není krásným bezstarostným obdobím, jakým by podle jejich okolí mělo být. Za své úzkosti ale nemůžete! O svých pocitech se nemusíte stydět mluvit. Naopak, sdílet to, co vás trápí, a vyhledat odbornou pomoc je nyní velmi důležité a odvážné.</p>
      <ul>
        <li>Promluvte si se svým partnerem, rodinným příslušníkem, kamarádkou nebo kamarádem</li>
        <li>Obraťte se na svého gynekologa či praktického lékaře</li>
        <li>Zavolejte na jednu z celorepublikových nonstop krizových linek (Pražská linka důvěry: <a
            href="tel:222 580 697">222 580 697</a>; Linka první psychické pomoci: <a href="tel:116 123">116 123</a>)</li>
        <li>Obraťte se na organizaci <a href="https://www.centr-um.cz/" target="_blank">Úsměv mámy</a>, kde se můžete spojit s maminkami, které během těhotenství bojovaly se stejnými pocity</li>
      </ul>
      <p>Dále patrně budete odkázána na odborníka v oblasti duševního zdraví v těhotenství, který vám pomůže nastavit vhodnou léčbu úzkostí a pomůže vám projít tímto náročným obdobím.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Léčba úzkosti
      </h2>
      <p>Léčba úzkosti se zpravidla skládá z kombinace technik, které můžete provádět sama, psychoterapie a případně farmakologické léčby. Přístup ke klientovi je vždy zcela individuální. Co vyhovuje a pomůže jedné budoucí mamince, nemusí vyhovovat a pomoct druhé. Nebojte se daného odborníka na cokoliv ptát a vyslovit jakékoliv své obavy či znepokojení. Pro jaký typ léčby úzkostí se rozhodnete bude vždy vaše rozhodnutí. Odborník vám postup může doporučit, vysvětlí jeho principy, výhody a případná rizika a zodpoví všechny vaše otázky.</p>
      <p>U užívání psychofarmak v těhotenství si můžete přečíst více <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'leky-v-tehotenstvi'}) }}">zde</a>.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak můžete s úzkostí už nyní bojovat?
      </h2>
      <ul>
        <li>Promluvte si s někým, komu důvěřujete, o svých pocitech, např. s partnerem, rodinným příslušníkem, blízkým kamarádem</li>
        <li>Identifikujte, jaké situace vám působí největší stres, a zkuste je co nejvíc minimalizovat. I když to ne vždy lze a někdy je to velmi těžké</li>
        <li>Zařaďte do každého dne pravidelný pohyb, procházky a pobyt na čerstvém vzduchu</li>
        <li>Vyzkoušejte těhotenskou jógu, techniky mindfulness, meditaci a relaxační cvičení</li>
        <li>Jezte pravidelně a zdravě</li>
        <li>Vyhněte se alkoholu, cigaretám a kofeinu. Mohou špatné pocity ještě zhoršit a ublížit vašemu děťátku</li>
        <li>Stáhněte si aplikaci <a href="https://www.kogito.cz/" target="_blank">Kogito</a></li>
        <li>Pečujte o svoji psychiku dle návodů na webu <a href="https://www.opatruj.se/" target="_blank">Opatruj.se</a></li>
      </ul>
    </div>
  </div>
</section>
