<section class="reviews reviews--blog-detail">
  <div class="container">
    <div class="reviews--wrapper">
      <div class="reviews--slider--wrapper">
        <div class="reviews--slider reviews--slider--4">
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">P. říká:</h3>
              <p>Nejhorší bylo těhotenství, ze dne na den jsem byla vytržená ze svého světa a můj život se scvrkl na zvracení a strach, že to dítě nebudu milovat. A trvalo to skoro celé těhotenství.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">S. říká:</h3>
              <p>V těhotenství se mi rozjely stavy uzkosti. Vymyslela jsem si problem, ktery me stale vedl k myslence mnozicich se bakterii, rozsirujicich se vsude a me nasledne smrti. Vyhledala jsem pomoc, abych neuskodila memu jeste nenarozenemu synovi. Situaci jsem zvládla.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">R. říká:</h3>
              <p>Celý život mám sklony k úzkostem, byl to i jeden z důvodů, proč jsem mateřství dlouho odkládala. Teď jsem šťastná a vděčná, že mám zdravého synka.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p> Začelo to ujišťováním jestli jsem se nebouchla do břicha musela jsem se každého ptát   pak po porodu dcery to bylo hroší taky ujišťování jestli mi nespadla ja věděla že ne ale musela jsem se zeptat jestli jsem ji nechtic nebouchla a nemohla jsem vůbec spát kontrolovala jsem jestli dýchá  atd.. a pak začalo peklo ze dne na den jsem k malé nic necítila byla jsem prázdná začala jsem mít černé myšlenky paniky strach byt s malou sama ze ji neco udělám</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Běhěm těhotenství jsem občas prožívala velmi úzkostné stavy, pocity přehlcenosti a zmatenosti. Moc změn najednou (otěhotnění, stěhování,  rekonstrukce bytu,  změna práce a  nespokojenost s novou prací a novým bydlením). Celé těhotenství bylo bez fyzických problémů  bez prvotrimestrálních nevolností atd. Akorát ke konci mi bylo občas psychicky a fyzicky zle (bušení srdce  bolest hlavy  problémy se zrakem).</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">JK říká:</h3>
              <p>Nejtěžší bylo přijmout fakt, že jsem najednou zavřená mezi čtyřmi stěnami s malým cizincem a můj do té doby společenský život je fuč. Můj neúspěch byl asi ten, že jsem nedovedla říct o pomoc dřív a první tři měsíce svého dítěte mám komplet vymazané. Zabrat mi dalo vyhrabat se z poporodní deprese a úzkosti mě děsí někdy ještě teď. Můj syn je ale dokonalý. <3</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Po porodu mi neustále chodily zprávy, jak musím být šťastná a jak si určitě užívám miminko. Já byla fyzicky i psychicky na dně, žádnou radost jsem necítila a byla jsem přesvědčená, že jsem ta nejhorší osoba na světě. Dcerku jsem začala opravdu milovat a užívat si ji až tak po 3 měsících.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Lenka říká:</h3>
              <p>Pro mě bylo nejhorší totální vyčerpání po druhém porodu. Dostavilo se potom i spoustu jiných - hlavně fyzických potíží a výsledkem byla diagnóza poporodní deprese. Antidepresiva beru již přes rok a brzy budu vysazovat úplně. Konečně můžu zase normálně žít.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Kristýna říká:</h3>
              <p>Čekala jsem, že mateřská láska je automatická a pocítím ji hned po tom, co dcerku budu držet v náručí a velice mě vyděsilo, když jsem po porodu byla úplně prázdná. Do toho od začátku problém s kojením a pocit hrozného selhání, když jsem malé dala umělé mléko. Vše se srovnalo po pár týdnech, ale bylo to mé nejtěžší období, po psychické stránce jsem si sáhla na dno a opravdu se nenáviděla. </p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Petra říká:</h3>
              <p>Šestinedělí bylo nejtemnější období mého života. Období plné vyčerpanosti, pochybností a pláče. Chyběl mi spánek a můj starý život. Chtěla jsem utéct někam hodně daleko. Bylo těžké zvyknout si na to být matkou a přijmout svůj nový život. Nejtěžší bylo zbavit se předsudků, jak by to mělo být a není (absence zamilovanosti a pocitu štěstí hned na začátku). Skrz tyto zkušenosti jsem pochopila, jak moc jsme my ženy vnitřně silné.</p>
            </div>
          </div>
        </div>

        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">
          <span class="icon icon--icon-chevron-simple-circle-left-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-left-stroked-color"></use></svg>
          </span>
        </button>
        <button class="slick-next slick-arrow" aria-label="Next" type="button">
          <span class="icon icon--icon-chevron-simple-circle-right-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked-color"></use></svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
