<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/botanics.svg') }}" alt="" class="hero-subpage--img">
      <h1>Ochrana osobních údajů</h1>
      <br>
    </div>
  </div>
</section>
