<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak bude nakládáno s mými daty?
      </h2>
      <p>Národní ústav duševního zdraví (dále jen NUDZ) bude nakládat s Vašimi daty v souladu se zákonem č. 110/2019 Sb. Zákon o zpracování osobních údajů, nařízení Evropského parlamentu a Rady (EU) 679/2016 ze dne 27. 4. 2016, o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen „GDPR“) a jiných právních předpisů.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Poučení o Vašich právech dle GDPR
      </h2>
      <ul>
        <li>právo požadovat informaci, jaké Vaše osobní údaje NUDZ zpracovává</li>
        <li>právo vyžádat si u NUDZ přístup k těmto údajům a tyto nechat aktualizovat nebo opravit, případně omezit jejich zpracování a právo vznést námitku proti zpracování</li>
        <li>právo získat osobní údaje ve strukturovaném, běžně používaném a strojově čitelném formátu, pokud je zpracování založeno na souhlasu</li>
        <li>právo požadovat po NUDZ výmaz těchto osobních údajů</li>
        <li>právo, v případě pochybností o dodržování povinností souvisejících se zpracováním osobních údajů, obrátit se na NUDZ nebo na Úřad pro ochranu osobních údajů.</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Na koho se můžu obrátit, pokud budu mít další dotazy?
      </h2>
      <p>Máte-li jakékoliv dotazy týkající se zpracování Vašich osobních údajů, obraťte se na pověřence pro ochranu osobních údajů NUDZ,<br>
        email:
        <a href="mailto:gdpr@nudz.cz">gdpr@nudz.cz</a></p>
    </div>
  </div>
</section>
