<section class="reviews reviews--blog-detail">
  <div class="container">
    <div class="reviews--wrapper">
      <div class="reviews--slider--wrapper">
        <div class="reviews--slider reviews--slider--4">
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Tereza říká:</h3>
              <p>Nejtěžší bylo přijmout, že nejsem šťastná a z vysněného života se stala noční můra. Mateřství si zkrátka neužívám i když bych prý měla. Zabrat mi dalo opravdu to, že moje poporodní deprese vyústily v silnou spánkovou poruchu, to mi hodně zkomplikovalo život a velmi dlouho jsem se z toho dostávala.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">RP říká:</h3>
              <p>Na porod jsem se hodně připravovala a těšila. Všechno ale bylo špatně. Myslím, že i díky tomu nebylo šestinedělí zalité sluncem tak, jak by mělo (takový pocit jsem z okolí měla). Žádná euforie, zamilovanost. Jen bolest, smutek, touha vrátit vše zpět. Dnes (skoro 10m po) už mám ráda svou novou roli, porod snad pomůže vyřešit terapie. Všem maminkám přeji hlavně to, aby na své trápení nebyly samy. </p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Petra říká:</h3>
              <p>S dětmi jsem najednou přestala zvládat svoje emoce. Hnala jsem se za dokonalosti,abych nevypadala jako špatná mama. Vnitřně jsem trpěla a plakala čím dal častěji. Chyběl mi můj život před dětmi. Ten pocit nadechnuti se. Skončila jsem na antidepresivech. </p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Katka říká:</h3>
              <p>Když se syn narodil, vůbec nic jsem necítila, žádná láska až za hrob. Cítila jsem se provinile, zmateně a byla příšerně unavená. Vztah jsme spolu hledali nakonec několik let....</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">V.T. říká:</h3>
              <p>Nejtěžší byl začátek. Příchod z porodnice, velké komplikace po císaři a neschopnost se starat o mého syna. Nebylo mléko ani láska. A já se tak nenáviděla.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">JK říká:</h3>
              <p>Nejtěžší bylo přijmout fakt, že jsem najednou zavřená mezi čtyřmi stěnami s malým cizincem a můj do té doby společenský život je fuč. Můj neúspěch byl asi ten, že jsem nedovedla říct o pomoc dřív a první tři měsíce svého dítěte mám komplet vymazané. Zabrat mi dalo vyhrabat se z poporodní deprese a úzkosti mě děsí někdy ještě teď. Můj syn je ale dokonalý. <3</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Po porodu mi neustále chodily zprávy, jak musím být šťastná a jak si určitě užívám miminko. Já byla fyzicky i psychicky na dně, žádnou radost jsem necítila a byla jsem přesvědčená, že jsem ta nejhorší osoba na světě. Dcerku jsem začala opravdu milovat a užívat si ji až tak po 3 měsících.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Lenka říká:</h3>
              <p>Pro mě bylo nejhorší totální vyčerpání po druhém porodu. Dostavilo se potom i spoustu jiných - hlavně fyzických potíží a výsledkem byla diagnóza poporodní deprese. Antidepresiva beru již přes rok a brzy budu vysazovat úplně. Konečně můžu zase normálně žít.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Kristýna říká:</h3>
              <p>Čekala jsem, že mateřská láska je automatická a pocítím ji hned po tom, co dcerku budu držet v náručí a velice mě vyděsilo, když jsem po porodu byla úplně prázdná. Do toho od začátku problém s kojením a pocit hrozného selhání, když jsem malé dala umělé mléko. Vše se srovnalo po pár týdnech, ale bylo to mé nejtěžší období, po psychické stránce jsem si sáhla na dno a opravdu se nenáviděla. </p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Petra říká:</h3>
              <p>Šestinedělí bylo nejtemnější období mého života. Období plné vyčerpanosti, pochybností a pláče. Chyběl mi spánek a můj starý život. Chtěla jsem utéct někam hodně daleko. Bylo těžké zvyknout si na to být matkou a přijmout svůj nový život. Nejtěžší bylo zbavit se předsudků, jak by to mělo být a není (absence zamilovanosti a pocitu štěstí hned na začátku). Skrz tyto zkušenosti jsem pochopila, jak moc jsme my ženy vnitřně silné.</p>
            </div>
          </div>
        </div>

        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">
          <span class="icon icon--icon-chevron-simple-circle-left-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-left-stroked-color"></use></svg>
          </span>
        </button>
        <button class="slick-next slick-arrow" aria-label="Next" type="button">
          <span class="icon icon--icon-chevron-simple-circle-right-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked-color"></use></svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
