<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Ano, existují léky, které by se neměly v těhotenství užívat, ale na druhou stranu existují i takové, jejichž užívání je dle aktuálních dat pro vaše dítě bezpečné.</p>
      <p>Je také možné, že jste odbornou péči o duševní zdraví vyhledala poprvé až v těhotenství. Jednou z možností léčby, která vám mohla být doporučena, jsou i psychofarmaka, mezi která patří antidepresiva, stabilizátory nálady, antipsychotika, anxiolytika nebo i léky na spaní.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Na co je dobré se ptát ošetřujícího lékaře, pokud se rozhoduji, zda v těhotenství užívat psychofarmaka?
      </h2>
      <ul>
        <li>Jak samotné těhotenství nebo porod může ovlivnit moji psychiku?</li>
        <li>Jaké je riziko, že se můj stav v těhotenství může zhoršit nebo zlepšit?</li>
        <li>Jsou tu nějaká rizika, kdybych se rozhodla, že nechci užívat v těhotenství psychofarmaka?</li>
        <li>Jaká jsou rizika spojená s užíváním daného psychofarmaka v těhotenství? Jak ovlivní tělesný a mentální vývoj dítěte? Mohou nějak ovlivnit porod?</>
        <li>Jaká jsou rizika spojená s neléčenými psychickými problémy v těhotenství? Jak ovlivní tělesný a mentální vývoj dítěte? Mohou nějak ovlivnit porod?</li>
        <li>Převažují rizika spojená s léky nebo ta spojená s neléčenou psychickou poruchou?</>
        <li>Existují alternativy léčby pomocí psychofarmak? Jaká nesou rizika a výhody oproti lékům?</li>
      </ul>
      <p>Posouzení o tom, zda jsou pro Vás psychofarmaka v těhotenství vhodná a jaký typ je vždy silně individuální a je nutná důkladná konzultace s odborníky.</p>
      <p>Při rozhodování musí lékař brát v potaz například:</p>
      <ul>
        <li>V jakém jste trimestru</li>
        <li>Jaké jsou vaše psychické obtíže</li>
        <li>Jak vaše psychické obtíže ovlivňují vaše fungování</li>
        <li>Jak jste v minulosti snášela vysazení léků</li>
        <li>Jaké léky vám v minulosti pomohly</li>
        <li>Jestli využíváte jiné, nelékové, formy péče – např. psychoterapii</li>
      </ul>
      <p>Předtím, než se rozhodnete užívat psychofarmaka v těhotenství, by vám měl lékař nebo lékařka, kteří vám je předepsali, podrobně vysvětlit všechny výhody a nevýhody jejich užívání.</p>
    </div>
  </div>
</section>
