<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh anonymní maminky</h3>
        <p>„Na příchod malé jsem se dlouho těšila a připravovala. Nakoupila knížky, spoustu věcí na malou, téměř vše bylo v mé režii. No a Jak to všechno začalo? První tři měsíce byly těžké, protože malá hodně plakala (prdíky, reflux, moc mléka, které nezvládla správně pít, no a k tomu pláč za veškeré nové vjemy nebo zážitky – dcera je velmi citlivá a vnímavá)…</p>
        <p>Během této doby jsem byla já z nás dvou s manželem ta více nad věcí. Já, která vstávala k malé a nechala manžela v noci spát a já, která s ní byla dnes a denně – to vše s láskou a velmi ráda. Zároveň ale i já, která seděla na Googlu od rána do noci a velmi se bála, aby dělala vše tak, jak se má a aby byla malá zdravá, šťastná a měla dost podnětu i odpočinku. A když něco nešlo podle knížek, bála jsem se, že jsem špatná máma.</p>
        <p>Na podzim se mi začaly zdát divné sny. Byly děsivé, často nesmyslné a já začala mít zvláštní strach o své blízké – že se jim něco stane a já o ně přijdu. Našla jsem v nich ale i poselství a pozitivum – měla bych pomáhat lidem a více se věnovat rodině. A lidé jsem i já, což jsem tehdy ještě nebrala vážně. Hlavně tu být pro ostatní. V tu dobu jsem ještě v noci mohla spát.“</p>
        <p>
          <a href="https://www.usmevmamy.cz/2021/02/18/mela-jsem-silene-stazeny-zaludek-a-hrozny-pocit-ze-me-nic-nebavi-a-ze-nejsem-schopna-najit-jedinou-radost-v-zivote/" class="button" target="_blank">Přečíst celý příběh</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
