<section class="hero-subpage page-conference">
  <div class="container">
    <div class="hero-subpage--wrapper hero-subpage--wrapper--smaller">
      <div class="date-box">
        <div class="date-box--day">13</div>
        <div class="date-box--month">května</div>
      </div>
      <h1>
        Perinatální duševní zdraví
        <small>Multioborová konference</small>
      </h1>
    </div>
  </div>
</section>
