<section class="conferences">
  <div class="container">
    <div class="conferences--info-wrapper">
      <div class="conferences--info-box">
        <div class="conferences--info-item">
          <div class="conferences--info-title">
            Termín
          </div>
          <div class="conferences--info-content">
            pátek <br>13.května 2022
          </div>
        </div>
        <div class="conferences--info-item">
          <div class="conferences--info-title">
            Místo
          </div>
          <div class="conferences--info-content">
            PLZEŇ - Hotel Central, <br>
            Nám. Republiky 33
          </div>
        </div>
        <div class="conferences--info-item">
          <div class="conferences--info-title">
            Cena
          </div>
          <div class="conferences--info-content">
            Zdarma*
          </div>
        </div>
      </div>
      <div class="conferences--info-text">
        *Díky podpoře Fondů EHP a Norska
      </div>
    </div>

    <a href="https://forms.gle/of2XhsazhtYAeZsz6" target="_blank" class="button button--gradient button--max">
      <span>Příhlásit se na konferenci</span>
    </a>
    <div class="conferences--program-wrapper">
      <h2 class="conferences--program-heading">Program</h2>
      <div class="conferences--program-title">
        Dopolední část
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          8:00 - 9:00
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Registrace účastníků konference na místě
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          9:00 - 9:45
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Perinatální duševní zdraví: Věc veřejná
          </div>
          <div class="conferences--program-content-author">
            prof. MUDr. Pavel Mohr, Ph.D.
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          9:50 - 9:55
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Prožitá zkušenost I
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          10:00 - 10:45
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Prevalence perinatálních duševních poruch v ČR a jejich příznaky.
          </div>
          <div class="conferences--program-content-author">
            MUDr. Antonín Šebela, PhD. <br> Ing. Veronika Kubrichtová
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          10:50 - 10:55
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Prožitá zkušenost II
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          11:00 - 11:25
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Vliv péče porodní asistentky na poporodní depresi
          </div>
          <div class="conferences--program-content-author">
            PhDr. Kristina Janoušková, Ph.D.
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          11:30 - 12:00
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Perinatální duševní zdraví očima pacientky
          </div>
          <div class="conferences--program-content-author">
            Mgr. Renata Banášová, <br> Mgr. Zuzana Zemancová
          </div>
        </div>
      </div>
      <div class="conferences--program-item conferences--program-item-full">
        <div class="conferences--program-time conferences--program-time-full">
          12:00 - 13:00
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Obědová pauza
          </div>
        </div>
      </div>
      <div class="conferences--program-title">
        Odpolední <strong>část A</strong>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          13:00 - 13:25
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Jak předcházet vývojovému traumatu a jak ho léčit
          </div>
          <div class="conferences--program-content-author">
            PhDr. Eva Labusová
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          13:30-13:55
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Slzy císařoven
          </div>
          <div class="conferences--program-content-author">
            Bc. Dagmar Ludvíčková
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          14:00 - 14:25
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Perinatální ztráta a duševní zdraví rodičů
          </div>
          <div class="conferences--program-content-author">
            Mgr. Kateřina Ratislavová, Ph.D.
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          14:30 - 14:55
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Nevhodná komunikace v perinatálním období a její důsledky v životě ženy
          </div>
          <div class="conferences--program-content-author">
            Mgr. Lucie Kašová
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          15.00 – 15.25
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Jak pracovat se sebedůvěrou těhotných a žen v perinatálním období
          </div>
          <div class="conferences--program-content-author">
            Mgr. Lenka Kristlová
          </div>
        </div>
      </div>
      <div class="conferences--program-title">
        Odpolední <strong>část B</strong>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          13:00 - 13:25
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Perinatální psychologická péče
          </div>
          <div class="conferences--program-content-author">
            Mgr. Jana Černá
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          13:30-13:55
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Prvotní výsledky programu prevence rozvoje poporodní deprese
          </div>
          <div class="conferences--program-content-author">
            MUDr. Antonín Šebela, Ph.D.
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          14:00 - 14:25
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Psychiatrické léky a těhotenství
          </div>
          <div class="conferences--program-content-author">
            MUDr. Jan Hanka
          </div>
        </div>
      </div>
      <div class="conferences--program-item">
        <div class="conferences--program-time">
          14:30 - 14:55
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Psychiatrické léky a kojení
          </div>
          <div class="conferences--program-content-author">
            MUDr. Jan Hanka
          </div>
        </div>
      </div>
      <div class="conferences--program-item conferences--program-item-full">
        <div class="conferences--program-time conferences--program-time-full">
          15:30 - 16:00
        </div>
        <div class="conferences--program-content">
          <div class="conferences--program-content-name">
            Zakončení
          </div>
          <div class="conferences--program-content-author">
            Ing. Veronika Kubrichtová, <br> MUDr. Antonín Šebela, Ph.D.
          </div>
        </div>
      </div>
      <p><strong>Vzdělávací akce je pořádána dle Stavovského předpisu ČLK č. 16 a v rámci postgraduálního vzdělávání je
          ohodnocena 5 kredity pro lékaře.</strong></p>
      <p><small>Pořadatel</small><br>
        Národní ústav duševního zdraví, Klecany
      </p>
      <p><small>Odborný garant</small><br>
        prof. MUDr. Pavel Mohr, Ph.D.
      </p>
      <p><small>Záštita</small><br>
        Úsměv mámy, z.s. <br>
        Katedra ošetřovatelství a porodní asistence Fakulta zdravotnických studií ZČU <br>
        Sdružení porodních asistentek Plzeňského kraje, p.s.
      </p>
    </div>
  </div>
</section>
