<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/botanics.svg') }}" alt="" class="hero-subpage--img">
      <h1>
        Je důležité umět naslouchat a také si navzájem pomáhat
        <small>Pro ženy</small>
      </h1>
    </div>
  </div>
</section>
