<section class="for-woman-text">
  <div class="for-woman-text--grid">
    <div class="for-woman-text--left">
      <img src="{{ asset('build/img/for-woman-1.jpg') }}" alt="">
      <span class="our-team--grid--shape--1 icon icon--icon-star-7-1-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-7-1-color"></use></svg>
      </span>
    </div>
    <div>
      <img src="{{ asset('build/img/for-woman-2.jpg') }}" alt="">
    </div>
  </div>
  <div class="container">
    <div class="for-woman-text--wrapper">
      <p>Duše mámy je velice důležitou, ne-li klíčovou součástí vytváření vztahu s dítětem. Ze všech stran slyšíme věty jako např. – “dítě cítí, jestli je máma v pohodě”, “když bude v pohodě máma, bude i dítě”… Není to jen věta, pouto mámy a dítěte je velice těsné a křehké, a ne vždy je snadné zachovat si chladnou hlavu a “být v pohodě”, snadno se maminky dostanou do začarovaného kruhu.</p>
      <p>Vztah mámy a dítěte probíhá propojením psychiky a fyzična – nosíme dítě ve svém těle, což je přímo propojeno s emocemi. Přestože je porod fyzickou záležitostí, žádný se neobejde bez emočního zážitku. Při kojení/krmení nedostává dítě jen potravu a živiny, ale také pocit bezpečí a sytí si tuto základní potřebu. Fyzický kontakt – nošení, laskání, hlazení není jen o kontaktu, ale také o pocitu, že je dítě milováno, a dává miminku sílu a prostor se vyvíjet.</p>
      <p>Pokud tedy žena “není v pohodě” dlouhodobě a nenačerpá síly být s miminkem fyzicky i psychicky, tak pak postupně strádá i miminko. Je třeba plačtivé nebo nechce papat, a to pak ubírá síly i mamince.</p>
    </div>
  </div>
</section>
