<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Prevalence rozvoje akutní psychotické epizody v&nbsp;poporodním období je 1–2 na 1 000 porodů <a
          href="#literatura1">(1)</a>. Aplikujeme‑li prevalenční data na naše prostředí, můžeme odhadovat, že se v&nbsp;České
        republice ročně rozvine poporodní psychóza u&nbsp;110–220 žen <a href="https://www.czso.cz/" target="_blank">(www.czso.cz)</a>.
      </p>
      <p>Pokud diagnostikujeme psychotickou poruchu v&nbsp;poporodním období, pak se může jednat buď o&nbsp;nově rozvinuté
        onemocnění, psychotickou poruchu s&nbsp;počátkem v&nbsp;poporodním období („laktační psychóza“), anebo o&nbsp;exacerbaci již
        dříve existujícího onemocnění (relaps schizofrenie, schizoafektivní poruchy&nbsp;aj.) </p>
      <p>Prvními klinickými projevy poporodní psychózy jsou snížená potřeba spánku, elevovaná nálada a&nbsp;emoční
        dysregulace, které v&nbsp;řádu hodin či maximálně jednotlivých dnů přecházejí do desorganizovaného psychotického
        syndromu <a href="#literatura2">(2)</a>. K&nbsp;rizikům neléčené či pozdě zachycené poporodní psychózy patří
        sebevražda matky nebo raritní, ale tragické případy infanticidy <a href="#literatura3">(3)</a>. </p>
      <p>Prognóza léčené poporodní psychózy je obecně velmi dobrá, ale doba plné rekonvalescence může dosahovat až
        12&nbsp;měsíců <a href="#literatura4">(4)</a>. Poporodní psychóza matky má tedy v důsledku velký negativní dopad na
        raný vývoj dítěte i&nbsp;partnerský vztah <a href="#literatura5">(5)</a>. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Etiologie a&nbsp;rizikové faktory
      </h2>
      <p>Zastaralý a&nbsp;nepřesný název „laktační psychóza“ odkazuje na kauzální roli prolaktinu v&nbsp;etiologii poporodní
        psychózy. Tato hypotéza však nebyla nikdy potvrzena a role prolaktinu, estrogenů a&nbsp;progesteronu v&nbsp;etiologii
        poporodní psychózy zůstává stále neobjasněna <a href="#literatura6">(6)</a>. Etiologie poporodní psychózy je
        i&nbsp;přes rostoucí počet genetických a&nbsp;neuroendokrinologických studií zatím nejasná.</p>
      <p>Dosavadní výsledky naznačují, že by se mohlo jednat o&nbsp;genetický subtyp bipolární afektivní poruchy <a
          href="#literatura7">(7)</a>. Podle mnoha autorů je poporodní psychóza prvním klinickým projevem dříve
        nevyjádřené bipolární afektivní poruchy <a href="#literatura8">(8)</a>. Nejrizikovějším faktorem pro vznik
        poporodní psychózy je rovněž anamnéza bipolární afektivní poruchy. </p>
      <p>Navíc ženy, které již v&nbsp;minulosti poporodní psychózu prodělaly, jsou ve vysokém riziku rozvoje další epizody po
        následujícím porodu (rekurence 57&nbsp;%, 95% CI&nbsp;=&nbsp;44–69), a&nbsp;to i přesto, že v&nbsp;mezidobí neměly potíže s&nbsp;duševním
        zdravím <a href="#literatura9">(9)</a>. Nicméně u&nbsp;50&nbsp;% žen s&nbsp;poporodní psychózou nejsou rizikové faktory stále
        jasně vypátratelné <a href="#literatura10">(10)</a>. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Poporodní psychóza a&nbsp;laktace

      </h2>
      <p>Laktace a&nbsp;s&nbsp;ní spojená vyšší hladina prolaktinu není prokazatelně rizikovým faktorem rozvoje poporodní psychózy
        <a href="#literatura11">(11)</a>. Farmakologické ukončení laktace jako prevence rozvoje poporodní psychózy u&nbsp;žen
        v&nbsp;riziku není proto doporučováno. </p>
      <p>Naopak zástava laktace pomocí agonistů D2 receptorů (bromokriptin, kabergolin) může riziko rozvoje psychotické
        epizody zvyšovat <a href="#literatura12">(12)</a>. Pokud to stav matky, užívané léky a&nbsp;vybavení oddělení
        umožňuje, je obecně doporučováno v&nbsp;laktaci a&nbsp;kojení pokračovat i&nbsp;za hospitalizace <a
          href="#literatura13">(13)</a>. </p>
      <p>Specializované psychiatrické oddělení umožňující kontakt matky s&nbsp;dítětem za supervize personálu (Mother‑Baby
        Unit) však zatím existují jen v&nbsp;zahraničí. U&nbsp;nás je situace často taková, že pravidelný kontakt mezi
        hospitalizovanou matkou a&nbsp;jejím dítětem není možný. V&nbsp;těchto případech ideálně volíme nefarmakologické metody
        postupné zástavy laktace (např.&nbsp; doporučujeme prsy vyvázat a&nbsp; stáhnout&nbsp; – mechanický tlak laktaci potlačuje;
        a&nbsp;dále mléko neodstříkávat&nbsp;– tímto procesem se totiž tvorba mléka stimuluje). </p>
      <p>Informace o antipsychoticích v&nbsp;laktaci naleznete <a
          href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antipsychotika-a-kojeni'}) }}">zde</a>.
      </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Jones I, Chandra PS, Dazzan P, Howard&nbsp;LM. Bipolar disorder, affective psychosis, and schizophrenia in
          pregnancy and the post ‑partum period. Lancet. 2014; 384: 1789–1799.
        </li>
        <li id="literatura2">
          Heron J, McGuinness M, Robertson Blackmore E, Craddock N, Jones&nbsp;I. Early postpartum symptoms in puerperal
          psycho‑sis. Br J Obstet Gynaecol. 2008; 115: 348–353.
        </li>
        <li id="literatura3">
          Spinelli MG. Postpartum psychosis: detection of risk and management. Am J Psychiatry. 2009 Apr;166(4):
          405–408.
        </li>
        <li id="literatura4">
          Sit D, Rothschild AJ, Wisner KL. A&nbsp; review of postpartum psychosis. J Womens Health (Larchmt). 2006;
          15(4):352–68.
        </li>
        <li id="literatura5">
          Holford N, Channon S, Heron J, Jones&nbsp;I. The impact of po‑stpartum psychosis on partners. BMC Pregnancy
          Childbirth. 2018 Oct 23;18(1): 414.
        </li>
        <li id="literatura6">
          Di Florio A, Smith S, Jones&nbsp; I. Postpartum psychosis. The Obstetrician & Gynaecologist 2013; 15: 145–150.
        </li>
        <li id="literatura7">
          Jones I, Craddock N. Familiality of the puerperal trigger in bipolar disorder: results of a&nbsp;family study. Am J
          Psychiat‑ry 2001; 158: 913–917.
        </li>
        <li id="literatura8">
          Robertson E, Jones I, Haque S, Holder R, Craddock N. Risk of puerperal and non ‑puerperal recurrence of
          illness following bipolar affective puerperal (post ‑partum) psychosis. The Bri‑tish Journal of Psychiatry.
          2005; 186(3): 258–259.
        </li>
        <li id="literatura9">
          Blackmore ER, Rubinow DR, O‘Connor TG, Liu X, Tang W, Craddock N, Jones&nbsp;I. Reproductive outcomes and risk of
          sub‑sequent illness in women diagnosed with postpartum psy‑chosis. Bipolar disorders. 2013; 15(4): 394–404.
        </li>
        <li id="literatura10">
          Rajkumar, RP. Prolactin and psychopathology in schizo‑phrenia: a&nbsp;literature review and reappraisal.
          Schozophrenia Res Treat. 2014; 12: 34.
        </li>
        <li id="literatura11">
          Snellen M, Power J, Blankley G, Galbally&nbsp;M. Pharmacologi‑cal lactation suppression with D2 receptor agonists
          and risk of postpartum psychosis: A&nbsp;systematic review. Aust N Z&nbsp;J Ob‑stet Gynaecol. 2016 Aug; 56(4): 336–340.
        </li>
        <li id="literatura12">
          Austin M ‑P, Highet N and the Expert Working Group. Mental Health Care in the Perinatal Period: Australian
          Clini‑cal Practice Guideline. 2017.
        </li>
        <li id="literatura13">
          Howard LM, Goss C, Leese M, Appleby L, Thornicroft, G. The psychosocial outcome of pregnancy in women with
          psy‑chotic disorders. Schizophr. Res., 2004, 71: 49–60
        </li>
      </ol>
    </div>
  </div>
</section>
