<section class="float-contact-us" id="float-contact-us">
  <div class="container">
    <div class="float-contact-us--wrapper">
      <button class="float-contact-us--show js-float-contact-us">
        <span class="icon icon--icon-users-love-color">
          <svg class="icon__svg"><use xlink:href="#icon-users-love-color"></use></svg>
        </span>
      </button>
      <div class="float-contact-us--hidden js-hidden">
        <button class="float-contact-us--close js-float-contact-us">
          <span class="icon icon--icon-user-interface-close-simple">
            <svg class="icon__svg"><use xlink:href="#icon-user-interface-close-simple"></use></svg>
          </span>
        </button>
        <h2 class="h3">Nezapomeňte, nikdy v tom nejste sama!</h2>
        <p>Kdykoli potřebujete pomoci, neváhejte využít jednu z infolinek, na které se vám dostane potřebné pomoci.</p>
        <div class="float-contact-us--call-box">
          <div class="float-contact-us--call-box--row">
            <h3>Pražská linka důvěry:</h3>
            <a href="tel:222 580 697">222 580 697</a>
          </div>
          <div class="float-contact-us--call-box--row">
            <h3>Linka první psychické pomoci:</h3>
            <a href="tel:116 123">116 123</a>
          </div>
        </div>
        <a href="https://www.usmevmamy.cz/kontakt/" class="button button--gradient" target="_blank">
          <span>Napište nám</span>
        </a>
      </div>
    </div>
  </div>
</section>
