<section class="blog-detail-author">
  <div class="container">
    <div class="blog-detail-author--wrapper">
      <h2>Autoři:</h2>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-alzbeta-honzkova.jpg') }}" alt="">
        <div>
          <h3>MUDr. Alžběta Honzková</h3>
          <small>praktický lékař pro děti a dorost, autorka podcastu Pediatrie na vlastní kůži</small>
        </div>
      </div>
    </div>
  </div>
</section>
