<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Bylo by krásné, kdyby to tak opravdu vždy bylo, ale z vlastní zkušenosti víme, že porod a poté i mateřství jsou často psychicky i fyzicky velmi vyčerpávající záležitosti a ke slastným pocitům máme daleko.</p>
      <p>Jako těhotná budete slýchat nejrůznější porodní příběhy, budete dostávat nevyžádané rady od okolí a na internetu se dočtete zaručené tipy na bezbolestný porod. Samotný porod je však nepřenositelná zkušenost a každá žena ho vnímá i prožívá velmi rozdílně, proto jsou tyto univerzální rady někdy spíše ke škodě než k užitku. Vhodné je absolvovat předporodní kurz, kde se jednak dozvíte řadu užitečných informací přímo od porodních asistentek či lékařů, kteří Vám také zodpoví Vaše dotazy. Předporodní kurzy nyní probíhají i formou online kurzů, ale pokud to lze, je vhodnější absolvovat kurz přímo ve Vaší porodnici, abyste se seznámili i s nemocničním prostředím a místními zvyklostmi. Dnes už je běžné, že se předporodních kurzů účastní i tatínek miminka, protože i on hraje během porodu svoji důležitou roli.</p>
      <p>Porodem to však nekončí, ale začíná. Často se těhotné ženy soustředí ve svých přípravách zejména na porod s tím, že pak už to nějak bude a péči o miminko Vám ukáží v porodnici. Ano, částečně to tak bude, ale určitě je na místě se připravit i na poporodní období.</p>
      <p>Dvě hodiny po spontánním porodu bez komplikací zůstává maminka s miminkem (a ideálně i doprovodem) na porodním sále. Čeká na porod placenty, pak následuje případné ošetření poporodních poranění a také je to z praktických důvodů, že jste vy i miminko pod větším dohledem v kritické poporodní době. Po narození děťátka je vhodné položit miminko na vaše břicho či hrudník a být tak v přímém kontaktu kůže na kůži. Tento tzv. bonding je přínosný pro novorozence i maminku. Během bondingu by do dvou hodin mělo dojít k prvnímu přisátí miminka k prsu.</p>
      <p>Na porodním sále ještě proběhne první vyšetření miminka, kdy dětský lékař či sestřička vaše děťátko prohlédne, poslechne si srdíčko a dýchání a zhodnotí, jak se miminko po porodu adaptuje na nové prostředí (tzv. Apgar skóre). Dále se miminku zkontroluje pupeční pahýl a dezinfekčními kapičkami se ošetří oči. Následuje vážení hmotnosti a měření délky miminka a už putuje zpátky do vaší náruče. Po dvou hodinách se společně přesunete na oddělení šestinedělí.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Oddělení  šestinedělí
      </h2>
      <p>Z porodního sálu se po 2 hodinách přesunete i s miminkem na oddělení šestinedělí. Zde se o Vás bude starat tým gynekologický a o miminko neonatologický. V dnešní době je už standardem ve všech porodnicích tzv. rooming in, což znamená, že jsou maminky se svými miminky po celou dobu na pokoji (někde je za příplatek možná i přítomnost otce).</p>
      <p>Do 6 hodin po porodu se v České republice aplikuje všem novorozencům vitamin K. Vitamin K hraje důležitou roli ve srážení krve a při jeho nedostatku hrozí samovolné krvácení. Tento stav se nazývá krvácivá nemoc novorozenců, která se může objevit mezi 1. dnem až 12. týdnem od narození a projeví se krvácením z pupku, ale i krvácením do trávicího traktu či do mozku. Důvodů, proč má i zcela donošený zdravý novorozenec nižší hladiny vitaminu K, je více – jednak ho méně prochází placentou, je ho nedostatečné množství v mateřském mléku, a ještě se ho méně tvoří střevní mikroflorou. Jsou dvě možnosti podání vitaminu K – jednorázově injekčně nebo opakovaně kapkami do pusinky. Výhodou injekčního podání je jistota vstřebávání a efektivita u všech forem krvácivé nemoci. Nevýhodou je injekční podání do svalu. Kapičky do pusy jsou sice bezbolestné, ale musí se podávat opakovaně (1 kapka týdně, do 12. týdne věku miminka), aby byla prevence dostatečná. A vzhledem k častému ublinkávání miminek je někdy nejistota ve vstřebání kapek. Vzhledem k tomu, že obě možnosti mají své výhody i nevýhody, dávají některé porodnice přednost kapičkám, jiné injekčnímu podání.</p>
      <p>Po celou dobu pobytu na oddělení šestinedělí probíhá zaučování v péči o miminko; sestřičky a lékaři vám ukáží správnou manipulaci s miminkem, péči o pupeční pahýl, přebalování, oblékání i koupání. Největší pozornost je věnována nastartování laktace a správnému přikládání k prsu, jelikož mateřské mléko je nejoptimálnější stravou pro malá miminka a kojení přináší mnoho výhod pro děti i maminky. Každý den dopoledne přichází gynekologická i pediatrická vizita. Pokud vám něco není jasné, bojíte se miminko vzít do náruče či vás kojení bolí, nebojte se personálu zeptat. Pro jistotu si klidně Vaše dotazy napište na papírek – určitě je lepší se zeptat než si pak pročítat internetové diskuze.</p>
      <p>V porodnici u miminka proběhnou vyšetření s cílem odhalit zatím skrytá onemocnění, které je však možné začít brzy léčit a předejít tak závažným následkům. Jedná se o vyšetření kyčelních kloubů, vyšetření očního pozadí a sluchu a laboratorní novorozenecký screening. Ten se provádí odběrem pár kapek krve z patičky novorozence a díky němu jsme schopni vyšetřit 18 vzácných chorob, u kterých je zásadní zahájit léčbu co nejdříve. Odběrová kartička se zasílá do speciálních laboratoří a rodiče jsou kontaktováni pouze při podezření na onemocnění. Dále se u každého miminka sleduje případný rozvoj novorozenecké žloutenky.</p>
      <p>Po spontánním porodu se obvykle z porodnice propouští po 72 hodinách, po císařském řezu se zdržíte o den až dva déle. Při propuštění domů si kromě miminka odnesete zdravotní a očkovací průkaz, který budete nosit na každé očkování a každou preventivní prohlídku k pediatrovi až do 19 let vašeho potomka. Dětskému lékaři také na první prohlídce miminka odevzdáte dotazník na riziko tuberkulózy. V roce 2010 bylo zrušeno plošné očkování proti tuberkulóze, které se dříve provádělo u všech novorozenců už na porodnici. Místo toho vyplníte v porodnici dotazník ohledně rizika, na základě čehož se vytipují pouze děti s vysokým rizikem infikování tuberkulózy, a ty jsou pak naočkovány až po propuštění z porodnice ve speciálním očkovacím centru.</p>
      <p>Více informací k tématu si můžete poslechnout v dílech podcastu Pediatrie na vlastní kůži. Tento podcast vytváří dětské lékařky, a zároveň maminky, které touto formou sdílí své rady a zkušenosti z mateřské i lékařské praxe.</p>
      <h3>Odkazy:</h3>
      <ul>
        <li>
          Porodní sál <br>
          <a href="https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Novorozenec-na-porodnm-sle-etdbjk" target="_blank">https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Novorozenec-na-porodnm-sle-etdbjk</a>
        </li>
        <li>
          Porod a poporodní poranění <br>
          <a href="https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Porod-a-porann-novorozence-e115sqp" target="_blank">https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Porod-a-porann-novorozence-e115sqp</a>
        </li>
        <li>
          Pupeční šňůra <br>
          <a href="https://anchor.fm/pediatrie-na-vlastn-ki/episodes/12-Pupen-ra-e12ek7t" target="_blank">https://anchor.fm/pediatrie-na-vlastn-ki/episodes/12-Pupen-ra-e12ek7t</a>
        </li>
        <li>
          Oddělení šestinedělí <br>
          <a href="https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Oddlen-estinedl-etubn2" target="_blank">https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Oddlen-estinedl-etubn2</a>
        </li>
        <li>
          Novorozenecká žloutenka <br>
          <a href="https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Novorozeneck-loutenka-evqp94" target="_blank">https://anchor.fm/pediatrie-na-vlastn-ki/episodes/Novorozeneck-loutenka-evqp94</a>
        </li>
        <li>
          Péče o novorozence <br>
          <a href="https://anchor.fm/pediatrie-na-vlastn-ki/episodes/15-Pe-o-novorozence-e13n5a3" target="_blank">https://anchor.fm/pediatrie-na-vlastn-ki/episodes/15-Pe-o-novorozence-e13n5a3</a>
        </li>
      </ul>
    </div>
  </div>
</section>
