<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/mother-8.svg') }}" alt="" class="hero-subpage--img">
      <div class="breadcrumb">
        <a href="{{ path('app_default_pageAction', {'slug':'pro-zeny'}) }}" class="breadcrumb--text">Pro ženy</a>
        <a href="{{ path('app_default_pageAction_forWomen', {'slug':'tehotenstvi'}) }}" class="breadcrumb--text">Těhotenství</a>
        <span class="breadcrumb--text">Depresivní porucha a těhotenství</span>
      </div>
      <h1>Depresivní porucha a těhotenství</h1>
    </div>
  </div>
</section>
