<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Depresivní epizoda v&nbsp;těhotenství je dle výsledků dvou metaanalýz zkoumajících vztah mezi prenatální depresí a
        průběhem těhotenství asociována se zvýšeným rizikem předčasného porodu před dokončeným 37. gestačním týdnem
        <a href="#literatura2">(2, 3)</a>. Grigoriadis se spolupracovníky <a href="#literatura2">(2)</a> uvádí, že studie, které statisticky kontrolovaly výsledky na faktory
        kouření a užívání antidepresiv v&nbsp;těhotenství, ukázaly na nižší a nesignifikantní relativní riziko pro předčasný
        porod (OR 1,37; 95% IS: 1,04–1,81). Autoři druhé metaanalýzy v&nbsp;závěrech uvádějí, že relativní riziko předčasného
        porodu u žen léčených i neléčených antidepresivy bylo přibližně stejné (RR 1,13; 95% CI 1,06–1,21) <a href="#literatura3">(3)</a>.
        Důležitým poznatkem je, že riziko pro předčasný porod rostlo zároveň se závažností depresivní epizody. </p>
      <p>U plodu matky s&nbsp;neléčenou depresí pozorujeme zvýšenou motorickou aktivitu, změny ve variabilitě srdeční
        frekvence a změny v metylaci DNA <a href="#literatura4">(4)</a>. U novorozenců exponovaných neléčené depresi byly nalezeny zvýšené hladiny
        kortizolu a noradrenalinu spolu se zvýšenou asymetrií na EEG <a href="#literatura4">(4)</a>. </p>
      <p>Mezi další potenciální rizika pro plod, která doprovází neléčenou depresivní poruchu u těhotných, patří zvýšená
        konzumace alkoholu a tabáku, suicidální a sebepoškozující jednání, nedostatečná výživa, špatná adherence
        s&nbsp;prenatální péčí a snížená schopnost starat se o novorozence <a href="#literatura5">(5)</a>. V&nbsp;přehledovém článku 37 studií bylo nalezeno
        vyšší riziko spontánních potratů a porodních komplikací u žen s&nbsp;neléčenou depresí než u nedepresivních žen
        <a href="#literatura6">(6)</a>. </p>
      <p>Mezi základní léčebné modality deprese v&nbsp;těhotenství patří psychoterapie a farmakoterapie antidepresivy. Mezi
        podpůrnou péči lze počítat i peer podporu proškolených žen, které si samy prošly depresí v&nbsp;těhotenství
        <a href="https://www.usmevmamy.cz/" target="_blank">(www.usmevmamy.cz)</a>, nebo využití mobilních aplikací s&nbsp;psychoterapeutickými prvky <a href="https://kogito.cz/" target="_blank">(www.kogito.cz))</a> </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Gavin NI, Gaynes BN, Lohr KN, et al. Perinatal depression: a systematic review of prevalence and incidence. Obstet Gynecol. 2005; 1071–1083
        </li>
        <li id="literatura2">
          Grigoriadis S, VonderPorten EH, Mamisashvili L, et al. The impact of maternal during pregnancy on perinatal outcomes: a systematic review and meta-analysis. J Clin Psychiat-ry. 2013a; 74: e321–341.
        </li>
        <li id="literatura3">
          Grote NK, Bridge JA, Gavin AR, et al. A meta-analysis of de-pression during pregnancy and the risk of preterm birth, low birth weightm and intrauterine growth restriction. Arch Gen Psychiatry. 2010; 67: 1012–1024.7.
        </li>
        <li id="literatura4">
          Gentile S. Untreated depression during pregnancy: short- and long-term eff  ects in off  spring. A systematic review. Neu-roscience. 2017; 342: 154: 166.
        </li>
        <li id="literatura5">
          Hanka J, Sebela A, Mohr P. Psychofarmaka v těhotenství: aktuální poznatky 2017. Psychiatrie. 2017; 21: 99–106
        </li>
        <li id="literatura6">
          Bonari  L, Pinto N,  Ahn  E,  et  al.  Perinatal  risks  of  untreated depression during pregnancy Can J Psychiatry 2004; 49: 726–735.
        </li>
      </ol>
    </div>
  </div>
</section>
