<section class="blog-detail-author">
  <div class="container">
    <div class="blog-detail-author--wrapper">
      <h2>Autoři:</h2>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-kristyna-hrdlickova.jpg') }}" alt="">
        <h3>Bc. Kristýna Hrdličková</h3>
      </div>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-sebela.jpg') }}" alt="">
        <h3>MUDr. Antonín Šebela, Ph.D.</h3>
      </div>
    </div>
  </div>
</section>
