<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Více informací o psychickém zdraví v <a href="{{ path('app_default_pageAction_forWomen', {'slug':'tehotenstvi'}) }}">těhotenství</a>.</p>
      <p>Více informací o psychickém zdraví <a href="{{ path('app_default_pageAction_forWomen', {'slug':'po-porodu'}) }}">po porodu</a>.</p>
      <p>Pokud se u vaší partnerky / sestry / dcery nebo kamarádky projevily perinatální psychické potíže, může to být obtížné období i pro Vás. Proto zde naleznete pár tipů, které mohou pomoci.</p>
      <p>Vaše milovaná a blízká osoba potřebuje pochopení, proto je pro vaši blízkou osobu velmi důležité vyjádření podpory, povzbuzení a naděje z vaší strany.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Podpora vaší blízké osoby
      </h2>
      <ul>
        <li>Naslouchejte a nabídněte pomocnou ruku při vyhledání odborné pomoci. Můžete se také nabídnout jako doprovod.</li>
        <li>Podpořte blízkou osobu v tom, aby mohla volně ventilovat své emoce a myšlenky – věty typu: co si stěžuješ, když…; máš krásné dítě, tak… atd. nepomáhají.</li>
        <li>Naslouchejte s empatií, kritika psychického stavu není nápomocná.</li>
        <li>Zajistěte pomoc s dítětem.</li>
        <li>Snažte se pomoci a hlídat, aby vaše blízká osoba měla dostatek odpočinku a času na jídlo.</li>
        <li>Podporujte u své partnerky pravidelnost denních aktivit, plánujte spolu, ale rozumně.</li>
        <li>Plánujte si aktivity spolu jako pár, poproste jiné členy rodiny nebo blízké, ať Vám dítě pohlídají.</li>
        <li>Požádejte rodinu nebo kamarády v pomoci s vařením, úklidem nebo hlídáním starších dětí.</li>
        <li>Pokud zažívá vaše partnerka / sestra / dcera nebo kamarádka přetížení v době častých návštěv, podpořte ji v tom, že počet návštěv se omezí.</li>
        <li>Řekněte jí, že je skvělá máma a žena a že vše dobře zvládá.</li>
        <li>Pomožte jí najít <a href="https://www.usmevmamy.cz/kde-jsme-my/" target="_blank">podpůrnou peer skupinu</a> ve vašem okolí a podpořte ji v tom, aby se do ní zapojila.</li>
      </ul>
      <p>Pokud Vaše partnerka / sestra / dcera nebo kamarádka vyhledá odbornou pomoc, podpořte ji v tom. Nabídněte se, že pokud chce, konzultace se také zúčastníte. Nechte rozhodnutí o péči na domluvě s odborníkem.</p>
    </div>
  </div>
</section>
