<section class="blog-detail-other-articles">
  <div class="container">
    <div class="blog-detail-other-articles--wrapper">
      <h2 class="h3">Další témata</h2>
      <div class="main-article--box">
        <a href="{{ path('app_default_pageAction_forLovedOnes', {'slug':'kam-se-obratit'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Kam se obrátit</span>
          <span class="main-article--box--text">Délka: 5min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
        <a href="{{ path('app_default_pageAction_forLovedOnes', {'slug':'dusevni-zdravi-otcu'}) }}" class="main-article--box--row">
          <span class="main-article--box--link">Duševní zdraví otců</span>
          <span class="main-article--box--text">Délka: 5min.</span>
          <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
        </a>
      </div>
    </div>
  </div>
</section>
