<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Poporodní psychóza se nejčastěji rozvíjí během prvních dní a týdnů od porodu. Stav se může velmi rychle horšit i v řádu hodin, a proto je potřeba jednat rychle, stejně jako u jiných akutních stavů v medicíně. Léčba je u většiny žen s poporodní psychózou postavena na lécích a nezřídka je nutný i pobyt v nemocnici.</p>
      <p>Ženy se správně nastavenou léčbou poporodní psychózy často dosáhnou plného uzdravení a zotavení z tohoto náročného psychického stavu. Zotavení však vyžaduje svůj čas a celý zážitek může být pro ženu i její rodinu velmi náročný. Ženy se však po zotavení vracejí zpět ke svému já a k plnému fungování.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jaké mohou být symptomy poporodní psychózy?
      </h2>
      <p>Jedním z hlavním stavů, doprovázejícím poporodní psychózu, je ztráta pocitu nutnosti spánku a problémy s usnutím nebo udržením spánku  - déle trvající spánková deprivace pak vede k rozvoji příznaků pramenících z narušení testování a vnímání reality u dané ženy.</p>
      <p>Poporodní psychóza tak zahrnuje jeden nebo více následujících stavů:</p>
      <ul>
        <li>Zvláštní přesvědčení, která nemusí odpovídat pravdě a realitě (bludy)</li>
        <li>Slyšiny, vidiny nebo i tělesné či čichové vjemy, které neodpovídají realitě (halucinace)</li>
        <li>Nadnesená a nepřiměřeně zvýšená nálada neodpovídající situaci, žena je také vytržena z reality (mánie)</li>
        <li>Silné zmatení a z něj pramenící podráždění a nevraživost až bojovnost často i k nejbližším ve svém okolí</li>
      </ul>
      <p>Příznaky poporodní psychózy mohou být značně rozdílné, ženy tak mohou například zažívat:</p>
      <ul>
        <li>Zvýšenou mluvnost, společenskost, mohou trávit dlouhý čas na sociálních sítích nebo telefonovat. Pocity, že musí všechny ve svém okolí informovat o všem, i když obsah zpráv nebo telefonů se může posluchači zdát zmatečný.</li>
        <li>Pocity zrychlených myšlenek či pocity přehlcení vlastními myšlenkami.</li>
        <li>Pocity, že se nikdo jiný o dítě nepostará, pocity nezničitelnosti, nulové únavy a nekonečné energie.</li>
        <li>Pocity podezřívavosti až paranoi k okolí, i k nejbližším</li>
        <li>Pocity, že se věci v okolí do sebe zapadají a dávají speciální významy, pocity že věci kolem nich se k nim vztahují, i když je to silně nepravděpodobné až vyloučené.</li>
        <li>Pocity prolnutí s přírodou, bohem, světovým řádem.</li>
        <li>Pocity důležitého úkolu pro lidstvo.</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak častá je poporodní psychóza?
      </h2>
      <p>Poporodní psychóza je mnohem méně častá, než <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-deprese'}) }}">poporodní deprese</a> nebo <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'smisene-pocity-po-porodu'}) }}">poporodní blues</a>. Asi u 1 ženy z 1000 se po porodu rozvine poporodní psychóza.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co poporodní psychózu způsobuje?
      </h2>
      <p>Zatím ještě přesně nevíme, v rozvoji poporodní psychózy hraje roli více faktorů, jak genetických, tak hormonálních, ale i spánkových. Že by ji způsobovalo samotné kojení, jak se dříve usuzovalo, je méně pravděpodobné. Proto se také již ustupuje od nepřesného názvu laktační psychóza.</p>
      <p>Poporodní psychóza se může častěji projevit u žen, které:</p>
      <ul>
        <li>Měly již v minulosti poporodní psychózu </li>
        <li>Léčily se nebo se léči s bipolární afektivní poruchou nebo schizoafektivní poruchou</li>
        <li>Léčily se nebo se léčí se schizofrenií nebo jinou psychotickou poruchou</li>
        <li>Jejich máma nebo sestra se léčila s poporodní psychózou</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Kam se obrátit pro pomoc?
      </h2>
      <p>Pokud se léčíte s nějakým z výše uvedených stavů, tak je základem prevence rozvoje poporodní psychózy plánovaní péče s vaším ošetřujícím lékařem nebo lékařkou.</p>
      <p>Poporodní psychóza je závažný stav, a proto je potřeba jednat rychle.</p>
      <p>O svých pocitech se nemusíte stydět mluvit. Naopak, sdílet to, co vás trápí, a vyhledat odbornou pomoc je nyní velmi důležité a odvážné.</p>
      <ul>
        <li>Promluvte si se svým partnerem, rodinným příslušníkem, kamarádkou nebo kamarádem.</li>
        <li>Obraťte se na svého gynekologa či praktického lékaře, případně na psychiatra pokud nějakého máte.</li>
        <li>Zavolejte na jednu z celorepublikových nonstop krizových linek (Pražská linka důvěry: <a href="tel:222 580 697">222 580 697</a>; Linka první psychické pomoci: <a href="tel:116 123">116 123</a>)</li>
        <li>Zavolejte do Centra Krizové intervence <a href="tel:284 016 110">284 016 110</a>.</li>
      </ul>
      <p>Některé ženy mohou cítit po prodělání poporodní psychózy pocity viny, protože pro ně doba po porodu nebyla krásným bezstarostným obdobím, jakým by podle jejich okolí mělo být. S těmito pocity se však nemusíte bát svěřit.</p>
      <ul>
        <li>Obraťte se na organizaci <a href="https://www.usmevmamy.cz/" target="_blank">Úsměv mámy</a>, kde se můžete spojit s ženami, které po porodu bojovaly se stejnými pocity.</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Léčba poporodní psychózy
      </h2>
      <p>Poporodní psychóza je nejčastěji léčena pomocí psychofarmak, antipsychotik. Je důležité, aby léčba byla zahájena co nejdříve, protože čím dříve se začne od propuknutí prvních příznaků s léčbou, tím dříve přijde zotavení.</p>
      <p>U většiny žen je potřeba alespoň ze začátku intenzivní léčba na lůžku v psychiatrické nemocnici. Někdy se také stane, že je poporodní psychóza u ženy již tak „rozjetá“, že ta plně ztratí kontakt s realitou a může být i nebezpečná sobě nebo okolí, v tomto případě je indikovaná i tzv. hospitalizace bez souhlasu pacienta – detence.</p>
      <p>V České republice zatím nemáme dostupná oddělení, kde by mohly být hospitalizované ženy s dítětem nebo rodinou.</p>
    </div>
  </div>
</section>
