<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh Paní Jitky</h3>
        <p>Mám dvě krásné, zdravé děti, jsem šťastná a normálně fungující žena. Nic není ideální, chodím do práce a jako každá máma řeším spoustu běžných starostí a jsem za ně vlastně šťastná. Protože moje cesta k mateřství byla možná o něco trnitější, než tomu obvykle bývá…</p>
        <h4>Příběh první: Porodnice, před 11 lety po narození syna</h4>
        <p>Pobíhám zmateně po pokoji, beru miminko z postýlky, podle instrukcí sestřiček ho musím přebalit a nakojit. Je to tedy pořádná věda, nesmíme používat vlhčené ubrousky, ale máme nakázáno mu umývat zadeček pod tekoucí vodou a změřit mu při přebalování v zadečku teplotu. Pak ho musíme zvážit před kojením, nakojit a znovu zvážit a vše zapsat. Musela jsem si na ty všechny činnosti udělat seznam, protože jinak se to nedalo zvládnout udržet v hlavě. Po těžkém porodu, ale s velikou radostí z vytouženého chlapečka, jsem se snažila (jako vždycky) dělat všechno správně a co možná nejlíp. Kochala jsem se pocitem, že se mi konečně něco v životě opravdu povedlo, pocitem, že jsem výborně připravená – měla jsem skvělý předporodní kurz -  vím snad úplně všechno, a budu skvělá maminka.</p>
        <p>
          <a href="#pribeh-pani-jitky" class="button js-modal-open">Přečíst celý příběh</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
