<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Poporodní psychóza je závažné psychotické onemocnění, které často vede k&nbsp;hospitalizaci. Absence kontaktu
        matka-dítě po narození může mít negativní dopad na celkový sociální a emocionální vývoj dítěte. Z&nbsp;těchto důvodů
        se u rizikových rodiček během kojení zpravidla nedoporučuje přerušovat léčbu antipsychotiky.
        Psychofarmakoterapie během laktace však stále přináší množství obav na straně předepisujícího lékaře i žen
        samotných. Výběr nejvhodnějšího antipsychotika na základě porovnání bezpečnostního profilu v laktaci může
        případné obavy žen z&nbsp;negativních dopadů na dítě zmírnit. </p>
      <p>V&nbsp;roce 2021 bylo publikováno nové hodnocení bezpečnosti psychofarmak, které shrnuje výsledky ze studií
        publikovaných v&nbsp;letech 1995 – 2017 <a href="#literatura1">(1)</a>.</p>
      <h2 id="tabulka3">
         <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Bezpečnostní skóry a profil antipsychotik užívaných při kojení
      </h2>
      <div class="table__wrapper">
        <table class="table-forWoman">
          <thead>
          <th>Antipsychotikum</th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
          <th>E</th>
          <th>F</th>
          <th>Celkem bodů</th>
          </thead>
          <tbody>
          <tr>
            <td>Olanzapin</td>
            <td>2,5</td>
            <td>1,5</td>
            <td>0,5</td>
            <td>1,0</td>
            <td>1,0</td>
            <td>1,0</td>
            <td>7,5</td>
          </tr>
          <tr>
            <td>Chlorpromazin</td>
            <td>1,5</td>
            <td>2,0</td>
            <td>0</td>
            <td>0,5</td>
            <td>1,0</td>
            <td>1,0</td>
            <td>6,0</td>
          </tr>
          <tr>
            <td>Kvetiapin</td>
            <td>1,0</td>
            <td>2,0</td>
            <td>0</td>
            <td>0,5</td>
            <td>1,0</td>
            <td>1,0</td>
            <td>5,5</td>
          </tr>
          <tr>
            <td>Haloperidol</td>
            <td>1,5</td>
            <td>0,5</td>
            <td>0</td>
            <td>0,5</td>
            <td>1,5</td>
            <td>1,0</td>
            <td>5,0</td>
          </tr>
          <tr>
            <td>Risperidon</td>
            <td>1,0</td>
            <td>1,5</td>
            <td>0</td>
            <td>1,0</td>
            <td>0,5</td>
            <td>0,5</td>
            <td>4,5</td>
          </tr>
          <tr>
            <td>Flupentixol</td>
            <td>0,5</td>
            <td>2,0</td>
            <td>0</td>
            <td>0</td>
            <td>0,5</td>
            <td>0,5</td>
            <td>3,5</td>
          </tr>
          <tr>
            <td>Ziprasidon</td>
            <td>0,5</td>
            <td>2,0</td>
            <td>0</td>
            <td>0</td>
            <td>0,5</td>
            <td>0,5</td>
            <td>3,5</td>
          </tr>
          <tr>
            <td>Chlorprothixen</td>
            <td>0,5</td>
            <td>2,0</td>
            <td>0</td>
            <td>0</td>
            <td>0,5</td>
            <td>0,5</td>
            <td>3,5</td>
          </tr>
          <tr>
            <td>Amisulprid</td>
            <td>0,5</td>
            <td>0,5</td>
            <td>0</td>
            <td>0</td>
            <td>0,5</td>
            <td>0,5</td>
            <td>2,0</td>
          </tr>
          <tr>
            <td>Clozapin</td>
            <td>1,0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1,0</td>
          </tr>
          </tbody>
        </table>
      </div>
      <p></p>
      <p>Z hodnocení bezpečnosti jednotlivých antipsychotik vychází nejlépe <strong>olanzapin</strong>, který je
        považován za
        antipsychotikum 1. volby při laktaci. </p>
      <p>Olanzapin je vylučován do mateřského mléka v&nbsp;klinicky nesignifikantním
        množství a zdá se, že nemá negativní dopady na zdraví dítěte. Děti matek užívajících olanzapin během kojení
        nevykazují narušení psychomotorického ani řečového vývoje ani příbytek váhy.</p>
      <p> Hladiny olanzapinu v&nbsp;plazmě dítěte
        jsou rovněž nedetekovatelné nebo velmi nízké. V&nbsp;poporodním období byly u dětí reportovány pouze ojedinělé
        případy sedativního účinku či abstinenčních příznaků, které mohly být ale zapříčiněny aditivním efektem užíváním
        kombinace různých léků.</p>
      <p>Hodnotící systém se skládá z&nbsp;6 parametrů <a href="#tabulka1">(viz Skórovací systém)</a> a psychofarmaka jsou
        dle tohoto systému hodnocena na škále 0–10 bodů, kde nula odpovídá nejnižší bezpečnosti a deset bodů nejvyšší
        bezpečnosti <a href="#tabulka2">(viz Slovní hodnocení celkového skóru)</a>.</p>
      <h2 id="tabulka1">
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Skórovací systém bezpečnosti psychofarmak při kojení
      </h2>
      <h3>A. Celkový počet dětí exponovaných psychofarmaku cestou mateřského mléka </h3>
      <ul>
        <li>0 bodů: data nejsou dostupná</li>
        <li>0,5 bodu: ≤ 5</li>
        <li>1 bod: 6 – 15</li>
        <li>2 body: 51 – 100</li>
        <li>2,5 bodu: 101 – 200</li>
        <li>3 body: > 200</li>
      </ul>
      <h3>B. Maximální popsaná relativní dávka psychofarmaka u kojence</h3>
      <ul>
        <li>0 bodů: data nejsou dostupná nebo > 25% dávky ženy</li>
        <li>0,5 bodu: 10,1 % – 25,0 % dávky ženy</li>
        <li>1 bod: 6,1 % -10,0 % dávky ženy</li>
        <li>1,5 bodu: 2,1 % – 6,0 % dávky ženy</li>
        <li>2 body: 0 % - 2,0 % dávky ženy</li>
      </ul>
      <h3>C. Velikost souboru pro výpočet relativní dávky psychofarmaka u kojence</h3>
      <ul>
        <li>0 bodů: data nejsou dostupná</li>
        <li>0,5 bodu: 6 – 15</li>
        <li>1 bod: ≥ 15</li>
      </ul>
      <h3>D. Plazmatické hladiny psychofarmaka u kojence</h3>
      <ul>
        <li>0 bodů: data nejsou dostupná nebo bylo psychofarmakum detekované u všech kojenců jemu vystavených</li>
        <li>0,5 bodu: hladina psychofarmaka byla pod detekčním limitem u ≤ 50 % kojenců</li>
        <li>1 bod: hladina psychofarmaka byla pod detekčním limitem u > 50 % kojenců</li>
      </ul>
      <h3>E. Výskyt jakéhokoliv nežádoucího účinku u kojence</h3>
      <ul>
        <li>0 bodů: data nejsou dostupná nebo u >&nbsp;25&nbsp;% kojenců</li>
        <li>0,5 bodu: data jsou limitována (celkový počet exponovaných kojenců <&nbsp;10), ale bez výskytu nežádoucího účinku
          nebo 15,1&nbsp;% -&nbsp;25&nbsp;%
        </li>
        <li>1 bod: výskyt u 5,1 % - 15&nbsp;% kojenců</li>
        <li>2 body: výskyt nepopsán nebo popsán u ≤&nbsp;2&nbsp;% kojenců</li>
      </ul>
      <h3>F. Výskyt závažného nežádoucího účinku u kojence vyžadujícího intervenci</h3>
      <ul>
        <li>0 bodů: data nejsou dostupná nebo popsán závažný nežádoucí účinek u kojence</li>
        <li>0,5 bodů: data jsou limitována (celkový počet exponovaných kojenců <&nbsp;10), ale bez výskytu nežádoucího
          účinku
        </li>
        <li>1 bod: výskyt nebyl popsán</li>
      </ul>
      <h2 id="tabulka2">
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Slovní hodnocení celkového skóre
      </h2>
      <ul>
        <li>
          8,6 – 10, 0 bodů:
          <ul>
            <li>Psychofarmaka dosahující tohoto skóru mají velmi dobrý bezpečnostní profil při kojení. Riziko
              nežádoucích účinků u kojence je nízké. Tato psychofarmaka jsou silně považovaná za slučitelné s&nbsp;kojením.
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          7,1 – 8,5 bodů:
          <ul>
            <li>Psychofarmaka dosahující tohoto skóru mají dobrý bezpečnostní profil při kojení. Riziko nežádoucích
              účinků u kojence je nízké. Tato psychofarmaka jsou považovaná za slučitelné s&nbsp;kojením.
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          5,1 – 7,0 bodů:
          <ul>
            <li>Psychofarmaka dosahující tohoto skóru mají středně dobrý bezpečnostní profil při kojení. Riziko
              nežádoucích účinků je střední, ale nejsou očekávány závažné nežádoucí účinky. Tyto léky je možné po
              vyhodnocení rizik užívat v&nbsp;kojení.
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          3,1 – 5,0 bodů:
          <ul>
            <li>Psychofarmaka dosahující tohoto skóru mají nízký bezpečnostní profil při kojení. U těchto léků byly
              popsány relativně často nežádoucí účinky u kojenců, nebo o nich nemáme data. Užívání těchto psychofarmak
              v&nbsp;kojení je možné, ale s&nbsp;opatrností. Psychofarmaka z&nbsp;této kategorie by měla být užívána, jen pokud není
              dostupná bezpečnější volba a jejich případný benefit převyšuje rizika.
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          ≤ 3 body:
          <ul>
            <li>Psychofarmaka z&nbsp;této skupiny mají velmi nízký bezpečnostní profil při kojení. U těchto léků nemáme
              dostatek dat o bezpečnosti, nebo byly popsány velké expozice léku kojenci, a/nebo častý výskyt nežádoucích
              účinků. Užívání těchto léků během kojení není doporučováno.
            </li>
          </ul>
        </li>
      </ul>

      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1"> Uguz F. A New Safety Scoring System for the Use of Psychotropic Drugs During Lactation. Am
          J Ther. 2021
          Jan-Feb 01;28(1):e118-e126.
        </li>
      </ol>
    </div>
  </div>
</section>
