<section class="signpost">
  <div class="container">
    <div class="signpost--wrapper">
      <div class="page-sub-headline">
        <h2>
          Nabízíme další témata,
          která by vás mohla zajímat.
          <small>Kam dále pokračovat?</small>
        </h2>
      </div>
      <div class="signpost--grid">
        <a href="{{ path('app_default_pageAction_forWomen', {'slug':'tehotenstvi'}) }}" class="signpost--box">
          <span class="h3">Těhotenství</span>
          <span class="signpost--button button button--gradient">
            <span>Otevřít téma</span>
          </span>
          <img src="{{ asset('build/img/mother-2.svg') }}" alt="" class="signpost--img">
        </a>
        <a href="{{ path('app_default_pageAction', {'slug':'pro-blizke'}) }}" class="signpost--box">
          <span class="h3">Pro blízké</span>
          <span class="signpost--button button button--gradient">
            <span>Otevřít téma</span>
          </span>
          <img src="{{ asset('build/img/hands-1.svg') }}" alt="" class="signpost--img">
        </a>
      </div>
    </div>
  </div>
</section>
