<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak to chodí u psychologa
      </h2>
      <p>K psychologovi, zejména k tomu, který pracuje na pojišťovnu (klinický psycholog, psycholog ve zdravotnictví), mohou být velmi dlouhé čekací doby, proto s objednáním není radno otálet. Budeme zde mluvit o postupu psychologa, který se zodpovídá pojišťovně a specializuje se na duševní poruchy (klinický psycholog ve zdravotnictví).</p>
      <p>Je dobré si vybrat psychologa, který vám bude sedět, jelikož jeho hlavním pracovním nástrojem je důvěra a otevřenost. Tudíž nám musí být psycholog do jisté míry sympatický a měli bychom se u něj cítit dobře a bezpečně, abychom s ním mohli pracovat i terapeuticky. Nebojte se tedy od psychologa odejít, pokud se tak necítíte.</p>
      <p>Je velmi pravděpodobné, že psycholog bude chtít provést vstupní vyšetření, byť k němu přijdete se zakázkou o psychoterapii. Tím spíše vás bude chtít vyšetřit, pokud nepřijdete již s vyšetřením a doporučením od psychiatra. Potřebuje použít diagnostické metody, aby se ve vašem stavu vyznal diferenciálně diagnosticky a mohl vám nabídnout adekvátní postup. Případně aby Vás odeslal k psychiatrovi, vyžadoval-li by to váš stav. Diagnostika může probíhat i během několika sezení, přičemž jedno sezení probíhá 1-2 hodiny, a veškeré metody probíhají buď formou rozhovoru, nebo formou tužka-papír. Poté by vám měl psycholog sdělit výsledek vyšetření, své závěry a doporučení. Do zdravotnické dokumentace psychologa není povoleno nahlížet (výjimka v zákoně), i proto byste měli cítit k psychologovi důvěru.</p>
      <p>Pokud psycholog vyhodnotí, že je pro vás vhodná psychoterapie, buď vám nabídne svou terapeutickou školu, nebo vás odešle ke kolegovi, který ovládá terapeutickou školu pro vás vhodnější. Pokud se rozhodnete vstoupit do psychoterapie, může se stát, že práce na duševní změně může trvat i roky. V terapii si můžete sáhnout i na vlastní duševní dno, uslyšíte od terapeuta věty, které Vám nemusí být příjemné, nicméně vždy v terapii musíte vnímat změnu, posun, aha – efekty...</p>
      <p>Psychoterapie nebývá krátkodobá, vyžaduje mnoho měsíců systematické práce, ale zato se snaží dosáhnout na samé jádro potíží. Naproti tomu vám může psycholog nabídnout i krátkodobou krizovou intervenci, díky které vás vyvede „z nejhoršího“. V tomto případě není zvykem provádět vstupní vyšetření, ale přikročit rovnou k intervenci. Na vyšetření a návrh terapie je čas později.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak to chodí u psychiatra
      </h2>
      <p>Vyšetření u psychiatra je v ČR pro občany, jež ho mají, hrazeno ze zdravotního pojištění. Základní cestou, jak se dostat na vyšetření, je domluvit se se svým praktickým lékařem, aby vystavil žádanku. Do ordinace psychiatra se také můžeme dostat bez této žádanky, ale čekací termíny jsou často v řádu několika měsíců. Také ne každý psychiatr je obeznámen s problematikou perinatálních duševních poruch a jejich farmakologické léčby, proto můžete kontaktovat <a href="https://www.usmevmamy.cz/" target="_blank">Úsměv Mámy</a>, který vede seznam vhodných psychiatrů.</p>
      <p>Samotné vyšetření se skládá hlavně z pohovoru, kdy se lékař nebo lékařka zeptá na anamnestické údaje (váš životní příběh), a pak se soustředí na poslední dobu a na to, co vás nejvíce trápí. Na základě diagnostického pohovoru lékař určuje diagnózu a navrhuje léčbu. Ta může být jen psychoterapeutická, jen psychofarmakologická, nebo kombinace obou. Psychiatr může také své pacienty poslat na odběr krve či jiné vyšetření (např. psychologické), které mu mohou pomoci s diagnostikou. Pokud dle diagnostiky psychiatra je vhodné užívat nějaká psychofarmaka, tak je lékař doporučí, vlastní rozhodnutí bývá na jeho pacientech.</p>
      <p>První tzv. komplexní vyšetření trvá minimálně hodinu, častěji déle, další kontroly pak kolem 20–30 minut, dle zvyklosti ambulance nebo stavu pacienta. Psychiatr vám také může vystavit žádanku na psychoterapii hrazenou pojišťovnou.</p>
      <p>Někdy postačí jedna psychiatrická konzultace, častěji se však jedná o delší ambulantní léčbu (žena dochází na kontroly), v závažnějších případech je doporučena hospitalizace v psychiatrické nemocnici, kterou daný ambulantní psychiatr poté domlouvá s nemocnicí. V nejzávažnějších případech, kdy může být pacientka nebezpečná sobě nebo okolí, lze nařídit i hospitalizaci proti její vůli. Hospitalizaci bez souhlasu pacienta nebo odvolání souhlasu k ní je nutné do 24 hodin nahlásit příslušnému soudu, ten zahájí detenční řízení (soudní přezkum zákonnosti hospitalizace bez souhlasu), ve kterém ustanoví zadrženému opatrovníka, vyslechne nemocného i lékaře a do 7 dnů rozhodne, zda k převzetí došlo ze zákonných důvodů.</p>
    </div>
  </div>
</section>
