<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh Paní Petry</h3>
        <p>„Chci pro své nenarozené dítě jen to nejlepší. Nechci riskovat, že kvůli medikaci, kterou beru, jakkoliv ohrozím zdravý vývoj svého miminka. To bych si nikdy neodpustila.</p>
        <p>Pátrám po informacích. Psychiatr mi sděluje, že je v těhotenství mnou užívaná medikace bezpečná, jen existuje zvýšené riziko vrozených vývojových vad v prvním trimestru. Doma brečím, protože se bojím, že budu mít postižené dítě. Kvůli vlastnímu „pohodlí“. Léky mě ale drží nad vodou, díky nim normálně funguju. Netroufám si je vysadit. Zároveň se opravdu bojím, že se něco ve vývoji děťátka pokazí a já si to budu vyčítat nadosmrti. Psychiatr mě na příští návštěvě uklidňuje, že léky jsou v nízké kategorii nebezpečnosti, že třeba takový Paralen je pro moje miminko v tuto chvíli mnohem víc nebezpečný.</p>
        <p>Jsem rozhodnutá nekojit. Konzultuji s psychiatrem. Ten schvaluje kojení. Sice něco málo do mléka půjde, ale zkušenosti z praxe ukazují, že na miminka rezidua z léků negativní vliv nemají. To se mi moc nelíbí. Vidím dvě možnosti – po domluvě s lékařem lék vysadit a kojit, dokud to půjde (rozuměj, dokud se nesesypu psychicky v důsledku absence léku). Nebo prostě umělé mléko už od narození. Pro jistotu.  Pro mě dvě špatné možnosti, ze kterých mám vybírat. Kojit bych si přála a moc. Nechci ale, aby moje dítě dostávalo v mateřském mléce „jedy“ a „zbytečnou chemii“. Co když pak nakonec bude závislé na lécích? Konzultuji ještě s laktační poradkyní. Ta mě podporuje v kojení, zjišťuje mi maximální bezpečné dávkování psychofarmak u farmaceutky. Kojit s léky prý můžu. I když jde do mléka reziduum jednoho z léků, jednoznačně prý převažují benefity kojení. Navíc miminko bylo vystavené působení léků již v děloze (přes krev). V mléce jsou oproti tomu malé dávky. Rozhoduji se kojit své dítě, až se narodí.</p>
        <p>Porodnice, oddělení šestinedělí. Čtyři dny v kuse mi lékaři rozmlouvají kojení dcery, protože užívám psychofarmaka. Přečetli si příbalový leták léků, kde je psáno, že se kojení nedoporučuje. Argumentuji vyjádřením psychiatra. Prý nic takového v písemné formě od něj nemají. Brečím, jsem pod tlakem, ale stále kojím. Nakonec kvůli mému kojení prý svolají konzilium. Já nebyla přizvaná. Přijde za mnou pak lékařka z psychiatrie a potvrzuje mi, že kojit mohu, i s léky. Nakonec se dozvídám od psycholožky z psychiatrie, která za mnou přijde o pár dní později, že na oddělení šestinedělí psychiatr doporučující zprávu ohledně kojení dávno zaslal, jen ji lékaři neakceptovali. Podivný systém. Už se těším z porodnice domů, kde na mě nikdo nebude vyvíjet žádné tlaky.“</p>
{#        <p>#}
{#          <a href="" class="button" target="_blank">Přečíst celý příběh</a>#}
{#        </p>#}
      </div>
    </div>
  </div>
</section>
