<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Příběh anonymní maminky</h3>
        <p>Těhotenství bylo plánované, vše bez komplikací, do poslední chvíle jsem pracovala jako zdravotní sestra na těžkém oddělení. Měla jsem obavy z porodu, ale ne nic hrozného. Před porodem mi bylo oznámeno, že musím na plánovaný SC. To mě také nijak nerozhodilo, právě naopak, byla jsem ráda, že „vím“ do čeho jdu. Vše začalo v porodnici. Po operaci přišly silné bolesti. Když mi přinesli mé dítě, začala jsem plakat štěstím, že vše máme za sebou.</p>
        <p>Nijak jsem si stále neuvědomovala, co přijde, a že je ze mě máma. Bolesti, nevyspání, kojení, trápení, pláč dítěte. V porodnici mi začalo být asi třetí den divně, začala jsem denně plakat, ale slyšela jsem od sester, že je vše normální, že je to hormonální koktejl. Nicméně partner zůstal s námi na nadstandardním pokoji dvě noci. Po pár dnech mi byla zastavena laktace ještě v porodnici.</p>
        <p>Pláč neustupoval a já chtěla domů. Myslela jsem si, že doma mi bude lépe, ale doma to vše začalo. Ten nekončící kolotoč vyčerpání, vstávání, pleny, krmení, řvoucí dítě a já prvorodička nevěděla, co s plačícím dítětem. Radost, láska ani pocit štěstí nepřicházel. Já byla stále v myšlenkách, že mít dítě byla největší chyba v životě, a tak jsem plakala společně s malou. Všude kolem fotky spokojených, nalíčených maminek. A ze mě chodící troska.</p>
        <p>
          <a href="https://www.usmevmamy.cz/2020/11/11/kvetnovy-pribeh-17-radost-laska-ani-pocit-stesti-neprichazel/" target="_blank" class="button">Přečíst celý příběh</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
