<a href="{{ path('admin_app_menu_menuitem_list',{id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="Edit">
    <i class="fa fa-columns" aria-hidden="true"></i>
    Upravit položky menu
</a>
