 <a href="{{ path('app_api_page_modal',{id: object.id}) }}" class="btn btn-sm btn-default edit_link drag-and-drop-sorting" title="Edit">
        <i class="fa fa-eye" aria-hidden="true"></i>
        Zobrazit náhled
</a>

