.for-mothers {
  margin: 100px 0 -20px;
  &--wrapper {
  }
  &--header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 24px;
  }
  &--headline {
    max-width: 500px;
    + p {
      max-width: 420px;
    }
  }
  &--info {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 422px 1fr;
  }
  &--img {
    display: block;
    margin-top: 116px;
    margin-left: -71px;
  }
  &--box {
    padding: 36px 32px 32px;
    &:nth-of-type(odd) {
      margin-top: -100px;
    }
    &--wrapper {
      display: grid;
      align-items: flex-start;
      grid-template-columns: repeat(auto-fit, minmax(220px, 50%));
      justify-content: space-between;
    }
    &--inner {
      max-width: 304px;
    }
    .icon {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 1099px) {
    &--info {
      grid-template-columns: 370px 1fr;
    }
  }
  @media (max-width: 1023px) {
    &--box {
      padding: 24px;
      &--wrapper {
        margin-top: 60px;
      }
    }
  }
  @media (max-width: 959px) {
    &--headline {
      max-width: 480px;
    }
    &--img {
      max-width: 350px;
      margin-top: 140px;
      margin-left: -170px;
    }
    &--info {
      grid-template-columns: 180px 1fr;
    }
    &--box {
      &--wrapper {
        margin-top: 120px;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 60px 0;
    &--wrapper {
      position: relative;
    }
    &--headline {
      max-width: 235px;
    }
    &--header {
      grid-template-columns: 1fr;
      grid-gap: 70px;
    }
    &--img {
      position: absolute;
      top: -60px;
      right: -80px;
      width: 56vw;
      max-width: 300px;
      margin: 0;
      transform: scale(-1, 1);
    }
    &--info {
      grid-template-columns: 1fr;
    }
    &--box {
      padding: 0;
      &:nth-of-type(odd) {
        margin: 0;
      }
      &--inner {
        max-width: 100%;
      }
      &--wrapper {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 40px 24px;
        margin: 0;
      }
    }
    .number {
      max-width: 340px;
      text-align: center;
      &--big {
        font-size: 140px;
      }
    }
  }
}
