<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Až u&nbsp;27&nbsp;% žen s&nbsp;anamnézou psychotického onemocnění dojde do jednoho roku po porodu k&nbsp;relapsu onemocnění <a href="#literatura1">(1)</a>. Riziko relapsu umocňuje skutečnost, že ženy v&nbsp;těhotenství užívanou antipsychotickou medikaci často samovolně vysadí.  </p>
      <p>U&nbsp;žen léčících se se schizofrenií jsou oproti ženám léčícím se s&nbsp;jinou psychiatrickou diagnózou častěji přítomny rizikové sociální faktory, jako je sociální izolace, invalidita, absence stabilního partnerského vztahu a nedostatek finančních zdrojů <a href="#literatura3">(3)</a>. </p>
      <p>Analýza pocházející ze specializovaných psychiatrických lůžkových oddělení pro společný pobyt matky a&nbsp;novorozence ve Velké Británii ukázala, že u&nbsp;50 % žen hospitalizovaných se schizofrenií byla v&nbsp;době propuštění nutná následná supervize orgánů sociální péče nebo bylo nutné dočasně matku od dítěte separovat <a href="#literatura3">(3)</a>. U&nbsp;matek s&nbsp;poruchou nálady se jednalo o&nbsp;12 % případů. Autoři uvádějí, že hlavním důvodem k&nbsp;sociální intervenci nebylo riziko, že by matka s&nbsp;psychotickým onemocněním mohla svému dítěti ublížit, ale nedostatečné sociální zázemí pro matku a&nbsp;její dítě. </p>
      <p>Schopnost vytvářet rané pouto a&nbsp;citovou vazbou matka‑dítě je u&nbsp;žen se schizofrenií často narušena i&nbsp;mimo akutní psychotickou fázi <a href="#literatura4">(4)</a>.  U&nbsp;schizofrenie je více než u&nbsp;jiných nemocí přítomna nízká mateřská sensitivita a menší kapacita rozpoznávat emoce a&nbsp;potřeby dítěte, což je způsobeno deficity v&nbsp;sociální kognici a&nbsp;emočním zpracovávání <a href="#literatura5">(5)</a>. Nedostatečnou emoční a&nbsp;sociální podporu v&nbsp;dětství zaznamenalo až 50&nbsp;% dospělých, které vychovával rodič se schizofrenií, avšak 70&nbsp;% z&nbsp;nich uvedlo, že jsou zpětně s&nbsp;výchovou spokojeni <a href="#literatura6">(6)</a>.  </p>
      <p>Informace o antipsychoticích v&nbsp;laktaci naleznete <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'antipsychotika-a-kojeni'}) }}">zde</a>. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
           Wakil L, Perea E, Penaskovic K, Stuebe A, Meltzer ‑Brody S.  Exacerbation  of  psychotic  disorder  during  pregnancy  in  the context of medication discontinuation. Psychosomatics. 2013; 54(3): 290–293
        </li>
        <li id="literatura2">
           Poinso, F., Gay, M. P., Glangeaud ‑Freudenthal, N. M. C., & Rufo, M. (2002). Care in a&nbsp;mother ‑baby psychiatric unit: analysis of separation at discharge. Archives of women’s&nbsp;men‑tal health, 5(2), 49–58.
        </li>
        <li id="literatura3">
           Salmon MP, Abel K, Webb R, Warburton AL, Appleby&nbsp;L. A&nbsp;national audit of joint mother and baby admissions to UK psychiatric hospitals: an overview of findings. Arch Womens Ment Health 2004; 7(1): 65–70.
        </li>
        <li id="literatura4">
            Ramsauer  B,  Achtergarde  S.  Mothers  with  acute  and  chronic postpartum psychoses and impact on the mother‑‑infant  interaction.  Schizophr  Res.  2018  Feb  26.  pii:  S0920‑9964(18)30109‑9. doi: 10.1016/j.schres.2018.&nbsp;02.&nbsp;032
        </li>
        <li id="literatura5">
          Healy SJ, Lewin J, Butler S, Vaillancourt K, Seth-Smith F. Affect recognition and the quality of mother-infant interaction: understanding parenting difficulties in mothers with schizophrenia. Arch Womens Ment Health. 2016;19(1):113-124.
        </li>
        <li id="literatura6">
          Herbert HS, Manjula M, Philip&nbsp;M. Growing Up with a&nbsp;Parent  having  Schizophrenia:  Experiences  and  Resilience  in  the Offsprings. Indian J Psychol Med. 2013; 35(2): 148–153.
        </li>
      </ol>
    </div>
  </div>
</section>
