<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Většina psychofarmak přechází přes placentární bariéru do krevního oběhu plodu <a href="#literatura2">(2)</a>,
        kde mohou interferovat s
        hladinami neurotransmiterů ve vyvíjejícím se plodu, které hrají klíčovou roli v embryogenezi nervové soustavy
        <a href="#literatura3">(3)</a> či mají přímo teratogenní potenciál (valproát) <a href="#literatura4">(4)</a>. V
        péči o těhotné s duševním onemocněním se tak často
        dostáváme do situace, ve které musíme pečlivě vyhodnotit potenciální benefity a rizika psychofarmakologické
        léčby. </p>
      <p>Při rozhodování o zahájení psychofarmakologické léčby u těhotné ženy je nutné brát v úvahu, že jak prenatální
        expozice psychofarmakům, tak neléčená duševní porucha může mít negativní vliv na plod a postnatální
        neurobehaviorální vývoj dítěte. Přes většinové důkazy svědčící o relativní bezpečnosti některých skupin
        psychofarmak v graviditě zůstává jejich podávání kontroverzním tématem. Vždy je nutné individuálně posoudit, zda
        převažují rizika či zisky pro matku a její dítě <a href="#literatura5">(5)</a>. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Role neurotransmiterů a kortizolu ve vývoji CNS
      </h2>
      <p>Všechny typy psychofarmak zpravidla ovlivňují hladiny neurotransmiterů u ženy a vyvíjejícího se plodu.
        Neurotransmitery jsou důležitými signalizačními molekulami během embryogeneze neuronálních sítí <a
          href="#literatura6">(6, 7)</a>. Nejlépe
        prozkoumaná je role serotoninu. Serotonin je zapojen do řady morfogenetických procesů během embryogeneze CNS,
        mezi něž patří modulování proliferace, migrace a diferenciace neuronů <a href="#literatura8">(8, 9)</a>. Dále se
        také podílí na
        synaptogenezi a růstu axonů <a href="#literatura10">(10, 11)</a>. První serotonergní neurony jsou prokazatelné
        již v 5. gestačním týdnu <a href="#literatura12">(12)</a>
        a jsou lokalizovány ve strukturách pocházejících z předního mozku – prosencefalu, jmenovitě v prefrontální kůře
        mozkové, amygdale, hypothalamu a hipokampu <a href="#literatura13">(13)</a>. Serotonin tedy hraje důležitou roli
        při embryogenezi
        neuronálních okruhů podílejících se na rozličných kognitivních funkcích. Nezbytnost dostatečných hladin
        serotoninu pro správný vývoj plodu naznačuje jeho tvorba v placentě <a href="#literatura14">(14)</a>. </p>
      <p>Signalizační role dopaminu v neurogenezi se zdá být podobná jako role serotoninu <a
          href="#literatura15">(15)</a>. Hlavní zastoupení
        dopaminergních neuronů je ve frontální kůře, v corpu striatum a nucleu accumbens, tj. struktur zapojených do
        programování kognice, motoriky a systému odměny <a href="#literatura16">(16)</a>. </p>
      <p>Noradrenergní systém je esenciální pro správnou genezi mozkové kůry, jelikož je zodpovědný za vývoj Cajal
        Retziových buněk <a href="#literatura17">(17)</a>. Tyto neurony jsou prvními, které se objeví ve vyvíjející se
        kůře mozkové, a dále se
        podílejí na neuronální migraci a laminární organizaci korových neuronů. </p>
      <p>Kortizol ve vysokých hladinách inhibuje růst a diferenciaci hipokampálních neuronů <a
          href="#literatura18">(18)</a>. Kortizol je také
        zapojen do myelinizačního procesu během embryogeneze CNS a jeho zvýšená hladina myelinizaci narušuje <a
          href="#literatura19">(19)</a>.
        Myelinizace je nezbytná pro správné vedení vzruchů neuronálními okruhy. </p>
      <p>Z výše uvedeného vyplývá, že jak neléčená duševní porucha, tak léčba psychofarmaky u těhotné ženy může mít vliv
        na budoucí neurobehaviorální vývoj jejího dítěte. </p>
      <p>Informace o vlivu dílčích skupin psychofarmak na plod a novorozence i průběh těhotenství naleznete v&nbsp;dalších
        článcích. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Apter G, Devouche E, Gratier M. Perinatal mental health. J Nerv Ment Dis. 2011;199(8):575–577
        </li>
        <li id="literatura2">
          Van der Aa EM, Peereboom-Stegeman JH, Noordhoek J, Grib- nau FW, Russel FG. Mechanisms of drug transfer across the human placenta. Pharmac World Sci: PWS. 1998;20:139–148.
        </li>
        <li id="literatura3">
          Levitt P, Harvey JA, Friedman E, Simansky K, Murphy EH. New evidence for neurotransmitter influences on brain development. Trends Neurosci. 1997;20:269–274
        </li>
        <li id="literatura4">
          Gotlib D, Ramaswamy R, Kurlander JE, DeRiggi A, Riba M. Valproic Acid in Women and Girls of Childbearing Age. Curr Psychiatry Rep. 2017;19(9):58
        </li>
        <li id="literatura5">
          Hanka J, Šebela A, Mohr P. Psychofarmaka v těhotenství: Aktuální poznatky 2017. Psychiatrie. 2017; 2:99–106
        </li>
        <li id="literatura6">
          Meier E, Hertz L, Schousboe A. Neurotransmitters as developmental signals. Neurochemistry International. 1991; 19(1–2), 1–15.
        </li>
        <li id="literatura7">
          Todd RD. Neural development is regulated by classical neurotransmit-ters: dopamine D2 receptor stimulation enhances neurite outgrowth. Biol Psychiatry. 1992; 37, 794–807.
        </li>
        <li id="literatura8">
          Daubert EA, Condron BG. Serotonin: a regulator of neuronal morphol-ogy and circuitry. Trends in Neurosciences. 2010; 33:424–434.
        </li>
        <li id="literatura9">
          Dayer, A. Serotonin-related pathways and developmental plasticity: rel-evance for psychiatric disorders. Dialogues Clin Neurosci. 2014; 16, 29–41.
        </li>
        <li id="literatura10">
          Gaspar P, Cases O, Maroteaux L. The developmental role of serotonin: ews from mouse molecular genetics. Nat Rev Neurosci. 2003;4:1002–1012.
        </li>
        <li id="literatura11">
          Vitalis T, Ansorge MS, Dayer AG. Serotonin homeostasis and serotonin receptors as actors of cortical construction: special attention to the 5-HT3A and 5-HT6 receptor subtypes. Front Cell Neurosci. 2013; 7:93.
        </li>
        <li id="literatura12">
          Sundstrom E, Kolare S, Souverbie F, Samuelsson EB, Pschera H, Lunell NO, et al. Neurochemical differentiation of human bulbospinal mono-aminergic neurons during the first trimester. Brain Res Dev Brain Res. 1993; 75:1–12
        </li>
        <li id="literatura13">
          Barnes NM, Sharp T. A review of central 5-HT receptors and their func-tion. Neuropharmachology. 1999; 38(8), 1083–1152.
        </li>
        <li id="literatura14">
          Bonnin A, Goeden N, Chen K, Wilson ML, King J, Shih JC, et al. A tran-sient placental source of serotonin for the fetal forebrain. Nature. 2011; 472, 347–350.
        </li>
        <li id="literatura15">
          Money KM, Stanwood GD. Developmental origins of brain disorders: roles for dopamine. Front Cell Neurosci. 2013; 7:260
        </li>
        <li id="literatura16">
          Meador-Woodruff JH, Damask SP, Wang J, Haroutunian V, Davis KL, Watson SJ. Dopamine receptor mRNA expression in human striatum and neocortex. Neuropsychopharmacology. 1996; 15, 17–29
        </li>
        <li id="literatura17">
          Naqui SZH, Harris BS, Thomaidou D, Parnavelas JG. The noradrenergic system influences in fate of Cajal Retzius cells in the developing cerebral cortex. Dev Brain Res. 1999; 113:75–82
        </li>
        <li id="literatura18">
          Uno H, Eisele S, Sakai A, Shelton S, Baker E, DeJesus O, et al. Neuro-toxicity of glucocorticoids in the primate brain. Horm Behav. 1994; 28, 336–348.
        </li>
        <li id="literatura19">
          Bennett GA, Palliser HK, Shaw JC, Walker D, Hirst JJ. Prenatal stress alters hippocampal neuroglia and increases anxiety. Childhood. Dev Neurosci. 2015; 37(6):533–545.
        </li>
      </ol>
    </div>
  </div>
</section>
