<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
{#      <img src="{{ asset('build/img/') }}" alt="" class="hero-subpage--img">#}
      <h1>
        Kontaktní informace
        <small>Kontakt – pokud vás něco zajímá</small>
      </h1>
{#      <p>xxx</p>#}
    </div>
  </div>
</section>
