<section class="contact-map">
  <div id="m" class="contact-map--map"></div>
  <div class="contact-map--content">
    <div class="container">
      <div class="contact-map--wrapper">
        <div class="contact-map--box">
          <p>
            <b>Národní ústav duševního zdraví</b><br>
            Topolová 748<br>
            250 67 Klecany
          </p>
          <p>
            IČO: 00023752<br>
            DIČ: CZ00023752
          </p>
          <p>Datová schránka: uehpcbb</p>
          <a href="https://www.google.com/maps/place/N%C3%A1rodn%C3%AD+%C3%BAstav+du%C5%A1evn%C3%ADho+zdrav%C3%AD/@50.1791277,14.420233,15z/data=!4m5!3m4!1s0x0:0xbaaed58f2f5acd6e!8m2!3d50.1792968!4d14.420169" target="_blank" class="button button--gradient">
            <span>Zobrazit na mapě</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
