<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Faktory, které nejvíce zvyšují riziko pro rozvoj poporodní deprese, jsou výskyt unipolární deprese kdykoliv
        před těhotenstvím (odds ratio, OR&nbsp;=&nbsp;6,28; 95% CI&nbsp;=&nbsp;4,86&#8211;8,13) <a href="#literatura2">(2)</a> a&nbsp;anamnéza
        premenstruačního syndromu či premenstruační dysforické poruchy (OR&nbsp;=&nbsp;2,05; 95% CI&nbsp;=&nbsp;1,25–3,33) <a
          href="#literatura3">(3)</a> . </p>
      <p>Dalšími nezanedbatelnými rizikovými faktory jsou nepříznivá sociální situace či nedostatek opory ze strany otce
        dítěte. V&nbsp; poporodním období se ale zvyšuje také riziko vzniku deprese u&nbsp;otců. Dle meta-analýzy 43 studií se u
        10,4&nbsp;% mužů, kteří jsou nově otci, rozvine deprese, což je 2× více, než je populační riziko <a
          href="#literatura4">(4)</a>. </p>
      <p>Při diagnostice poporodní deprese se opíráme o&nbsp;kritéria depresivní fáze uvedené v&nbsp;Mezinárodní klasifikaci
        nemocí <a href="#literatura5">(5)</a>, diferenciálně diagnosticky musíme odlišit tzv.&nbsp;poporodní blues, které
        může klinickým obrazem poporodní depresi připomínat. Průběh a prognóza je odlišná; poporodní blues vzniká v&nbsp;řádu
        dnů po porodu, má proměnlivý průběh a zpravidla samovolně odezní do 1–2&nbsp; týdnů. Oproti tomu poporodní deprese
        nejčastěji vzniká do jednoho měsíce po porodu a&nbsp;má delší a&nbsp; závažnější průběh. Pro podrobnější informace
        o&nbsp;diferenciální diagnostice poporodní deprese a&nbsp;poporodního blues odkazujeme čtenáře na přehledovou práci na
        toto téma <a href="#literatura6">(6)</a>. </p>
      <p>VIDEO – diferenciální diagnostika poporodních duševních poruch </p>
      <p>Optimální péče o&nbsp;ženu s&nbsp;depresí, která plánuje graviditu, zahrnuje prekoncepční fázi (výběr bezpečného
        antidepresiva v&nbsp;těhotenství), udržovací fázi v&nbsp;době před a&nbsp;v&nbsp;průběhu gravidity (dosažení euthymie nejmenší
        účinnou dávkou zvoleného léku) a&nbsp;perinatální fázi bezprostředně před porodem a&nbsp;po porodu (prevence rozvoje
        poporodní deprese). Bezpečnostní profil antidepresiv v&nbsp;těhotenství <a
          href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'antidepresiva-a-tehotenstvi'}) }}">naleznete
          zde</a>. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Deprese a&nbsp;laktace
      </h2>
      <p>Hartová a&nbsp;kol. <a href="#literatura7">(7)</a> nalezli asociaci mezi poporodní depresí matky a&nbsp;slabším
        přisáváním novorozence k&nbsp;prsu, nižším příjmem mléka a&nbsp;menším váhovým přírůstkem kojeného novorozence. Vyšší míra
        depresivní symptomatiky negativně koreluje s&nbsp;hladinami oxytocinu během kojení <a href="#literatura8">(8)</a>.
        Deprese v&nbsp;poporodním období je také asociována s&nbsp;kratší dobou kojení a&nbsp;předčasným ukončením kojení <a
          href="#literatura9">(9)</a>.</p>
      <p>Přítomnost depresivních příznaků u&nbsp;žen v&nbsp;poporodním období negativně ovlivňuje jejich mateřskou roli (např.&nbsp;
        méně tělesného kontaktu s&nbsp;dítětem, nižší přenos pozitivních emocí a&nbsp;menší míra pozitivní stimulace dítěte) <a
          href="#literatura10">(10)</a>. Narušení raného citového přilnutí dítěte je jednou z&nbsp;příčin vyšší míry
        psychopatologie a&nbsp;opožděného kognitivního vývoje dětí matek s&nbsp;poporodní depresí v&nbsp;porovnání s&nbsp;dětmi
        nedepresivních matek <a href="#literatura11">(11, 12)</a>. </p>
      <p>Cílem léčby je proto dosažení co nejkvalitnější remise. Základním terapeutickým postupem v léčbě lehčích forem
        poporodní deprese je psychoterapie, kde nejlepšího efektu dosahuje kognitivně ­behaviorální směr <a
          href="#literatura13">(13)</a>. KBT prvky obsahuje i námi vyvinutá mobilní aplikace Kogito. <a
          href="https://kogito.cz/" target="_blank">www.kogito.cz</a></p>
      <p>U&nbsp;těžších forem onemocnění jsou metodou léčby <a
          href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antidepresiva-a-kojeni'}) }}">antidepresiva</a>,
        v&nbsp;nejvážnějších případech, neodpovídajících na předchozí intervence pak hospitalizace, kombinace psychofarmak,
        augmentace či aplikace elektrokonvulzivní terapie. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Howard LM, Molyneaux E, Dennis C ­L, Rochat T, Stein A, Milgrom J. Non ­psychotic mental disorders in the
          perinatal period. Lancet 2014;384(9956): 1775–1788.
        </li>
        <li id="literatura2">
          Guintivano J, Sullivan PF, Stuebe AM, et al. Adverse life events, psychiatric history, and biological
          predictors of po-stpartum depression in an ethnically diverse sample of post¬partum women. Psychol Med. 2018;
          48(7): 1190–1200.
        </li>
        <li id="literatura3">
          Turkcapar AF, Kadioglu N, Aslan E,&nbsp;et&nbsp;al. Sociodemogra­phic and clinical features of postpartum depression
          among Turkish women: a&nbsp;prospective study. BMC Pregnancy Child­b ir t h . 2015; 15: 10 8 –115.
        </li>
        <li id="literatura4">
          Paulson JF, Bazemore SD. (2010). Prenatal and postpar­tum depression in fathers and its association with
          maternal depression. JAMA. 2010; 303(19): 1961–1969
        </li>
        <li id="literatura5">
          Mezinárodní statistická klasifikace nemocí a&nbsp;přidružených zdravotních problémů: MKN­10: Mezinárodní
          klasifikace ne­mocí a&nbsp;přidružených zdravotních problémů: desátá revize. Ak­tualizované vydání k&nbsp;1.&nbsp;1.&nbsp;2018,
          Praha: Bomton Agency, 2017
        </li>
        <li id="literatura6">
          Šebela A, Hanka J, Mohr P. Diagnostika a moderní trendy v terapii poporodní deprese. Čes. Gynek., 2018; 83(6):
          474–478
        </li>
        <li id="literatura7">
          Hart SL, Jackson SC, Boylan&nbsp; LM. Compromised weight gain, milk intake, and feeding behavior in breastfed
          new­borns of depressive mothers. Journal of pediatric psycholo­gy. 2011; 36(8): 942–950.
        </li>
        <li id="literatura8">
          Stuebe AM, Grewen K, Meltzer ­Brody S. Association between maternal mood and oxytocin response to
          bre­astfeeding. Journal of Women’s&nbsp;Health. 2013; 22(4): 352–361
        </li>
        <li id="literatura9">
          Dias CC, Figueiredo B. Breastfeeding and depression: A systematic review of the literature. Journal of
          Affective Di­sorders. 2015; 171: 142–154.
        </li>
        <li id="literatura10">
          Righetti ­Veltema M, Conne ­Perréard E, Bousquet A, Man­zano J. Postpartum depression and mother ­infant
          relation­ship at 3 months old. J Affect Disord, 2002, 70(3): 291–306
        </li>
        <li id="literatura11">
          Sanger C, Iles JE, Andrew CS, Ramchandani PG. Associati­ons between postnatal maternal depression and
          psycholo­gical outcomes in adolescent offspring: a&nbsp;systematic review. Arch Womens Ment Health, 2015, 18(2):
          147–162
        </li>
        <li id="literatura12">
          Stein A, Pearson RM, Goodman SH, et al. Effects of peri­natal mental disorders on the fetus and child. Lancet,
          2014, 38 4(9956): 180 0 –1819.
        </li>
        <li id="literatura13">
          Austin MP,&nbsp; et&nbsp; al. Clinical practice guidelines for depre­ssion and related disorders&nbsp; – anxiety, bipolar
          disorder and puerperal psychosis&nbsp; in the perinatal period. A&nbsp;guideline for primary care health professionals.
          Committee at GEA: Melbourne, Australia, 2011.
        </li>
      </ol>
    </div>
  </div>
</section>
