<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Všechny typy antidepresiv ale překračují placentu a jsou v&nbsp;přímé interakci s&nbsp;plodem. Můžou ovlivnit hladiny mediátorů (především monoaminů) u vyvíjejícího se plodu, a tím ovlivnit funkční vývoj mozku a nervového systému, ale i srdce, plic, gastrointestinálního systému, kostí, krevních elementů atd. </p>
      <p>Americká gynekologicko-porodnická společnost (ACOG) publikovala na základě zvážení a porovnání rizik přerušení léčby antidepresivy a rizik užívání antidepresiv během těhotenství v&nbsp;roce 2009 vyjádření pro doktory, kde bylo doporučeno individuální posouzení plánu léčby během těhotenství pro každou z&nbsp;pacientek.  </p>
      <p>Součástí dialogu mezi ošetřujícím lékařem/lékařkou a pacientkou má být zejména posouzení nutnosti užívání antidepresiv. Např. u žen léčících se s&nbsp;depresivní poruchou, které zažily v&nbsp;minulosti 4 a více depresivních epizod, je riziko relapsu během těhotenství hodnoceno jako velmi vysoké, a to i přestože je žena před těhotenstvím dlouhodobě stabilizovaná. V&nbsp;takových případech se farmakoterapie antidepresivy během těhotenství nedoporučuje přerušovat. Riziko relapsu duševního onemocnění je totiž v&nbsp;perinatálním období vyšší než normálně. ACOG v&nbsp;takových případech doporučuje pokračovat, pokud možno, monoterapií s&nbsp;nejmenší možnou efektivní dávkou pro stabilizaci ženy tak, aby se minimalizovalo riziko vlivu kombinace různých účinných látek.  </p>
      <p>Rovněž ACOG doporučuje neměnit typ antidepresiv užívaných před těhotenstvím, pokud není jejich bezpečnostní profil pro plod a novorozence vyhodnocen jako nízký. Ženám, které se léči s&nbsp;jiným duševním onemocněním nebo užívají antidepresiva např. kvůli somatickým obtížím, se doporučuje zvážení případného vysazení během těhotenství. Nikdy by ale žena neměla vysazovat antidepresiva bez konzultace s&nbsp;jejím ošetřujícím lékařem/lékařkou <a href="#literatura1">(1)</a>. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Vliv antidepresiv na plod a novorozence:
      </h2>
      <ol>
        <li><strong>Teratogenní efekt</strong> </li>
        <p>Protože jsou <strong> SSRI</strong> antidepresiva první volbou pro většinu perinatálních psychiatrů, zabývá se většina studií právě jejich bezpečností. Méně informací máme o rizicích užívání <strong>SNRI </strong> a tricyklických antidepresiv. V&nbsp;některých studiích (kde nerozlišovali mezi jednotlivými typy antidepresiv) bylo reportováno malé, ale signifikantní riziko pro vznik&nbsp;malformací u plodu po expozici antidepresivům během těhotenství. Metodologické nedostatky studií ale neumožňují odfiltrovat vliv dalších proměnných jako např. rizikového chování asociovaného se samotnou depresivní poruchou, a tedy závěr z&nbsp;těchto studií nelze jasně interpretovat. Možné zvýšené riziko výskytu malformací u plodů pak někteří autoři spojují s&nbsp;tím, že ve vzorku jsou zastoupena <strong>i&nbsp;tricyklická antidepresiva</strong>, druhá volba pro léčbu rezistentní deprese obecně asociována s&nbsp;více riziky a vedlejšími účinky i pro samotnou matku <a href="#literatura1">(1)</a>. </p>
        <p>Když byla posuzována&nbsp;bezpečnost SSRI antidepresiv zvlášť, objevovaly se kontroverzní výsledky zejména u <strong>paroxetinu</strong> (OR 1.29) a <strong> fluoxetinu</strong> (OR 1.14) s&nbsp;mírně zvýšeným rizikem pro kongenitální malformace při užívání během prvního trimestru. Velikost efektu byla ale malá a klinická signifikance výsledku nejistá. Paroxetin si získal pozornost již v&nbsp;roce 2005, kdy byla od jeho výrobce reportována preliminární data popisující zvýšený výskyt srdečních malformací u novorozenců v&nbsp;případě jeho užívání matkou během těhotenství. V&nbsp;návaznosti vyjádřila ve stejném roce pochybnosti o jeho bezpečnosti i Americká asociace pro kontrolu potravin a léčiv (FDA), která mimo jiné doporučila i změnu medikace žen během těhotenství na jiná SSRI antidepresiva <a href="#literatura1">(1)</a>.</p>
        <p>Od té doby vznikalo velké množství studií ohledně bezpečnosti SSRI antidepresiv během těhotenství. Ty nicméně reportovaly konfliktní výsledky. Většina zmiňovala žádné nebo velmi malé riziko, a to zpravidla pro paroxetin, u kterého nebylo prokázáno riziko výskytu většiny kongenitálních malformací až na malformace srdce, specificky septálních defektů. Efekt byl nicméně slabý a klinicky nesignifikantní. V&nbsp;jiných studiích, kde byl kontrolován efekt dalších proměnných, navíc vztah mezi paroxetinem a srdečními defekty nebyl prokázán. U ostatních SSRI antidepresiv nebyl efekt na teratogenitu prokázán, nebo byl (ve spíše ojedinělých případech) shledán velmi malý <a href="#literatura1">(1)</a>. </p>
        <li><strong>Riziko porodních komplikací</strong> </li>
        <p>Děti exponovány během těhotenství antidepresivům se v&nbsp;průměru rodí o 3 dny dříve, váží v&nbsp;průměru o 75 gramů méně a mají APGAR skóre v&nbsp;průměru o 0,5 nižší. Větší riziko potratu nebylo u dětí exponovaných antidepresivům zjištěno. Jiné studie zase dávají užívání antidepresiv ženou během těhotenství do vztahu s&nbsp;mírným rizikem nedonošenosti dítěte, a to zejména pakliže jsou děti exponované antidepresivům během třetího semestru <a href="#literatura1">(1)</a>. </p>
        <li><strong>Riziko pro novorozence </strong> </li>
        <p>Neonatální adaptační syndrom (NAS) se vyskytuje až u 30 % dětí exponovaných antidepresivům během těhotenství. U těchto dětí je větší riziko rozvoje slabého NAS s&nbsp;nejvíce se vyskytujícími symptomy v&nbsp;podobě tremoru a problémů s&nbsp;dýcháním. Tyto symptomy jsou nicméně obvykle slabé a upraví se bez jakékoliv léčby většinou do 2 týdnů. Nejčastějším symptomem NAS se u exponovaných dětí zdají být respirační komplikace, zejména pak klinická manifestace perzistentní plicní hypertenze je komplikací nejzávažnější. Tato komplikace se v&nbsp;běžné populaci objevuje u 2 narozených dětí z&nbsp;1000. U dětí exponovaných SSRI antidepresivům během třetího semestru se zdá být výskyt této komplikace lehce vyšší, byť ne klinicky signifikantní. V&nbsp;návaznosti na tato zjištění a údajné přecenění obav z&nbsp;rizik stáhla FDA varování poukazující na vztah mezi užíváním SSRI matkami a výskytem plicní hypertenze u novorozenců <a href="#literatura1">(1)</a>. </p>
      </ol>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Závěr
      </h2>
      <p>Nejvíce dat máme o bezpečnosti SSRI antidepresiv, u kterých nebyla teratogenita přímo prokázána. </p>
      <p>K&nbsp;úplnému vyloučení jejich negativního dopadu je ale potřeba více dat z&nbsp;kvalitnějších studií, které by kontrolovaly vliv ostatních proměnných. Výsledky nasvědčují tomu, že mírně teratogenní vliv by mohl mít paroxetin, který byl opakovaně dáván do vztahu se srdečními defekty dítěte. Přestože tento vztah není jasně prokázán, nedoporučuje se během těhotenství pokračovat v&nbsp;léčbě&nbsp;paroxetinem. Paroxetin lze v&nbsp;případě potřeby nahradit jiným SSRI antidepresivem. U SNRI a tricyklických antidepresiv, stejně jako u SSRI rovněž nebyl prokázán přímý vztah k&nbsp;teratogenitě. Vzhledem k&nbsp;malému množství dat se ale nedoporučuje v jejich užívání během těhotenství pokračovat. Zdá se, že děti, které jsou v&nbsp;těhotenství exponovány antidepresivům, se rodí v&nbsp;průměru o něco dříve, jsou lehčí a mají nižší APGAR skóre. Tyto změny jsou nicméně klinicky nesignifikantní a neměly by ohrožovat zdraví dítěte. Stejně tak bylo u dětí exponovaných antidepresivům během těhotenství zjištěno mírné riziko slabého NAS. Symptomy se u těchto dětí nicméně zpravidla vytratily během dvou týdnů po narození. </p>
      <p>Riziko negativních dopadů ženou užívaných antidepresiv na vývoj a zdraví plodu a dítěte se zdá být velmi malé a klinicky nesignifikantní. Oproti tomu riziko spojené se sebevraždou, nezdravým chováním v&nbsp;podobě kouření, užívání drog a alkoholu a celkové neschopnosti matky zapojit se do perinatální péče v&nbsp;případě přerušení léčby antidepresivy může mít pro dítě velmi závažné negativní dopady. Navíc může mít neléčené duševní onemocnění během těhotenství následky pro dítě i po porodu. V&nbsp;případě přítomnosti depresivní epizody u matky může nedostatek patřičné pozornosti a inkonzistence nálady narušit v&nbsp;prvních týdnech po porodu kvalitu vazby mezi matkou a dítětem. Socio-emocionální dopady narušené vazby pak můžou dítě provázet po zbytek života. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Muzik, M., & Hamilton, S. E. (2016). Use of Antidepressants During Pregnancy?: What to Consider when Weighing Treatment with Antidepressants Against Untreated Depression. Maternal and Child Health Journal, 20(11), 2268–2279.
        </li>
      </ol>
    </div>
  </div>
</section>
