{% trans_default_domain 'for-professionals' %}
<section class="main-article">
  <div class="container">
    <div class="main-article--wrapper">
      <div class="main-article--grid">
        <div class="main-article--content">
          <h2 class="h3">Tempus curat omnia</h2>
          <p>{% trans %}content.text.0{% endtrans%}</p>
          <p>{% trans %}content.text.1{% endtrans%}</p>
        </div>
        <div class="main-article--aside">
          <h2 class="h3">Připravená témata</h2>
          <div class="main-article--box">
            <a href="#" class="main-article--box--row">
              <span class="main-article--box--link">Co mohu dělat</span>
              <span class="main-article--box--text">Délka: 15min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="#" class="main-article--box--row">
              <span class="main-article--box--link">Kam se obrátit</span>
              <span class="main-article--box--text">Délka: 15min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="#" class="main-article--box--row">
              <span class="main-article--box--link">Duševní zdraví otců</span>
              <span class="main-article--box--text">Délka: 15min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
