{% trans_default_domain 'for-professionals' %}
<div class="text-simple">
  <article class="container" role="article">
    <p>{% trans %}content.text.0{% endtrans%}</p>
    <p>{% trans %}content.text.1{% endtrans%}</p>
  </article>
</div>
