<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co zde nalezneme?
      </h2>
      <p>V současnosti roste počet žen, které musí v období gravidity pravidelně užívat psychofarmaka z důvodu duševního
        onemocnění. Většina psychofarmak přechází přes placentu do oběhu plodu, a tak mohou ovlivňovat jeho vývoj.
        Nicméně i neléčené duševní onemocnění v těhotenství představuje rizikový faktor pro narušení průběhu gravidity,
        vývoje plodu a horší poporodní adaptaci novorozence. </p>
      <p>V&nbsp;otázkách psychofarmakologie v&nbsp;graviditě tedy musíme vyhodnotit tato přítomná potenciální rizika u našich
        pacientek vždy individuálně. Přinášíme proto: </p>
      <ol>
        <li>informace o specificích vybraných duševních poruch v&nbsp;těhotenství</li>
        <li> Informace o psychofarmacích v graviditě</li>
      </ol>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Pro koho je obsah určen?
      </h2>
      <p>Pro lékaře a lékařky, kteří mají v&nbsp;péči těhotné ženy a starají se o jejich duševní zdraví a chtějí svou péči
        poskytovat dle aktuálního stavu poznání. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak Vám můžeme pomoci?
      </h2>
      <p>Perinatální ambulance Národního ústavu duševního zdraví v&nbsp;Klecanech poskytuje konziliární vyšetření v&nbsp;oblasti
        psychofarmakologie v&nbsp;graviditě (pro informace kontaktujte
        <a href="mailto:ambulance@nudz.cz">ambulance@nudz.cz</a>. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Připravená témata
      </h2>
      <ul>
        <li>Obecná psychofarmakologie v těhotenství</li>
        <li>Antidepresiva a&nbsp;těhotenství</li>
        <li>Antipsychotika a těhotenství</li>
        <li>Stabilizátory nálady a těhotenství</li>
        <li>Anxiolytika, z-hypnotika a těhotenství</li>
        <li>Depresivní porucha a těhotenství</li>
        <li>Bipolární porucha a těhotenství</li>
        <li>Psychotické poruchy a těhotenství</li>
      </ul>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
    </div>
  </div>
</section>
