<section class="reviews reviews--blog-detail">
  <div class="container">
    <div class="reviews--wrapper">
      <div class="reviews--slider--wrapper">
        <div class="reviews--slider reviews--slider--4">
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Anežka říká:</h3>
              <p>Nejtěžší pro mě byl a stále je strach o mého syna. Strach, když je nemocný, nebo se zraní. A také obavy, jestli jsem pro něj dost dobrá máma. Dává mi zabrat každá rýma, kašel nebo teplota. Dalo mi zabrat uvědomit si, že jeho pláč, vztek nebo špatná nálada neznamenají, že jsem špatná máma.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Petra říká:</h3>
              <p>S prvni dcerou jsem mela poporodní úzkost, jenom brečela a já s ní. Měla jsem výčitky, že ji nedokážu utišit a chtěla jsem od ní odejít. Záviděla jsem manželovi, že může kdykoli kamkoli odejít! Hledala jsem k dceři cestu skoro 9 mesíců, Dnes už jsme partačky.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Kateřina říká:</h3>
              <p>Mateřství mi naskocilo hned, obrovská laska taky, ALE ta tíha, ze jsem jediná která chrání moje miminko, mi nedala spat. Nezamourila jsem oko, protože se miminko pohnulo, protože vydalo zvuk. Měla jsem pocit, ze musím byt pořad na pozoru. Až později mi došlo, ze je to naprostý nesmysl. Skončila jsem 12 dni bez spánku a totálně jsem odpadla. </p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Jana říká:</h3>
              <p>Panická hrůza, že ublížím synovi. Že ho neudržím v rukou,byl těžký a po týdnu jsem měla křeče v prstech a zápěstí až jsem plakala. Točila se mi hlava. Měl posunuté očkování a já se bála, že mi na něj někdo prskne hemofila(který si žije v krku půlky dospělých) a udusí se mi s epiglotitidou. Musel spát na podložce s monitorem dechu, měla jsem strašný strach, že mi přestane dýchat,umře a přijdu o něj stejně jako o předchozí těhotenství.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Strašně jsem se všeho začala bála a měla jsem úzkosti. Moje máma mi řekla, že dítě držím špatně a takto mi spadne a bude po něm. Několik dní jsem pak nedokázala sejít schody do přízemí, jak jsem se bála, že ji neudržím. Manžel mi furt říkal, že přeci musím být šťastná, že je to nejkrásnější období života. Byla jsem hrozně nešťastná, nečekala jsem, že se život tak změní, cítila jsem se osamoceně a že nic nezvládám. </p>
            </div>
          </div>
        </div>

        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">
          <span class="icon icon--icon-chevron-simple-circle-left-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-left-stroked-color"></use></svg>
          </span>
        </button>
        <button class="slick-next slick-arrow" aria-label="Next" type="button">
          <span class="icon icon--icon-chevron-simple-circle-right-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked-color"></use></svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
