<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Je normální, že máte obavy, jestli léky nepřecházejí do mléka a nemohou tak například ovlivnit vývoj vašeho dítěte. Ale bez konzultace s&nbsp;vaším ošetřujícím lékařem nedoporučujeme léky vysazovat, může se totiž stát, že se váš psychický stav po rychlém vysazení rychle zhorší.</p>
      <p>Ano, existují léky, které by se neměly v kojení užívat, ale na druhou stranu existují i takové, jejichž užívání je dle aktuálních dat pro vaše dítě bezpečné.</p>
      <p>Je také možné, že jste odbornou péči o duševní zdraví vyhledala poprvé až po porodu, a jednou z&nbsp;možností léčby, která vám mohla být doporučena, jsou i psychofarmaka, mezi která patří antidepresiva, stabilizátory nálady, antipsychotika, anxiolytika nebo i léky na spaní. Chtěla byste nadále kojit, a tak hledáte informace o bezpečnosti psychiatrických léků při kojení, což je rozhodně dobrý postup.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Na co je dobré se ptát ošetřujícího lékaře, pokud se rozhoduji, zda při kojení užívat psychofarmaka?
      </h2>
      <ul>
        <li>Jak samotné kojení nebo nekojení může ovlivnit moji psychiku?</li>
        <li>Jaké je riziko, že se můj stav při kojení může zhoršit nebo zlepšit?</li>
        <li>Jak může můj psychický stav ovlivnit samotné kojení?</li>
        <li>Jsou tu nějaká rizika, kdybych se rozhodla, že nechci při kojení psychofarmaka?</li>
        <li>Jaká jsou rizika spojená s užíváním daného psychofarmaka při kojení? Jak ovlivní tělesný a mentální vývoj dítěte? Mohou nějak ovlivnit samotnou tvorbu mléka?</li>
        <li>Jaká jsou rizika spojená s neléčenými psychickými problémy po porodu? Jak ovlivní tělesný a mentální vývoj dítěte? Mohou nějak ovlivnit kojení a moji mateřskou roli?</li>
        <li>Převažují rizika spojená s&nbsp;léky, nebo ta spojená s&nbsp;neléčenou psychickou poruchou?</li>
        <li>Existují alternativy léčby pomocí psychofarmak? Jaká nesou rizika a výhody oproti lékům?</li>
      </ul>
      <p>Posouzení o tom, zda jsou pro vás psychofarmaka v&nbsp;kojení vhodná a jaký typ, je vždy silně individuální a je nutná důkladná konzultace s&nbsp;odborníky.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Při rozhodování musí lékař brát v potaz například:
      </h2>
      <ul>
        <li>Jaké jsou vaše psychické obtíže</li>
        <li>Jak vaše psychické obtíže ovlivňují vaše fungování</li>
        <li>Jak jste v minulosti snášela vysazení léků</li>
        <li>Jaké léky vám v minulosti pomohly</li>
        <li>Jestli využíváte jiné, nelékové, formy péče – např. psychoterapii</li>
      </ul>
      <p>Předtím, než se rozhodnete užívat psychofarmaka při kojení, by vám měl lékař nebo lékařka, kteří vám je předepsali, podrobně vysvětlit všechny výhody a nevýhody jejich užívání.</p>
    </div>
  </div>
</section>
