{% set locale = app.request.locale %}
<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
{#      <img src="{{ asset('build/img/') }}" alt="" class="hero-subpage--img">#}
      <h1>
        Nejdůležitějším faktorem naší práce jste vy
        <small>Napsali o nás – šíříme osvětu </small>
      </h1>
      <p>Součástí projektu jsou také informační aktivity. Děkujeme následujícím médiím, že nám pomáhají šířit povědomí o duševním zdraví žen v&nbsp;perinatálním období.</p>
    </div>
  </div>
</section>
