{% set locale = app.request.locale %}
<section class="review">
  <img src="{{ asset('build/img/about-us-full.jpg') }}" alt="" class="review--img">
  <div class="container">
    <div class="review--wrapper">
      <div class="review--grid">
        <div class="review--aside" id="recenze-uzivatelek">
          <span class="icon icon--icon-messages-heart-color">
            <svg class="icon__svg"><use xlink:href="#icon-messages-heart-color"></use></svg>
          </span>
          <h2>Recenze uživatelek</h2>
        </div>
        <div class="review--content">
          <div class="review--box">
            <p>Krásný dobrý den, Chtěla jsem Vám jen moc poděkovat za Vaší podporu maminkám. Ikdyž jsem nevyužila možností, tak jste mi byli velkou oporou už jen tím, že jsem věděla že tu někdo je když budu mít problém. Z počátku jsem myslele že to nezvládku, že úzkosti po porodu budou silnější ale pocit že tu někdo je alespoň přes telefon nebo email (zvláště v období covidu) byl opravdu obrovskou podporou.. Ještě jednou moc děkuji. Monika.</p>
            <p><small>Paní Monika - naše uživatelka</small></p>
          </div>
          <div class="review--box">
            <p>Díky úsměvu mámy jsem byla přijatá do péče k panu doktorovi Šebelovi a ikdyž se občas stále cítím mizerně, je to nesrovnatelně lepší než předtím. Díky za to, že jste.</p>
            <p><small>Uživatelka si nepřála být zveřejněna</small></p>
          </div>
          <div class="review--box">
            <p>Dobrý den, děkuji za to, co děláte. Mě neskutečně odrovnali v porodnici při porodu i na oddělení šestinedělí. Tak strašně jsem se necítila. Když mi donesli tablet, kde byl váš dotazník, nevěřila jsem, že to v této porodnici můžou myslet vážně. Snad se mé odpovědi dostaly i k vedení. Bohužel jsem hovor od vás po šestinedělí nemohla zvednout kvůli pláčici dceři, ale moc mi pomohlo vědět, že jste. Já mám obrovskou oporu v manželovi, hodně mi pomohla i laktační poradkyně. Ale každý toto štěstí nemá. Moc vám fandím.</p>
            <p><small>Uživatelka si nepřála být zveřejněna</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
