<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Pokud si nevíte rady, můžete se obrátit pro pomoc na:</p>
      <ul>
        <li>Obvodního lékaře</li>
        <li>Organizaci Úsměv mámy</li>
        <li>Organizaci Liga otevřených mužů</li>
        <li>Některou z krizových linek (Pražská linka důvěry: <a href="tel:222 580 697">222 580 697</a>; Linka první psychické pomoci:
          <a href="tel:116 123">116 123</a>). Neváhejte využít služeb krizové linky, pokud se obáváte, že by vaše partnerka mohla ublížit sobě nebo někomu ve svém okolí.</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Vaše pocity
      </h2>
      <p>Vaše duševní zdraví v roli otce a partnera nelze z celkového obrázku odstřihnout. Někteří muži mohou mít pocit, že musí být ochráncem rodiny a že na psychickou nepohodu nemají právo. Chtějí být své partnerce oporou a nepřidělávat jí starosti vlastními problémy. Anebo jim jejich vlastní problémy a starosti připadají v porovnání s těhotenstvím či porodem malicherné. Je však důležité vědět, že vaše pocity jsou naprosto validní a důležité. Nemusíte se za ně stydět. Naopak je od vás silným krokem, když o nich dokážete mluvit a případně si řeknete o pomoc. Abyste mohl být své partnerce oporou, musíte být sám v duševní pohodě.</p>
      <p>Otci a partneři řeší např. tato témata:</p>
      <ul>
        <li>Pocity odmítání, odsunutí na vedlejší kolej</li>
        <li>Pocity vynechávání z důležitých okamžiků, např. kontrol u lékaře</li>
        <li>Nepochopení, nezvládání změn nálad partnerky či jiných aspektů spojených s těhotenstvím</li>
        <li>Strach o zdraví partnerky a miminka</li>
        <li>Nespokojenost v sexuálním životě</li>
        <li>Hledání rovnováhy mezi osobním a pracovním životem</li>
        <li>Zodpovědnost za živení rodiny</li>
        <li>Smutná nálada, ztráta energie a zájmů – může být příznakem deprese</li>
        <li>Přetrvávající strach, obavy, záchvaty paniky – může být příznakem úzkosti</li>
      </ul>
      <p>A celá řada dalších. O všech těchto tématech můžete mluvit:</p>
      <ul>
        <li>Promluvte si se svou partnerkou, blízkým přítelem či rodinou</li>
        <li>Zapojte se do online fór a spojte se s dalšími muži, kteří prochází podobnou zkušeností</li>
        <li>Oslovte Ligu otevřených mužů</li>
        <li>Zavolejte na některou z krizových linek (Pražská linka důvěry: <a href="tel:222 580 697">222 580 697</a>; Linka první psychické pomoci:
          <a href="tel:116 123">116 123</a>)</li>
      </ul>
      <p>A také:</p>
      <ul>
        <li>Dbejte na odpočinek a relaxaci, nepodceňujte spánek</li>
        <li>Identifikujte, jaké situace vám působí největší stres, a zkuste je co nejvíc minimalizovat. I když to ne vždy lze a někdy je to velmi těžké</li>
        <li>Zařaďte do svého týdne pravidelný pohyb a pobyt na čerstvém vzduchu</li>
        <li>Najděte si čas na své koníčky</li>
        <li>Jezte pravidelně a zdravě</li>
        <li>Vyhněte se alkoholu a cigaretám, nebo je alespoň zkuste omezit</li>
      </ul>
    </div>
  </div>
</section>
