<section class="blog-detail-author">
  <div class="container">
    <div class="blog-detail-author--wrapper">
      <h2>Autoři:</h2>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-samkova.jpg') }}" alt="">
        <div>
          <h3>Alžběta Samková</h3>
          <small>porodní asistentka Centra porodní asistence FN Bulovka, autorka knihy Vulvou porodní asistentky</small>
        </div>
      </div>
    </div>
  </div>
</section>
