<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Koho bychom se tedy měli na definici ptát? Samozřejmě ženy samotné, jen ta zná svou správnou odpověď o svém porodu. Důležité je také uvést, že to, co jedné ženě může přijít jako obtížný či nezdařený porod, může jiná žena vnímat velmi pozitivně. Jedná se totiž o silně osobní prožitek a zkušenost, kterou vnímá každá žena jinak.</p>
      <p>Zkusme však rozdělit nezdařené porody do tři skupin. První dvě skupiny jsou na první pohled logické a většinová společnost ví, že takové porody jsou obtížné. Ta poslední skupina, kterou většinová společnost neslyší, však často potřebuje nejvíc péče.</p>
      <h3>
        1. Porody komplikované, předčasné či zakončené operativně
        <p>(např. vex, klešťový porod, neplánovaný císařský řez)</p>
      </h3>
      <p>
        Více informací <a href="https://www.nedoklubko.cz/" target="_blank">www.nedoklubko.cz</a>
      </p>
      <h3>2. Porody mrtvě rozených, porody na hranici viability, potraty</h3>
      <p>
        Více informací <br>
        <a href="https://www.perinatalniztrata.cz/" target="_blank">www.perinatalniztrata.cz</a> <br>
        <a href="https://sites.google.com/view/bylo-tu-neni-tu/" target="_blank">www.bylotu-nenitu.cz</a> <br>
        <a href="http://www.ditevsrdci.cz/" target="_blank">www.ditevsrdci.cz</a>
      </p>
      <h3>3. Porody, po kterých se matka v dalších měsících nedokáže radovat ze svého mateřství</h3>
      <p>
        Více informací
        <a href="https://www.usmevmamy.cz/" target="_blank">www.usmevmamy.cz</a>
      </p>
      <p>Po všech těchto nezdařených porodech vstupuje matka do období šestinedělí, které je pro každou z těchto tří skupin specifická.</p>
      <p>První skupina se hojí po fyzické stránce někdy delší dobu. Po psychické stránce to může být ještě delší. Výhodu oproti poslední skupině mají tyto ženy velkou, a sice že je většinová společnost vnímá jako ty, které měly těžký a obtížný porod. Díky tomu leckdy tyto ženy i podporu a pomoc naleznou. Důležitou podmínkou ale je, že tyto ženy pomoc hledají a řeknou si o ní. Nemálo žen po náročném operativním porodu k situaci přistoupí tak, „že nejlépe brzy zapomenout a teď se hlavně starat o své dítě“. Teto postoj je často dán tím, že po komplikovaných porodech nejsou ženy v dostatečném kontaktu s dítětem, jsou fyzicky i psychicky více oslabené a díky tomu všemu se laktace rozbíhá později a komplikovaněji, takže ženy místo sebe řeší krmení dítěte a průběh porodu samotného odsunou na druhou kolej, kde někdy zůstane.</p>
      <p>Druhá skupina žen jsou ty, které ve svém šestinedělí truchlí a oplakávají své dítě. Tyto ženy mají už dnes možnost psychologické konzultace ještě v porodnicích a v naprosté většině v určité formě terapie pokračují i nadále. Vyrovnat se se ztrátou dítěte mnohdy nejde, ale smířit se a odpustit sobě či jiným, je stav, ke kterému se se správnou péčí dá postupně dostat.</p>
      <p>Ve třetí skupině žen najdeme třeba i ty ženy, které měly své představy či očekávání o svém porodu a vše dopadlo „jinak“ než si představovaly. Taky jsou zde ty, které si tzv. nesednou se svým ošetřujícím personálem, ať už porodní asistentkou nebo lékařem či lékařkou a celá komunikace v období kolem porodu byla komplikovaná. Někdy však může dojít i ke komplikacím, které jsou způsobeny personálem – jeho rutinou, neprofesionalitou, zaneprázdněností apod.</p>
      <p>Ženy v této poslední skupině mají situaci, z hlediska hledání pomoci, nejtěžší. Nejenže většinová společnost je mnohdy spíš považuje za „bláznivou šestinedělku – vždyť má zdravé dítě, co by chtěla…“, často ani v jejich nejbližším okolí nevidí, nebo nejsou schopni vidět či pochopit ty důvody, které ženě nedovolí radovat se z mateřství.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak se tedy vyrovnat s nezdařeným porodem?
      </h2>
      <p>Základem je snažit se pochopit, proč se porod nezdařil. Období šestinedělí je náročné z mnoha důvodů, ale je i kouzelné v tom, co všechno dokáže žena zahojit. Čím dříve se o porodu baví, tím lépe je schopná svůj zážitek zpracovat. Období šestinedělí není pouze období, kdy se sžíváme s dítětem, začínáme kojit atd. Je to hlavně období hojení, a to probíhá jak na fyzické, tak samozřejmě na psychické úrovni. V ČR je však aktuálně systematická poporodní péče o ženy až zanedbaná.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak na to?
      </h2>
      <ol>
        <li>Vyžádat si dokumentaci, aby žena a její rodina měla konkrétní informace o tom, jak porod probíhal.</li>
        <li>
          Promluvit si o porodu s těmi, kteří znají porodní proces, orientují se v porodnických a pediatrických postupech a dokáží ženě odpovědět na otázky typu „Co jsem mohla udělat jinak, aby to takhle nedopadlo?“
          <br><br>
          <p>Péče porodní asistentky v období šestinedělí v naší zemi prakticky neprobíhá, pomineme-li první tři dny v porodnici. Je tedy třeba, aby žena (nebo její nejbližší okolí) našla porodní asistentku s dostatkem zkušeností, se kterou může konzultovat svůj porodní příběh. V ideálním případě je to přímo porodní asistentka, která u porodu samotného byla. Což se povede málokdy. Proto je třeba někdy hledat, případně i komunitní porodní asistentku. Vzhledem k nedostatku porodních asistentek může konzultovat i s dulou, nejlépe s takovou, která má mnohaleté zkušenosti.</p>
          <p>
            Více informací <br>
            <a href="https://www.unipa.cz/" target="_blank">www.unipa.cz</a><br>
            <a href="https://www.ckpa.cz/" target="_blank">www.ckpa.cz</a>
          </p>
          <br>
        </li>
        <li>Najít terapeuta, který pomůže se zpracováním a vyrovnáním se s pocity z nezdařeného porodu.</li>
        <li>S pomocí odborníka vysvětlit svému partnerovi či nejbližší rodině, že nejde o „bláznivou“ šestinedělku, ale jde o ženu, která byla poraněna, a je třeba jí pomoct hojit.</li>
      </ol>
    </div>
  </div>
</section>
