<section class="blog-detail-story">
  <div class="container">
    <div class="blog-detail-story--wrapper">
      <div class="page-sub-headline">
        <h2>
          Je důležité sdílet své poznání s dalšími maminkami.
          <small>Nejste v tom samy</small>
        </h2>
      </div>
      <div class="blog-detail-story--box">
        <h3>Porodní trauma: moje zkušenost s PTSD</h3>
        <p>Naše miminko vzniklo z lásky hned na první pokus. Měli jsme chvíli před svatbou a původně jsme chtěli ještě chvíli počkat. Nicméně jsme si miminko moc přáli, takže po prvotním šoku jsme se začali těšit. Zrušili jsme exotickou dovolenou a přestěhovali se do nového bytu blíž k prarodičům. A doufali, že všechno dobře dopadne.</p>
        <h4>Bezproblémové těhotenství s náročným koncem</h4>
        <p>Těhotenství pobíhalo bez problému, chodila jsem do práce, lehce cvičila a vstřebávala informace o porodu a péči o dítě. Protože pocházím z lékařské rodiny, od mala jsem slýchala tragické porodní příběhy. Porodu jsem se tedy strašně bála. Ne bolesti, ale trvalých následků u dítěte i u mě. Proto jsme s manželem absolvovali kurz hypnoporodu, který mě celkem uklidnil. Chtěla jsem, aby porod proběhl co nejpřirozeněji, s co nejmenšími zásahy, bez vyvolávání. Vyloženě jsem se na něj netěšila, ale snažila jsem se si nepřipouštět rizika. Raději jsem si domluvila dulu, aby mě k porodu doprovodila a podpořila mě u něj.</p>
        <p>
          <a href="#pribeh-moje-zkušenost-s-ptds" class="button js-modal-open">Přečíst celý příběh</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
