<section class="hero-subpage">
  <div class="container">
    <div class="hero-subpage--wrapper">
      <img src="{{ asset('build/img/mother-8.svg') }}" alt="" class="hero-subpage--img">
      <div class="breadcrumb">
        <a href="{{ path('app_default_pageAction', {'slug':'pro-blizke'}) }}" class="breadcrumb--text">Pro blízké</a>
        <span class="breadcrumb--text">Duševní zdraví otců</span>
      </div>
      <h1>Duševní zdraví otců</h1>
    </div>
  </div>
</section>
