<section class="blog-detail-author">
  <div class="container">
    <div class="blog-detail-author--wrapper">
      <h2>Autoři:</h2>
      <div class="blog-detail-author--row">
        <img src="{{ asset('build/img/team-karolina-janku.jpg') }}" alt="">
        <div>
          <h3>Mgr. Karolína Janků, Ph.D.</h3>
          <small>psycholožka se zaměřením na spánek</small>
        </div>
      </div>
    </div>
  </div>
</section>
