<section class="main-box main-box--alone">
  <div class="container">
    <div class="main-box--wrapper">
      <div class="main-box--box">
        <img src="{{ asset('build/img/bg-3.svg') }}" alt="" class="main-box--bg">
        <span class="main-box--star-1 icon icon--icon-star-4-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-4-color"></use></svg>
      </span>
        <span class="main-box--star-2 icon icon--icon-star-5-2-color">
        <svg class="icon__svg"><use xlink:href="#icon-star-5-2-color"></use></svg>
      </span>
        <div class="main-box--inner">
          <h3>Spánek je jednou ze základních životních potřeb člověka. Je důležitý nejen pro regeneraci organismu, ale také pro naše tělesné i duševní zdraví. Většina maminek se během těhotenství i těsně po porodu potýká s&nbsp;velmi sníženou kvalitou spánku, což mívá za následek zvýšenou únavu během dne a nezřídka i horší náladu a podrážděnost. Přestože snížená kvalita spánku do těchto období neodmyslitelně patří a je třeba s&nbsp;ní do určité míry počítat, existují určitá doporučení, díky kterým si můžete kvalitu spánku podpořit, a tím i lépe zvládat stres a zlepšit psychické rozpoložení během dne.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
