<section class="reviews reviews--blog-detail">
  <div class="container">
    <div class="reviews--wrapper">
      <div class="reviews--slider--wrapper">
        <div class="reviews--slider reviews--slider--4">
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Nechápala jsem,  že je to moje dítě. Myslela jsem  že si pro ni někdo přijde a odnese ji. Myslela jsem si  že jsem byla jen na nějaké operaci a dítě mám omylem. Necítila jsem vůbec žádnou mateřskou lásku. Později během prvních týdnů po porodu to byla úzkost  že zase bude brečet  vztek  že mě nenechá vyspat. Odpoledne už jsem brečela a volala manželovi  ať přijde domů z práce a konečně mě jí zbaví. Toužila jsem po životě před dítětem  aby bylo vše jako dřív  myslela jsem  že můj život skončil  že už mě nic dobrého nečeká.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Magda říká:</h3>
              <p>Nevěděla jsem nic o poporodním splínu.. Třetí den po porodu to začalo a bylo to TAK těžké! Bylo tady to moje úžasné miminečko, ale můj svět byl úplně černý. Svírala mě nepochopitelná úzkost a beznaděj, často jsem propadala v pláč.. a litovala své dítě, co to má za matku.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Po návratu z porodnice jsem měla  pochybnosti o tom, že jsem dobrá matka a že dokážu miminko zvládnout a dát mu vše potřebné k jeho rozvoji a štěstí, po několika dnech to však samo odeznělo.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Prvních 10 dní po porodu jsem byla jsem velmi ubrečená  přesto  že jsem k tomu neměla očividný důvod. Náhle mě přepadaly pocity smutku  beznaděje  přesto že porod proběhl naprosto podle očekávání  máme zdravé děťátko a i já byla po fyzické stránce vpořádku</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p> Po porodu mě trápila plačtivost  a nedůvěra v sebe samu. Výčitky že mi nejde kojení, že nedokážu nakrmit vlastní dítě, že nevím proč miminko pláče, když je syté  a vyspalé u matky. Měla jsem strach, že zůstanu v péči o dítě sama že mě opusti manžel, že po týdnu jeho  dovolené, kdy s námi byl doma to sama s miminkem nezvladnu. Postupem času jsem ale vše zvládla.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">JK říká:</h3>
              <p>Nejtěžší bylo přijmout fakt, že jsem najednou zavřená mezi čtyřmi stěnami s malým cizincem a můj do té doby společenský život je fuč. Můj neúspěch byl asi ten, že jsem nedovedla říct o pomoc dřív a první tři měsíce svého dítěte mám komplet vymazané. Zabrat mi dalo vyhrabat se z poporodní deprese a úzkosti mě děsí někdy ještě teď. Můj syn je ale dokonalý. <3</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Anonym říká:</h3>
              <p>Po porodu mi neustále chodily zprávy, jak musím být šťastná a jak si určitě užívám miminko. Já byla fyzicky i psychicky na dně, žádnou radost jsem necítila a byla jsem přesvědčená, že jsem ta nejhorší osoba na světě. Dcerku jsem začala opravdu milovat a užívat si ji až tak po 3 měsících.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Lenka říká:</h3>
              <p>Pro mě bylo nejhorší totální vyčerpání po druhém porodu. Dostavilo se potom i spoustu jiných - hlavně fyzických potíží a výsledkem byla diagnóza poporodní deprese. Antidepresiva beru již přes rok a brzy budu vysazovat úplně. Konečně můžu zase normálně žít.</p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Kristýna říká:</h3>
              <p>Čekala jsem, že mateřská láska je automatická a pocítím ji hned po tom, co dcerku budu držet v náručí a velice mě vyděsilo, když jsem po porodu byla úplně prázdná. Do toho od začátku problém s kojením a pocit hrozného selhání, když jsem malé dala umělé mléko. Vše se srovnalo po pár týdnech, ale bylo to mé nejtěžší období, po psychické stránce jsem si sáhla na dno a opravdu se nenáviděla. </p>
            </div>
          </div>
          <div class="reviews--slider--item">
            <div class="reviews--box">
              <h3 class="reviews--box--headline">Paní Petra říká:</h3>
              <p>Šestinedělí bylo nejtemnější období mého života. Období plné vyčerpanosti, pochybností a pláče. Chyběl mi spánek a můj starý život. Chtěla jsem utéct někam hodně daleko. Bylo těžké zvyknout si na to být matkou a přijmout svůj nový život. Nejtěžší bylo zbavit se předsudků, jak by to mělo být a není (absence zamilovanosti a pocitu štěstí hned na začátku). Skrz tyto zkušenosti jsem pochopila, jak moc jsme my ženy vnitřně silné.</p>
            </div>
          </div>
        </div>

        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">
          <span class="icon icon--icon-chevron-simple-circle-left-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-left-stroked-color"></use></svg>
          </span>
        </button>
        <button class="slick-next slick-arrow" aria-label="Next" type="button">
          <span class="icon icon--icon-chevron-simple-circle-right-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked-color"></use></svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
