<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer--wrapper">
      <span class="footer--shape icon icon--icon-shape-2-color">
        <svg class="icon__svg"><use xlink:href="#icon-shape-2-color"></use></svg>
      </span>
      <h2>Kogito</h2>
      <ul>
        <li><a class="js-modal-open" href="#modal-co-je-kogito"><b>Co je Kogito</b></a></li>
        <li><a class="js-modal-open" href="#modal-vyhody"><b>Výhody</b></a></li>
        <li><a class="js-modal-open" href="#modal-faq"><b>FAQ</b></a></li>
        <li><a class="js-modal-open" href="#modal-podminky-pouziti">Podmínky použití</a></li>
        <li><a class="js-modal-open" href="#modal-data">GDPR</a></li>
        <li><a class="js-modal-open" href="#modal-press">Press</a></li>
        <li><a class="js-modal-open" href="#modal-dokumenty">Dokumenty</a></li>
      </ul>
      <div class="footer--grid">
        <img src="{{ asset('build/img/tacr-white@3.5x.png') }}" width="195" alt="" class="footer--tacr">
{#        <div class="footer--download">#}
{#          <div>#}
{#            <a href="" target="_blank">#}
{#              <img src="{{ asset('build/img/appstore.svg') }}" alt="">#}
{#            </a>#}
{#          </div>#}
{#          <div>#}
{#            <a href="" target="_blank">#}
{#              <img src="{{ asset('build/img/googleplay.png') }}" alt="">#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
        <svg class="footer--logo" width="48" viewBox="0 0 208 208" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M86.4771 108.647C96.1923 106.201 109.058 99.7969 115.599 94.1504C132.398 79.6467 136.859 60.7772 128.924 37.7772C124.694 25.516 115.05 14.4976 103.339 8.54616C93.1949 3.39117 83.1281 1.16167 67.6996 0.653035C55.6777 0.256697 52.9849 0.433359 46.2369 2.06132C20.5827 8.25039 3.46547 24.4013 0.444641 45.2683C-0.743149 53.4733 0.534149 67.343 3.25002 75.7282C8.52073 92.0019 21.1983 103.005 40.2851 107.873C51.1848 110.653 76.802 111.082 86.4771 108.647Z" fill="#28508B"/>
          <path d="M180.394 109.99C192.35 106.424 200.238 96.2544 205.031 78.231C211.854 52.5686 206.496 20.2043 193.28 7.2567C187.451 1.54633 183.468 -0.00958622 174.702 4.43573e-05C168.238 0.00664064 166.596 0.35782 161.234 2.87628C147.7 9.23246 141.717 22.1421 140.734 47.1076C139.934 67.4407 142.404 82.6465 148.427 94.4707C155.221 107.807 167.587 113.81 180.394 109.99Z" fill="#FF7961"/>
          <path d="M59.4646 207.532C78.7945 205.021 90.3885 197.554 96.1671 183.893C99.2485 176.608 99.9265 162.589 97.655 153.125C93.4954 135.795 83.27 124.992 66.2527 119.948C58.9733 117.791 41.5583 117.325 32.9574 119.057C16.744 122.323 5.75272 131.4 1.49931 145.037C-0.506554 151.468 -0.498207 166.557 1.51508 174.532C4.68837 187.098 13.442 197.66 24.9151 202.767C34.5172 207.041 48.4502 208.962 59.4646 207.532Z" fill="#FFBF2B"/>
          <path d="M168.065 207.532C187.59 205.021 199.301 197.554 205.138 183.893C208.251 176.608 208.936 162.589 206.641 153.125C202.44 135.795 192.111 124.992 174.922 119.948C167.569 117.791 149.978 117.325 141.29 119.057C124.913 122.323 113.811 131.4 109.514 145.037C107.488 151.468 107.497 166.557 109.53 174.532C112.736 187.098 121.578 197.66 133.167 202.767C142.866 207.041 156.94 208.962 168.065 207.532Z" fill="#B6DDFA"/>
        </svg>
      </div>
    </div>
  </div>
</footer>
