<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-android">
  <svg class="icon__svg"><use xlink:href="#icon-android"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-apple">
  <svg class="icon__svg"><use xlink:href="#icon-apple"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-arrow-left">
  <svg class="icon__svg"><use xlink:href="#icon-arrow-left"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-play">
  <svg class="icon__svg"><use xlink:href="#icon-play"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-play-color">
  <svg class="icon__svg"><use xlink:href="#icon-play-color"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-shape-1-color">
  <svg class="icon__svg"><use xlink:href="#icon-shape-1-color"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-shape-2-color">
  <svg class="icon__svg"><use xlink:href="#icon-shape-2-color"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-shape-3-color">
  <svg class="icon__svg"><use xlink:href="#icon-shape-3-color"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-shape-4-color">
  <svg class="icon__svg"><use xlink:href="#icon-shape-4-color"></use></svg>
</span>
</div>
<div style="padding:5px;margin:5px;display:inline-block;border:1px dotted gray;">
<span class="icon icon--icon-times">
  <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
</span>
</div>
