<div id="modals">
  <div class="modal" id="modal-co-je-kogito" role="dialog" aria-labelledby="dialog-title-1">
    <div class="modal__body">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-1">Co je Kogito</h2>
        <p>Deep help aplikace vyvinutá na míru ženám, které na mateřské nebo rodičovské zažívají úzkosti nebo depresivní
          náladu. Je určená všem ženám, které se pomocí technik kognitivně-behaviorální terapie chtějí dozvědět o tom, jak
          jejich myšlenky ovlivňují jejich emoce a pracovat s nimi. Součástí Kogito jsou i techniky peer podpory (sdílení
          těžkostí).</p>
        <p>Appka vznikala ve spolupráci mezi Národním ústavem duševního zdraví a organizací Úsměv Mámy.</p>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-faq" role="dialog" aria-labelledby="dialog-title-3">
    <div class="modal__body">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-3">FAQ</h2>
        <h3>Registrovala jsem se do Kogito, ale po úvodním přihlášení a vyplnění dotazníků mi appka hlásí, že se mi obsah otevře až za měsíc. Je někde chyba?</h3>
        <p>Chyba to není. Při registraci je 50% šance, že se Vám Kogito otevře hned a 50% šance, že až po 1 měsíci. Prosím vydržte.</p>
        <h3>Jak bude nakládáno s mými daty?</h3>
        <p>Národní ústav duševního zdraví (dále jen NUDZ) bude nakládat s Vašimi daty v souladu se zákonem č. 110/2019 Sb. Zákon o zpracování osobních údajů, nařízení Evropského parlamentu a Rady (EU) 679/2016 ze dne 27. 4. 2016, o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen „GDPR“) a jiných právních předpisů.</p>
        <h3>Jaká data o mě appka sbírá?</h3>
        <p>Pro podrobnější informace klikněte na Podmínky použití.</p>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-data" role="dialog" aria-labelledby="dialog-title-5">
    <div class="modal__body">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-5">GDPR</h2>
        <h3>Jak bude nakládáno s mými daty?</h3>
        <p>Národní ústav duševního zdraví (dále jen NUDZ) bude nakládat s Vašimi daty v souladu se zákonem č. 110/2019 Sb. Zákon o zpracování osobních údajů, nařízení Evropského parlamentu a Rady (EU) 679/2016 ze dne 27. 4. 2016, o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen „GDPR“) a jiných právních předpisů.</p>
        <h3>Poučení o Vašich právech dle GDPR</h3>
        <ul>
          <li>právo požadovat informaci, jaké Vaše osobní údaje NUDZ zpracovává</li>
          <li>právo vyžádat si u NUDZ přístup k těmto údajům a tyto nechat aktualizovat nebo opravit, případně omezit jejich zpracování a právo vznést námitku proti zpracování</li>
          <li>právo získat osobní údaje ve strukturovaném, běžně používaném a strojově čitelném formátu, pokud je zpracování založeno na souhlasu</li>
          <li>právo požadovat po NUDZ výmaz těchto osobních údajů</li>
          <li>právo, v případě pochybností o dodržování povinností souvisejících se zpracováním osobních údajů, obrátit se na NUDZ nebo na Úřad pro ochranu osobních údajů.</li>
        </ul>
        <h3>Na koho se můžu obrátit, pokud budu mít další dotazy?</h3>
        <p>Pro jakékoliv další vysvětlení týkající se studie se obraťte na: MUDr. Antonín Šebela, Ph.D – odborný garant. NUDZ, Topolová 748, Klecany, email: <a href="mailto:antonin.sebela@nudz.cz">antonin.sebela@nudz.cz</a>.</p>
        <p>Máte-li jakékoliv dotazy týkající se Vašich práv jakožto účastníka této studie obraťte se na Etickou komisi Národního ústavu duševního zdraví; doc. MUDr. Martin Bareš Ph.D. – Etická komise NUDZ, email: <a href="mailto:martin.bares@nudz.cz">martin.bares@nudz.cz</a>.</p>
        <p>Máte-li jakékoliv dotazy týkající se zpracování Vašich osobních údajů, obraťte se na pověřence pro ochranu osobních údajů NUDZ, email: <a href="mailto:gdpr@nudz.cz">gdpr@nudz.cz</a></p>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-podminky-pouziti" role="dialog" aria-labelledby="dialog-title-4">
    <div class="modal__body">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-4">Podmínky použití</h2>
        <h3>INFORMACE PRO ÚČASTNICI PROJEKTU</h3>
        <h4>Na samotu nejsi sama: software ke snižování psychosociálního stresu</h4>
        <p>
          Drahá paní/slečno, <br>
          Národní ústav duševního zdraví (<a href="https://www.nudz.cz">www.nudz.cz</a>) se ve spolupráci s organizací Úsměv mámy (<a href="https://www.usmevmamy.cz">www.usmevmamy.cz</a>) se u nás dlouhodobě snaží zlepšit péči o duševní zdraví žen v těhotenství a po porodu. Vaší účastí můžete našemu cíli také pomoci.
        </p>
        <h5>Co pro mě účast ve studii znamená?</h5>
        <h6>1)	Vyplnění vstupních dotazníků</h6>
        <p>Základní demografické údaje (věk, počet dětí v domácnost, zda jste těhotná nebo po porodu, rodinný stav, vzdělání). Email pro komunikaci.</p>
        <p>Mapujících míru depresivních příznaků, míru úzkostných příznaků, kvalitu života ve vztahu ke zdraví a osamělost.</p>
        <p>Po vyplnění dotazníku budete náhodné přiřazena (tzv. randomizace) do kontrolní nebo intervenční skupiny v poměru 1:1.</p>
        <p>Poté se Vám zobrazí zpětná vazba na Vaše odpovědi.</p>
        <h6>2)	Randomizace</h6>
        <p>Pokud budete zařazena do <i>intervenční skupiny</i>, tak se Vám ihned otevře celý obsah aplikace. Po měsíci od prvního otevření Kogito se Vám v aplikaci zobrazí dotazníky ještě jednou.</p>
        <p>Pokud budete zařazena do <i>kontrolní skupiny</i>, tak prosím Kogito nemažte ze svého telefonu. Plný obsah aplikace se Vám zpřístupní po měsíci od jejího nainstalování. Až uběhne jeden měsíc, tak vyplníte znovu dotazníky a poté se Vám otevře plný obsah Kogito. Poslední dotazníky budete vyplňovat po měsíci užívání Kogito.</p>
        <p>Tedy je 50&nbsp;% šance, že budete aplikaci užívat ihned a 50&nbsp;% šance, že na ni budete muset 1&nbsp;měsíc počkat.</p>
        <h6>3)	Aplikace</h6>
        <p>Obsah aplikace vychází s psychologických a psychoterapeutických metod (kognitivně-behaviorální terapie, mindfulness, psychoedukace, behaviorální aktivizace a relaxace) a sociálně-komunitních peer metod (sdílení vlastního příběhu, zprostředkování nových sociálních vazeb, provázení obtížným obdobím).</p>
        <p>Psychoterapeutický obsah je garantován vedoucí lékařkou oddělení léčby úzkostných poruch MUDr. Jiřinou Kosovou. Lekce kognitivně-behaviorální terapie a další psychoterapeutický obsah aplikace vychází z její dlouholeté praxe.</p>
        <p>Aplikace se skládá z dvou hlavních modulů – tzv cest. Cesta z deprese a Cesta z úzkostí. Každá se skládá z pěti lekcí kognitivně behaviorální terapie, relaxačního bloku (dechová, progresivní svalová, autogenní trénink, peer příběhu, na kterém je kognitivně-behaviorální teorie ilustrována a úkoly, které jsou plněny na nástrojích aplikace.</p>
        <p>Další částí obsahu je tzv. Peer blog. Zde jsou peer metody zpracovány peer konzultantkami Úsměvu Mámy, tedy ženami, které si prožily duševní obtíže v těhotenství nebo po porodu.</p>
        <h5>Budou sbírány ještě nějaká data ?</h5>
        <p>Další zdroj dat k evaluaci aplikace jsou data o jejím užívání, sbíraná aplikací. Po ukončení měsíce užívání aplikace Vám také zašleme krátký dotazník, kde nám můžete na aplikaci dát zpětnou vazbu. Součástí dotazníku jsou také otázky, zda užíváte aktuálně nějakou formu péče o duševní zdraví (např. chodíte k psychiatrovi, na psychoterapie, nebo užíváte pravidelně nějaká psychofarmaka (zde jen skupina léků).</p>

        <h5>Co vlastně znamená kognitivně-behaviorální terapie?</h5>
        <p>Jedná se o psychoterapeutický směr, který vychází z toho, že naše myšlenky mohou ovlivňovat to, jak se cítíme, jaké zažíváme tělesné příznaky a jak se chováme. V rámci kognitivně-behaviorální terapie se učíme analyzovat naše negativní myšlenky a dále s nimi pracovat. Důležitou součástí jsou také relaxační techniky.</p>
        <h5>Co vlastně znamená peer konzultantka?</h5>
        <p>Peer konzultantka je žena s vlastní zkušeností s psychickými obtížemi v těhotenství a po porodu, která již tyto obtíže překonala. Peer konzultantky jsou proškolené v základních technikách pomoci ženám s obtížemi v těhotenství a po porodu. Školení probíhala v Národním ústavu duševního zdraví ve spolupráci s organizací Úsměv Mámy.</p>
        <h5>Co od aplikace nemohu čekat?</h5>
        <p>Náhradu za specializovanou psychologickou či psychiatrickou péči.</p>
        <h5>Budu muset za aplikaci nějak platit?</h5>
        <p>NE</p>
        <h5>Jak dlouho se budu projektu účastnit?</h5>
        <p>Jeden měsíc v případě intervenční skupiny, 2 měsíce v případě kontrolní skupiny.</p>
        <h5>Mohu ze studie kdykoliv odstoupit i bez udání důvodů a požádat vás o vymazání veškerých dat o mě?</h5>
        <p>ANO, účast ve studii je dobrovolná.</p>
        <p>Stažením a registrací do Kogito dáváte svůj informovaný souhlas s Podmínkami použití.</p>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-press" role="dialog" aria-labelledby="dialog-title-6">
    <div class="modal__body modal__body--small">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-6">Press</h2>
        <h3>MUDr. Antonín Šebela, Ph.D.</h3>
        <p>
          <a href="mailto:antonin.sebela@nudz.cz">antonin.sebela@nudz.cz</a>
        </p>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-video-1" role="dialog">
    <div class="modal__body modal__body--video">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <video controls class="video" id="video" preload="metadata">
          <source src="{{ asset('/build/video/video-1620976051.mp4') }}" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-vyhody" role="dialog" aria-labelledby="dialog-title-2">
    <div class="modal__body">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-2">Výhody</h2>
        <p>Kogito bylo vytvořeno se státní podporou Technologické agentury ČR v rámci Programu ÉTA, kód projektu TL04000197.</p>
        <p>Proto je jeho užívání zcela zdarma. V rámci projektu však musíme ověřit jeho efektivitu, proto je možné, že si na něj budete muset měsíc počkat. V tomto případě prosím vydržte.</p>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-dokumenty" role="dialog" aria-labelledby="dialog-title-7">
    <div class="modal__body modal__body--docs">
      <div class="modal__close js-modal-close">
        <div class="icon icon--icon-times">
          <svg class="icon__svg"><use xlink:href="#icon-times"></use></svg>
        </div>
      </div>
      <div class="modal__content">
        <object data="{{ asset('build/docs/souhrnna-vyzkumna-zprava-TL04000197-V2.pdf') }}" type="application/pdf">
          <h2 style="padding: 60px;">No online PDF viewer installed</h2>
        </object>
      </div>
    </div>
  </div>

  <div class="modal modal--callme" id="modal-call-me" role="dialog" aria-labelledby="dialog-title-2">
    <div class="modal__body">
      <div class="modal__close js-modal-close">
      <span class="icon icon--icon-times">
        <svg class="icon__svg">
          <use xlink:href="#icon-times"></use>
        </svg>
      </span>
      </div>
      <div class="modal__content">
        <h2 id="dialog-title-2">Registrujte se!</h2>
        <p>Děkujeme za váš zájem, registraci vám v nejbližší době potvrdíme.</p>
        <form name="contact-phone" class="modal__form" action="{{ path('app_api_contact_phone') }}">
          <p>
            <label for="callmeback">Telefon:</label>
            <input name="phoneNumber" class="modal__input" type="tel" id="callmeback" autocomplete="tel" value="+420" required>
          </p>
          <input type="submit" class="btn btn--success" value="Odeslat">
          <p class="center js-message js-hidden">Vse ok</p>
        </form>
      </div>
    </div>
  </div>
</div>
