<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Znáte pojem “baby blues“?
      </h2>
      <p>Jedná se o normální fyziologický stav duše, kdy maminky po porodu prožívají nejrůznější pocity – radost, lásku, strach, vztek, obavy, nadšení… Pocity se střídají, pláče se, prožívá se neskutečné nadšení, a i tento stav nás může zaskočit. Nejsme totiž často schopné popsat, proč pláčeme, proč máme strach, proč se najednou tak moc radujeme. Nebo se může stát, že nás rozpláče a rozněžní pohled na malou ponožku na šňůře nebo obyčejná písnička z rádia, která nás dříve nechávala chladnými. Ale také se může objevovat stesk a smutek po dřívějším způsobu života, stesk po svém těle před otěhotněním, vztek na plačící dítě, a to i přes to, že máme děťátko dlouho a velmi chtěné. Tento stav je také znám jako poporodní blues nebo poporodní splín.</p>
      <p>Je to normální stav, který po porodu zažije až 70 - 80 % žen. Nastupuje nejčastěji pár dní po porodu a v naprosté většině případů do 14 dní odezní. Největší roli v rozvoji těchto nepříjemných pocitů po porodu hrají hormony, ale také vyčerpání z porodu nebo dopad nové životní situace, kdy si naplno uvědomujeme, že je tu s námi nový člen rodiny.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jaké mohou být symptomy „baby blues“?
      </h2>
      <p>Baby blues má svá pravidla a svůj konec. O baby blues, tedy normální stav, se jedná pokud:</p>
      <ul>
        <li>se pocity rychle střídají – obrovská radost, štěstí, láska se střídá v hodinách se strachem, úzkostí a smutkem. Pocity se mění ve vlnách, nečekaně a často bez jakéhokoliv spouštěče</li>
        <li>nastoupí krátce po porodu (maximálně do 6-7 dnů)</li>
        <li>silné negativní emoce postupně vymizí do 14 dnů</li>
      </ul>
      <p>Pravděpodobně se nejedná o „baby blues“, ale o například o&nbsp;<a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-deprese'}) }}">poporodní depresi</a> nebo <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-uzkosti'}) }}">úzkost</a>, pokud:</p>
      <ul>
        <li>Potíže nemizí, ale naopak se zhoršují</li>
        <li>Smutek, úzkost a vůbec nepříjemné pocity se nestřídají alespoň ob den s příjemnými pocity</li>
        <li>Pokud potíže pokračují déle než 14 dní v kuse</li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Co baby blues způsobuje?
      </h2>
      <p>Baby blues je způsobeno náhlými hormonální změnami, které probíhají ve vašem těle po porodu.  Po porodu nastává velký pokles hladin estrogenů a progesteronu, naopak rostou hladiny oxytocinu a prolaktinu. Tyto rychlé a masivní změny mohou také, obzvláště u žen citlivých na kolísání hladin pohlavních hormonů, vyvolat změny v jejich emocích a náladě.</p>
      <p>V riziku rozvoje silnějšího baby blues po porodu jsou tak ženy, které znají kolísání emocí a nálad v rámci menstruačního cyklu</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Jak můžete s baby blues už nyní bojovat?
      </h2>
      <ul>
        <li>Promluvte si s někým, komu důvěřujete, o svých pocitech, např. s partnerem, rodinným příslušníkem, blízkým kamarádem</li>
        <li>Vyzkoušejte jógu, techniky mindfulness, meditaci a relaxační cvičení</li>
        <li>Jezte pravidelně a zdravě</li>
        <li>Vyhněte se alkoholu, cigaretám. Mohou špatné pocity ještě zhoršit a ublížit vašemu děťátku</li>
        <li>Co nejvíc omezte množství kofeinu. Můžete po něm být ještě úzkostnější a také může působit na miminko skrze mateřské mléko</li>
        <li>Další informace, jak o sebe pečovat, naleznete na webu <a href="https://www.opatruj.se/" target="_blank">Opatruj.se</a></li>
        <li>Zkuste pracovat s naší aplikací <a href="https://www.kogito.cz/" target="_blank">Kogito</a></li>
      </ul>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Léčba „baby blues“
      </h2>
      <p>Baby blues v naprosté většině případů odezní samy do několika dnů, maximálně dvou týdnů po porodu. Psychoterapeutická nebo psychiatrická léčba tak není potřeba.</p>
    </div>
  </div>
</section>
