<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Častou příčinou relapsu onemocnění je vysazení medikace <a href="#literatura1">(1)</a>.
        Samotné těhotenství nicméně
        není považováno za rizikový faktor pro počáteční rozvoj BAP <a href="#literatura2">(2)</a>. </p>
      <p>U žen s&nbsp;afektivní psychózou existuje oproti běžné populaci žen zvýšené riziko předčasného porodu (před 37.
        gestačním týdnem; odds ratio, OR = 1,4; 95% CI = 1,2-1,6) <a href="#literatura3">(3)</a>.
        Riziko zůstává signifikantně
        zvýšené i po zohlednění vlivu kouření, věku matky a komorbidního hypertenzního onemocnění. V&nbsp;případě, že u ženy
        dojde k&nbsp;relapsu afektivní epizody během těhotenství, riziko předčasného porodu se dle studie MacCabe et al.
        (2007) téměř zdvojnásobuje (OR = 2,7; 95&nbsp;% CI = 1,7-4,2). Zmíněná studie má nicméně značné limity – je v&nbsp;ní
        obsažen heterogenní soubor žen (s různými afektivními diagnózami) a rovněž nemáme informace o případné
        farmakoterapii žen v těhotenství. </p>
      <p>Léčba BAP je velmi komplexní a individuální. Mezi nejčastěji užívané stabilizátory nálady v&nbsp;léčbě BAP patří
        lithium, dále pak některá antiepileptika (valproát, lamotrigin a karbamazepin) a některá <a
          href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'antipsychotika-a-tehotenstvi'}) }}">antipsychotika</a>
        druhé
        generace, která mají náladu stabilizující efekt. </p>
      <p>Obecně stabilizátory nálady redukují šíření akčních potenciálů ovlivněním napětím-ovládaných sodných kanálů, a
        v&nbsp;návaznosti působí zvýšení hladin glutamátu v&nbsp;mozku. Také povzbuzují funkce GABAergního systémů. U některých
        stabilizátorů (např. u lithia) stále úplně neznáme přesný mechanismus účinku. Víme ale, že stabilizátory
        procházejí placentou a některé můžou ovlivnit normální vývoj plodu. </p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Vliv stabilizátorů nálad na plod a novorozence:
      </h2>
      <ol>
        <li><strong>Teratogenní efekt </strong></li>
        <p>U 25 z&nbsp;225 dětí vystavených během těhotenství <strong>lithiu</strong> byla dle dat z&nbsp;mezinárodního registru
          ,,lithiových dětí“ založeného v&nbsp;dánském Mogensem Schou v&nbsp;roce 1968 diagnostikována srdeční malformace.
          Osmiprocentní šance na výskyt srdeční vady u těchto dětí představovala skoro desetkrát vyšší výskyt než
          v&nbsp;běžné populaci. Limitací studie je nicméně retrospektivní sběr dat (Weinstein, 1976). </p>
        <p>Riziko výskytu srdečních vad u dětí po expozici lithiu v těhotenství dále zmiňuje i recentní velká kohortová
          studie o 663 exponovaných dětech (relative risk, RR = 1,65; 95&nbsp;% CI =1,02-2,68) <a href="#literatura4">(4)</a>.
          Užívání lithia bylo ve stejné studii dáno do vztahu se zvýšeným výskytem vzácné kardiovaskulární Ebsteinovy
          anomálie. Asociace mezi užíváním lithia v těhotenství a jinými než srdečními malformacemi nebyla u
          exponovaných dětí prokázána. Pokud však je u pacientky lithium jediným stabilizujícím lékem, tak jej po
          poučení o rizicích a souhlasu pacientky nevysazujeme – cílíme však na nejnižší účinnou dávku, případně na jeho
          dočasné vysazení v&nbsp;embryonálním okně, kdy se vyvíjí srdce (první trimestr). </p>
        <p>Užívání <strong>valproátu</strong> v&nbsp;těhotenství prokazatelně zvyšuje výskyt vrozených vývojových vad u
          exponovaných dětí.
          Mezi nejčastější defekty patří malformace neurální trubice, rozštěp rtu a patra a kardiovaskulární a
          skeletální malformace <a href="#literatura5">(5)</a>. Ve studii Campbell et al., 2014 srovnávali
          teratogenní potenciál
          monoterapie valproátem, lamotriginem a karbamazepinem. Vrozené vývojové vady se vyskytly u 86 z&nbsp;1290 dětí,
          jejichž matky v&nbsp;těhotenství užívaly valproát (6,7&nbsp;%; 95% CI = 5,5-8,3), u 45 z&nbsp;1718 dětí vystavených
          karbamazepinu (2,6&nbsp;%; 95% CI = 1,9-3,5), a u 51 z&nbsp;2198 dětí exponovaných in uteru lamotriginu (2,3&nbsp;%; 95% CI =
          1,8-3,1). Efekt dávky byl přitom pozorován u valproátu a karbamazepinu, zatímco u lamotriginu nebyl
          statisticky signifikantní. Vysoký teratogenní potenciál valproátu byl opakovaně replikován v&nbsp;různých studiích
          <a href="#literatura6">(6)</a>. Podobně tomu je i u <strong>karbamazepinu</strong>
          <a href="#literatura7">(7)</a>. Naopak v&nbsp;recentní velké populační studii nebylo zjištěno zvýšené riziko malformací u
          expozice
          <strong>lamotriginem</strong>. Lamotrigin tedy není na rozdíl od valproátu a karbamazepinu v&nbsp;současnosti
          považován za
          teratogen. Substituce folátu během těhotenství neměla na malformace u dětí žádný vliv.</p>
        <li><strong>Riziko porodních komplikací </strong></li>
        <p>Studie zkoumající vztah mezi užíváním stabilizátorů nálady v&nbsp;těhotenství a výskytem předčasného porodu, nízké
          porodní hmotnosti novorozence a spontánního potratu většinou signifikantní vztah nenalezly <a
            href="#literatura8">(8)</a>. Studie nicméně obsahovaly nedostatečně velký vzorek exponovaných dětí, a tedy
          závěry
          ze studií jsou málo uspokojivé. </p>
        <li><strong>Riziko pro novorozence </strong></li>
        <p>U novorozenců exponovaných in utero lithiu byly popsány kazuistiky nefrogenního diabetu insipidu, nižších
          APGAR skórů, hypotonicity a novorozenecké strumy <a href="#literatura9">(9)</a>. U 13 z&nbsp;22
          dětí exponovaných v těhotenství valproátu se objevila hypoglykémie. Nejnižší naměřená hladina glukózy
          dosahovala u těchto dětí 1,0 mmol/l. Žádné z&nbsp;dětí nicméně nevykazovalo klinické symptomy hypoglykémie. Studií
          zabývajících se užíváním stabilizátorů nálad v&nbsp;těhotenství a vlivem na zdraví novorozenců je stále málo, a
          když, tak jsou velmi staré. Nedostatek dat nám nedovolí vyvozovat jasnější závěry. </p>
      </ol>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Závěr:
      </h2>
      <p>Valproát a karbamazepin mají prokázaný teratogenní efekt a jejich užívání v&nbsp;těhotenství je kontraindikováno.
        Lithium relativně zvyšuje riziko specificky pro srdeční malformace, avšak u dětí se neobjevují klinicky
        signifikantní projevy. Tam, kde je to nezbytné, je třeba sledovat aktivitu srdce dítěte pomocí echokardiografie.
        Teratogenní potenciál lamotriginu se zdá být zanedbatelný. Údaje o vlivu užívání stabilizátorů nálady
        v&nbsp;těhotenství na růst plodu, viabilitu těhotenství a poporodní adaptaci novorozence jsou kusé, převážně
        nenacházející klinicky významné asociace. </p>
      <p>Alternativou pro farmakoterapii teratogenními stabilizátory nálad v&nbsp;těhotenství může být relativně bezpečný
        lamotrigin či farmakoterapie pomocí <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'antipsychotika-a-tehotenstvi'}) }}">atypických psychotik</a> druhé generace, o jejichž bezpečnosti během těhotenství
        máme více dat, jež svědčí pro jejich relativní bezpečnost pro vývoj plodu a zdraví novorozence. </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Viguera, A. C., Whitfield, T., Baldessarini, R. J., Newport, D. J., Stowe, Z., Reminick, A., … Cohen, L. S. (2007). Risk of Recurrence in Women With Bipolar Disorder During Pregnancy: Prospective Study of Mood Stabilizer Discontinuation. American Journal of Psychiatry, 164(12), 1817–1824
        </li>
        <li id="literatura2">
          Mota, N., Cox, B. J., Enns, M. W., Calhoun, L., & Sareen, J. (2008). The relationship between mental disorders, quality of life, and pregnancy: Findings from a nationally representative sample. Journal of Affective Disorders, 109(3), 300–304.
        </li>
        <li id="literatura3">
          MacCabe, J. H., Martinsson, L., Lichtenstein, P., Nilsson, E., Cnattingius, S., Murray, R. M., & Hultman, C. M. (2007). Adverse pregnancy outcomes in mothers with affective psychosis. Bipolar Disorders, 9(3), 305–309.
        </li>
        <li id="literatura4">
          Patorno, E., Huybrechts, K. F., Bateman, B. T., Cohen, J. M., Desai, R. J., Mogun, H., … Hernandez-Diaz, S. (2017). Lithium Use in Pregnancy and the Risk of Cardiac Malformations. New England Journal of Medicine, 376(23), 2245–2254.
        </li>
        <li id="literatura5">
          Wise, J. (2017). Women still not being told about pregnancy risks of valproate. BMJ (Clinical Research Ed.), 358, j4426.
        </li>
        <li id="literatura6">
          Werler, M. M., Ahrens, K. A., Bosco, J. L. F., Mitchell, A. A., Anderka, M. T., Gilboa, S. M., … National Birth Defects Prevention Study, T. N. B. D. P. (2011). Use of antiepileptic medications in pregnancy in relation to risks of birth defects. Annals of Epidemiology, 21(11), 842–850.
        </li>
        <li id="literatura7">
          Vajda, F. J. E., O’Brien, T. J., Graham, J., Lander, C. M., & Eadie, M. J. (2016). Is carbamazepine a human teratogen? Journal of Clinical Neuroscience&nbsp;: Official Journal of the Neurosurgical Society of Australasia, 23, 34–37.
        </li>
        <li id="literatura8">
          Hvas, C. L., Henriksen, T. B., ostergaard, J. R., & Dam, M. (2000). Epilepsy and pregnancy: effect of antiepileptic drugs and lifestyle on birthweight. BJOG: An International Journal of Obstetrics and Gynaecology, 107(7), 896–902.
        </li>
        <li id="literatura9">
          Kozma, C. (2005). Neonatal toxicity and transient neurodevelopmental deficits following prenatal exposure to lithium: Another clinical report and a review of the literature. American Journal of Medical Genetics Part A, 132A(4), 441–444.
        </li>
      </ol>
    </div>
  </div>
</section>
